<!-- Discover or for you -->
<div class="container">
  <div class="row mt-4 mb-2 mx-0">
    <div class="col-12 col-md-8 col-xl-6 mx-auto">
      <div class="row mx-0">
        <a class="col mx-2 py-2 btn btn-nav" [routerLink]="['/SpaceStory']" routerLinkActive="selected">{{'CORE.For-You'|translate}}</a>
        <a class="col mx-2 py-2 btn btn-nav" [routerLink]="['/SpaceDiscover/#']"
          routerLinkActive="selected">{{'CORE.Discover'|translate}}</a>
      </div>
    </div>
  </div>
</div>
<!-- Feed's Zone -->
<div *ngIf="(loading$ | async) && !(publication$|async)" class="row mx-0 w-100">
  <div class="m-auto" id="preloader">
    <div id="loader"></div>
  </div>
</div>
<!-- Publication List -->
<div *ngIf="(publication$|async)" class="pt-3">
  <div class="publications-space container px-0">
    <!-- If we have publications -->
    <ngx-masonry *ngIf="(publication$ | async)?.length > 0" class="row mx-0 w-100"
      [options]="optionMasonry" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()" [infiniteScrollContainer]="'.container-router'" [fromRoot]="true">
      <app-feed-publication *ngIf="(publication$ | async)?.length > 0" ngxMasonryItem [space]="'feed-story'"
        class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1">
      </app-feed-publication>
      <app-feed-publication-standard ngxMasonryItem *ngFor="let p of publication$ | async; let i = index"
        class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1" [publication]="p" [space]="space">
      </app-feed-publication-standard>
    </ngx-masonry>
    <!-- If don't have publications -->
    <div *ngIf="(publication$ | async)?.length == 0" class="row mx-0 w-100">
      <app-feed-publication [space]="'feed-story'" class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1">
      </app-feed-publication>
    </div>
  </div>
</div>