//
// Card Publication
//

.card-publication {
  border: 0;
  background-color: transparent;

  .loading-bar {
    height: 0.3rem;

    .container-bar-picture {
      background: #f12711;
      background: -webkit-linear-gradient(to left, #f5af19, #f12711);
      background: linear-gradient(to left, #f5af19, #f12711);
    }

    .container-bar-video {
      background: #8E2DE2;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4A00E0, #8E2DE2);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }

  .btn-send {
    box-shadow: 5px 5px 20px 0 rgba(255, 98, 1, 0.3), 5px 5px 10px 0 rgba(250, 183, 32, 0.3);
    background-image: linear-gradient(75deg, #FAB720, #ff6000);
    color: white;
    border: 0;
    border-radius: 21px;
  }

  .btn-send:hover {
    background-image: linear-gradient(75deg, #ffc237, #f67323);
  }

  .loader-index {
    z-index: 1
  }

  .container-loader {

    .box {
      display: inline-block;
      height: 200px;
      width: 33.3%;
      position: relative;
      /*margin:0 -4px -5px -2px;*/
      transition: all .2s ease;
    }



    .box p {
      color: #777;
      font-family: Lato, "Helvetica Neue";
      font-weight: 300;
      position: absolute;
      font-size: 20px;
      width: 100%;
      height: 25px;
      text-align: center;
      bottom: 0px;
      margin: 0;
      top: 160px;
      background-color: #fff;
      opacity: 0;
      text-transform: uppercase;
      transition: all .2s ease;
    }

    .box:hover p {
      bottom: 0px;
      top: 175px;
      opacity: 1;
      transition: all .2s ease;
      z-index: 2;
    }


    /* -------------- Loader1 -------------- */

    .loader1 {
      background-color: #94949470;
      position: relative;
      height: 3rem;
      width: 3rem;
      border-radius: 80px;
      border: 3px solid rgba(255, 255, 255, .7);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-animation: loader1 3s linear infinite;
      animation: loader1 3s linear infinite;
    }

    .loader1:after {
      background: #4f7dc1b3;
      content: "";
      position: absolute;
      top: -5px;
      left: 20px;
      width: 11px;
      height: 11px;
      border-radius: 10px;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }

    @-webkit-keyframes loader1 {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes loader1 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

  }


  .cardbox-item video {
    width: 100%;
    object-fit: cover;
  }

  .card-video {
    .upload-poster {
      position: absolute;
      z-index: 1;

      .photo-valid {
        color: #757575;
        position: absolute;
        left: -5px;
        top: -5px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        z-index: 1;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      }

      .fa-check:before {
        content: "\f00c";
        font-size: 13px;
        position: absolute;
        left: 3px;
        top: 3px;
      }

      input {
        +label {
          width: 38px;
          height: 38px;
          margin-bottom: 0;
          border-radius: 100%;
          background: #f4f4f4;
          border: 1px solid transparent;
          cursor: pointer;
          font-weight: normal;
          transition: all .2s ease-in-out;

          &:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
          }

          &:after {
            content: "\f030";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            padding-left: 9px;
            padding-top: 6px;
            text-align: center;
            margin: auto;
          }
        }
      }

      span h5 {
        padding-right: 12px;
        color: white;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 11px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 30px;
      }
    }
  }

  /*
  * ===========================================================
  *     UPLOAD POST
  * ===========================================================
  */

  .container-oneHastag {
    .fa-times {
      cursor: pointer;
    }
  }

  .post-text {
    text-align: center;

    .bg-option-hastag {
      background: #eaeaea1c;
    }

    textarea {
      color: white;
      max-height: 270px;
    }

    textarea::placeholder {
      color: white;
    }

    .content-text {
      width: 75%;
      overflow: hidden;
      resize: vertical;
      border: none;
      padding: 5px;
      font-size: 1.3rem;
      text-align: center;
      transition: all .2s ease-in-out;
      resize: none;
      background: transparent;
    }

    .content-text:focus-within {
      border: none;
    }

    .blockBox {
      height: 20px;
      background-position: center;
      background-size: cover;
      width: 20px;
      margin: 2%;
      border-radius: 25%;
      margin: 4px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
      cursor: pointer;
    }
  }

  // choice of background
  .choice1 {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  }

  .choice2 {
    background-image: linear-gradient(45deg, rgb(255, 0, 71) 0%, rgb(44, 52, 199) 100%);
  }

  .choice3 {
    background-image: linear-gradient(to left bottom, #17ea8a, #00c6bb, #009bca, #006dae, #464175);
  }

  .choice4 {
    background-image: linear-gradient(to right top, #282812, #4a3707, #7b3d07, #b43527, #eb125c);
  }

  .choice5 {
    background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000);
  }

  .choice6 {
    background-image: linear-gradient(to left bottom, #8d7ab5, #dc74ac, #ff7d78, #ffa931, #c0e003);
  }

  /*
  * ===========================================================
  *     UPLOAD PICTURE
  * ===========================================================
  */

  #button-download {


    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    input {
      +label {
        width: 45px;
        height: 45px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #f4f4f4;
        border: 1px solid transparent;
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
      }

    }
  }

  .container-picture-publication {
    overflow: hidden;

    img {
      image-orientation: from-image
    }

    .container-description {
      position: absolute;
      bottom: 0;
      transition: height 0.2s ease;
      background: linear-gradient(rgba(755, 0, 0, 0), 20%, #000000);
      opacity: 0.7;

      textarea {
        resize: none;
        background-color: transparent;
        border: none;
        color: white;
      }

      .display-hover {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
      }
    }

    .container-description:hover {
      .display-hover {
        max-height: 20rem;
        transition: max-height 0.25s ease-in;
      }
    }

    .title-comment {
      font-size: 1.2rem;
      color: white;
      font-weight: 300;
    }

  }


  .picture-download {
    border-bottom: 2px solid #f4f4f4;
    background-color: #e2e2e2;
  }


  .cardbox-comments .btn-warning {
    background-image: linear-gradient(to right top, #fafa65, #b4cfca, #1cf5ff);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }


  .rotated {
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(45deg);
    /* Firefox 3.5-15 */
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -o-transform: rotate(45deg);
    /* Opera 10.50-12.00 */
    transform: rotate(45deg);
    /* Firefox 16+, IE 10+, Opera 12.10+ */
  }

  /*
  *
  * ===========================================================
  *     MAKE A CHOICE
  * ===========================================================
  *
  */

  .btn-back {

    em {
      font-size: 18px;
      color: #b5b6b6;
    }
  }

  .btn-back:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*
  *
  * ===========================================================
  *     HERO SECTION
  * ===========================================================
  *
  */

  .hero {
    padding: 6.25rem 0px !important;
    margin: 0px !important;
  }

  .cardbox {
    border-radius: 15px;
    margin-bottom: 12px;
    padding: 0px !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  /* ------------------------------- */

  /* Cardbox Heading
  ---------------------------------- */

  .cardbox-heading {
    .btn-rotation {
      border-radius: 50%;
      font-size: 24px;
      height: 45px;
      width: 45px;
      color: #fff !important;
      border: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .btn-choice {
    font-size: 22px !important;
    height: 45px !important;
    width: 45px !important;
  }

  .cardbox .btn-flat.btn-flat-icon {
    border-radius: 50%;
    font-size: 16px;
    height: 30px;
    width: 30px;
    padding: 0;
    overflow: hidden;
    color: #fff !important;
    background: #b5b6b6;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .button-open {
    background-image: linear-gradient(to right top, #fc00ff, #ff6a00);
  }

  .button_close {
    background-image: linear-gradient(to right top, #b9afb2, #d195a4, #e5778f, #f55174, #ff0053);
  }

  .cardbox .float-right .dropdown-menu {
    position: relative;
    left: 13px !important;
  }

  .cardbox .float-right a:hover {
    background: #f4f4f4 !important;
  }

  .cardbox .float-right a.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 0px 4px 10px;
    clear: both;
    font-weight: 400;
    font-size: 14px !important;
    color: #848484;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  }

  /* ------- Heading  ---------- */

  .cardbox-heading {

    .avatar {
      display: inline-block;
      width: 48px;
      height: 48px;
      border: 2px solid #f4f4f4;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
      -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
      cursor: pointer;
      overflow: hidden;
      position: relative
    }

    .avatar:hover:not(:first-child) {
      img {
        border: none;
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }

      .btn-delete {
        display: block;
      }
    }

    .btn-delete {
      border-radius: 50%;
      height: 35px;
      width: 35px;
      position: absolute;
      left: 8px;
      top: 8px;
      background-color: transparent;
      border: 0;
      display: none;

      i {
        color: white;
        text-shadow: 0 0 2px black;
      }
    }

    .avatar:not(:first-child) {
      margin-left: -18px !important;
    }

    .avatar:hover:not(:first-child) {
      width: 53px;
      height: 53px;
      transition: 0.5s;
    }


    .more-avatar {
      border-radius: 50%;
      width: 48px;
      height: 48px;
      display: inline-block;
      position: absolute;
      margin-left: -18px !important;
      background-color: white;
      overflow: hidden;
      border: 2px solid #f4f4f4;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
      -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
      cursor: pointer;

      span {
        position: absolute;
        left: 10px;
        top: 9px;
        color: white;
        text-shadow: 0 0 2px black;
      }

      img {
        border: none;
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
    }

    .avatar img {
      object-fit: cover;
    }

    .list-avatar {
      .avatar {
        img:not(:first-child) {
          margin-left: -18px !important;
        }
      }
    }

    .description {
      p {
        font-weight: 500 !important;
        font-size: 14px;
        color: #88898a;
        flex: 0 1 auto;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
      }

      small span {
        font-size: 12px;
        color: #aaa;
        margin-right: 10px;
      }
    }
  }


  /* ------------------------------- */

  /* Cardbox Item
  ---------------------------------- */

  .cardbox .cardbox-item {
    position: relative;
    display: block;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .fw {
    width: 100% !important;
    height: auto;
  }

  /* ------------------------------- */

  /* Cardbox Base
  ---------------------------------- */

  .cardbox-base ul {
    margin: 10px 0px 10px 15px !important;
    padding: 10px !important;
    font-size: 0px;
    display: inline-block;
  }

  .cardbox-base li {
    list-style: none;
    margin: 0px 0px 0px -8px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block;
  }

  .cardbox-base li a {
    margin: 0px !important;
    padding: 0px !important;
  }

  .cardbox-base li a i {
    position: relative;
    top: 4px;
    font-size: 16px;
    color: #8d8d8d;
    margin-right: 15px;
  }

  .cardbox-base li a span {
    font-size: 14px;
    color: #8d8d8d;
    margin-left: 20px;
    position: relative;
    top: 5px;
  }

  .cardbox-base li a em {
    font-size: 14px;
    color: #8d8d8d;
    position: relative;
    top: 3px;
    z-index: 2;
  }

  .cardbox-base li a img {
    width: 25px;
    height: 25px;
    margin: 0px !important;
    border: 2px solid #fff;
  }

  /* ------------------------------- */

  /* Cardbox Comments
  ---------------------------------- */

  .cardbox-comments {
    padding: 16px;
    font-size: 0px;
    display: flex;
    align-items: flex-start;
  }

  .border-comment {
    border-bottom: 2px solid #f4f4f4;
  }

  .cardbox-comments .comment-avatar img {
    margin-top: 1px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
  }

  .cardbox-comments .comment-body {
    overflow: auto;
  }

  .comment-logo {
    button {
      border-radius: 50%;
      font-size: 24px;
      height: 45px;
      width: 45px;
      color: white;
      background: #80b380;
      border: none;
    }
  }

  .search {
    position: relative;
    border: 2px solid #f4f4f4;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    min-height: 55px;
  }

  .search textarea {
    background-color: #fff;
    line-height: 24px;
    padding: 14px 26px 10px 24px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    color: #8d8d8d;
    height: inherit;
    font-weight: 700;
    outline: none;
    resize: none;
  }

  .search button {
    position: absolute;
    right: 0;
    top: -3px;
    border: none;
    background-color: transparent;
    color: #bbbbbb;
    padding: 15px 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
  }

  .search button i {
    font-size: 20px;
    line-height: 30px;
    display: block;
  }

  /* ------------------------------- */

  /* Author
  ---------------------------------- */

  .author a {
    font-size: 16px;
    color: #00C4CF;
  }

  .author p {
    font-size: 16px;
    color: #8d8d8d;
  }

  /* ------------------------------- */

  /* test
  ---------------------------------- */


  .progress {
    border-radius: 0;
    height: 5px;
  }

  .dropdown-menu {
    border-radius: 19px;
    position: absolute;
    border: 1px solid #e4dfdf;
    top: -15.5rem !important;
    left: -16rem !important;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 0, 0) !important;
    display: block;
    visibility: hidden;
    transition: .5s ease all;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175) !important;
    width: 16rem;
    z-index: 3;

    input {
      border: 0;
      font-size: 0.9rem;
    }

    .fa-search {
      color: grey;
    }
  }

  .profile-found:hover {
    background-color: #ebebeb;

    .pseudo {
      display: none;
    }

    .add {
      display: block;
    }
  }

  .dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: .3s ease all;
  }

  .container-feat-avatar {
    height: 12rem;
    overflow-y: scroll;

    img {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      object-fit: cover;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.275) !important;
      border: 2px solid white;
    }

    .add {
      display: none;
      cursor: pointer;
    }

    span {
      color: grey;
    }

  }

  // progress bar

  .progress-bar {
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }


  // alert 

  ::ng-deep .mat-simple-snackbar,
  .mat-simple-snackbar-action button {
    font-size: 17px !important;
  }


  // container-hastag

  .container-oneHastag {

    .oneHastag {
      border-radius: 25px;
      background-color: #e0e0e026;
      color: white;
    }

  }

  .container-hastag {
    border: 0;
    border-radius: 15px;
    background-color: #e8e8e84d;

    input,
    input::placeholder,
    span {
      background-color: transparent;
      color: white;
    }

    .hastag-icon {
      position: relative;
      left: 8px;
    }

    input {
      border: 0;
    }

  }

}