//
// Card Standard
//

.card {
  background-color: white;

  .content-input {
    cursor: text
  }

  .owner-publication {
    cursor: pointer;
  }

  .cardbox {
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 0px !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

    .cardbox-heading {
      height: 4.8rem;

      .avatar-owner {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
        -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
        overflow: hidden;
        border: 2px solid white;
        cursor: pointer;

        img {
          padding: 0;
          object-fit: cover;
        }
      }

      .avatar-owner:hover {
        width: 53px;
        height: 53px;
        transition: 0.5s;
      }

      .avatar-owner:not(:first-child) {
        margin-left: -18px;
      }


      .dropdown-menu {
        position: absolute;
        transform: translate3d(-136px, 28px, 0px);
        top: 0px;
        left: 0px;
        will-change: transform;
      }

      .btn-flat.btn-flat-icon {
        border-radius: 50%;
        font-size: 24px;
        height: 32px;
        width: 32px;
        padding: 0;
        overflow: hidden;
        color: #fff !important;
        background: #d4d4d4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .description {

        p {
          font-weight: 500 !important;
          font-size: 14px;
          color: #88898a;
        }

        span {
          font-size: 12px;
          color: #aaa;
          margin-right: 10px;
        }

      }
    }

    .cardbox-item {
      position: relative;
      display: block;
      border-top: 1px solid #f4f4f4;
    }

    .cardbox-base {
      border-bottom: 2px solid #f4f4f4;
      position: relative;

      ul {
        margin: 0px 0px 10px 15px;
        padding: 10px !important;
        font-size: 0px;
        display: inline-block;
      }

      .comment-share {
        margin-top: 5px;
      }

      .fa-comments {
        color: #8d8d8d;
      }

      .fa-heart {
        color: white;
        background-image: linear-gradient(to right top, #e91010, #ff557d, #ff5272, #ff4e4e, #ff0000);
        font-size: 16px;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 100%;
        border: #d9d9d9 solid 1px;
        padding: 7px 7px 6px 7px;
        width: 32px;
        height: 32px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }

      .fa-heart:hover,
      .liked {
        color: #7e94ff !important;
        background: white;
        transition: 0.2s;
        font-size: 19px;
        padding: 7px 0px 0px 6.5px;
        border: 0;
      }

      li {
        list-style: none;
        margin: 0px 0px 0px -8px !important;
        padding: 0px 0px 0px 0px !important;
        display: inline-block;

        a {
          margin: 0px !important;
          padding: 0px !important;

          i {
            position: relative;
            top: 4px;
            font-size: 16px;
            margin-right: 15px;
          }

          span {
            font-size: 14px;
            color: #8d8d8d;
            margin-left: 20px;
            position: relative;
            top: 5px;
          }

          em {
            font-size: 14px;
            color: #8d8d8d;
            position: relative;
            top: 3px;
          }

          img {
            width: 25px;
            height: 25px;
            margin: 0px !important;
            border: 2px solid #fff;
          }

        }
      }
    }

    .cardbox-comments {
      padding: 16px 16px 16px 16px;
      display: flex;
      align-items: flex-start;
      position: relative;

      .comment-avatar {
        img {
          margin-top: 1px;
          margin-right: 10px;
          position: relative;
          display: inline-block;
          text-align: center;
          width: 40px;
          height: 40px;
          object-fit: cover;
          border: 2px solid #f4f4f4;
          padding: 1px;
        }
      }

      .comment-body {
        overflow: auto;
      }

    }

    .new-comment {
      position: relative;
      border: 1px solid #e6e6e6;
      width: 100%;
      border-radius: 12px;

      .postcomment {
        background-color: #fff;
        min-height: 1rem;
        border: none;
        border-radius: 25px;
        font-size: 14px;
        color: #8d8d8d;
        display: block;
      }

      button {
        border: none;
        background-color: transparent;
        color: #bbbbbb;
        cursor: pointer;

        i {
          font-size: 20px;
          line-height: 30px;
          display: block;
        }
      }
    }

    .messages {
      .view-comment {
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: 2px solid #f4f4f4;
          padding: 2px;
        }

        p {
          font-weight: 500 !important;
          font-size: 13px;
          color: #88898a;

          strong {
            font-size: 15px;
            color: orange;
          }

          i {
            color: #007bff;
            font-size: 15px;
          }

          i:hover {
            //background-color: red;
          }
        }
      }
    }

  }
}

// Piin's Post

.content-post-text {
  .post-written {
    text-align: center;
    color: white;
    min-height: 150px;

    span {
      font-size: 1.3rem;
      max-width: 300px;
    }
  }

  .oneHastag {
    span {
      font-size: 0.9rem;
    }
  }
}

// Publication Picture

.container-picture-publication {

  .container-description {
    position: absolute;
    bottom: 0;
    transition: height 0.2s ease;
    background: linear-gradient(rgba(755, 0, 0, 0), 20%, #000000);
    opacity: 0.7;

    span {
      color: white;
      font-size: 1.1rem;
      font-weight: 300;
    }

    .display-hover {
      max-height: 0;
      transition: max-height 0.15s ease-out;
      overflow: hidden;
    }

  }
}

.container-picture-publication:hover {
  .display-hover {
    max-height: 20rem !important;
    transition: max-height 0.25s ease-in !important;
  }
}

// Piin's Video

.cardbox-item video {
  width: 100%;
  object-fit: cover;
}

// Piin's Event

.cardbox-item {
  .list-friends {
    position: absolute;
    left: 25px;
    top: 10px;
  }

  .btn-participate {
    position: absolute;
    transition: 0.3s;
    right: 15px;
    top: 10px;
  }

  .btn-participate:hover {
    .btn {
      background-color: #e2e6ea;
      color: grey;
      transition: 0.3s;
    }
  }


  .btn-date {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}

.list-friends {
  ul {
    font-size: 0px;
    display: inline-block;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0px 0px 0px -8px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline;
  }

  li a img {
    width: 30px;
    height: 30px;
    margin: 0px !important;
    border: 2px solid #fff;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
}


.card {

  .container-oneHastag {

    .oneHastag {
      border-radius: 25px;
      background-color: #e0e0e061;
      color: white;
      cursor: pointer;
    }

    .oneHastag:hover {
      background-color: #e0e0e091;
    }

  }
}