:host {
  width: 100%;
}

.available {
  .not-avaible-header {
    background-color: #f2f2f2;
    height: 3rem;
  }
}

.musicImg {
  position: relative;

  img {
    border-radius: 20px;
    box-shadow: 0 0rem 11px rgba(0, 0, 0, 0.275);
    object-fit: cover;
    height: 225px;
    width: 300px;
  }

  .container-btn-modif {
    width: 300px;
    position: absolute;
    bottom: 8px;
    height: 31px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(rgba(255, 0, 0, 0), 60%, #000000);
    display: none;
  }

  span {
    color: white;
  }

  span:hover {
    text-decoration: underline;
    color: #8888ff;
    cursor: pointer;
  }
}

.container-logo-date {
  position: absolute;
  top: -3px;
  left: 5px;
}

.error-date {
  color: red;
}

.cancelDateSetting {
  color: #7777ff;
  cursor: pointer;
  font-weight: 500;
}

.cancelDateSetting:hover{
  text-decoration: underline;
}

.musicImg:hover {
  .container-btn-modif {
    display: block;
  }
}

.setting-title, .setting-date{
  border-radius: 7px;
  border: lightgrey solid 1px
}

.container-setting-title, .container-setting-date {
  button span {
    color: #007bff
  }
  button:hover span {
    color: white;
  }
}

.card {
  border-radius: 20px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.175);
  font-weight: 300;
}

.avatar {
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
    transition: 0.3s;
    cursor: pointer;
  }
  img:hover{
    width: 55px;
    height: 55px;
    transition: 0.3s;
  }
}

span {
  color: grey;
  p {
    margin-bottom: 0;
  }
}

.name {
  .title {
    font-size: 1.1rem
  }

  .pseudo {
    font-size: 0.9rem
  }
}

.feat {
  .avatar:not(:first-child) {
    margin: 0px 0px 0px -16px !important;
  }
}

.fa-heart{
  color: white;
  background-color: red;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  border: #d9d9d9 solid 1px;
  padding: 7px 7px 6px 7px;
  width: 32px;
  height: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fa-heart:hover{
  width: 35px;
  font-size: 20px;
  height: 35px;
  transition: 0.5s;
  padding: 8px 4px 5px 7px;
  color: #c53434;
  background: white;
}

.isLiked {
  color: #c53434;
  background: white;
}

.isLiked:hover {
  color: white;
  background-color: red;
}

.option-button {
  display: none;
  border: 0;
  background: transparent;

  .fa-ellipsis-h{
    color: grey;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
    padding: 8px 9px 6px 10px;
    width: 32px;
    height: 32px;
  }
}

.header-btn {

  button {
    border: 0;
    background: none;
  }

  .fa-angle-down {
    color: #607aaa;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 100%;
    width: 32px;
    height: 32px;
  }

}



.dropdown-menu {
  border-radius: 19px;
  border: 1px solid #e4dfdf;
  top: 4px !important;
  left: -126px !important;
  overflow: hidden;
  opacity:0;
  transform: translateY(50px);
  display: block;
  visibility: hidden;
  transition:.5s ease all;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  border: 0;
  cursor: pointer;
}

.dropdown-toggle {
  background-color: transparent;
}

.dropdown-menu.show {
  border: 0;
  display: block;
  visibility: visible;
  opacity:1;
  transform: translateY(0px);
  transition:.3s ease all;
}

.modal-content {
  background: red !important;
}

.oneMusic{
  border-radius: 20px;
}

.oneMusic:hover {
  box-shadow: 0 0rem 4px rgba(0, 0, 0, 0.175);
  background-color: #ececec;

  .fa-play, .fa-pause, .fa-ellipsis-h {
    background-color: white;
  }

  .option-button  {
    display: block;
  }
}

.fa-play {
  cursor: pointer;
  background-color: #e6e6e6;
  padding: 10px 10px 10px 12px;
  border-radius: 50%;
}

.fa-pause {
  cursor: pointer;
  padding: 10px 12px 10px 12px;
  border-radius: 50%;
}


.title {
  input {
    border-radius: 15px;
    border: 2px solid #65bd9d;
    background-color: white;
  }
}

.album-span {
  font-size: 1.2rem;
  text-transform: uppercase;
}


.container-btn-setting {
  position: absolute;
  z-index: 1;

  button {
    position: absolute;
    right: 3%;
    top: 2rem;
    border: 0;
    font-size: 1.3rem;

    .fa {
      color: #818181;
    }
  }


  button:hover {

    .fa {
      color: #7a67c5;
    }
  }
}
