<div class="PasswordIn signIn bg-white">
        <div class="col mb-3">
          <h1>{{ 'LOGIN-REGISTRER.Email-adress-sent' | translate }}</h1>
          <p>{{ 'LOGIN-REGISTRER.Checking-yr-mail' | translate }}</p>
        </div>
        <div class="col">
          <img class="checked mb-4" src="assets/img/checked.png" alt="Mail Sent">
        </div>
        <!-- ***WARNING Click on this span to redirect on Changing Password, delete this span after you are done-->
        <span class="mt-5 d-flex justify-content-center" [routerLink]="['/sign/changing-password/:token']">Go to change password</span>
</div>
