*:focus {
  outline: none !important;
}

.dropdown-toggle::after {
  content: none !important;
}

html,
body {
  height: 100%;
}

.mat-raised-button[disabled] {
  cursor: no-drop;
}

.title {
  span {
    font-size: 1.3rem;
    color: grey;
    border-bottom: 1px solid #eae9e9;
  }
}

.card-columns {
  width: 100%;
}