<!-- Var -->
<input hidden #pic type='file' name="photo" id="pic" accept=".png, .jpg, .jpeg" (change)=openCrooperMusicImg($event) />
<span hidden>{{pictureUrl}}</span>

<!-- Component Body -->
<div class="container mb-5">
  <form class="mt-4" [formGroup]="albumForm">
    <!-- Title -->
    <div class="title">
      <span>{{'WIINS-MUSIC.Album-creation'|translate}}</span>
    </div>
    <!-- Album info -->
    <div class="row mt-3">
      <div class="col-12 col-md-5 my-auto pb-5">
        <div class="row container-img mx-auto" [ngClass]="{'no-border': pictureImg}">
          <label for="pic" class="my-auto img-upload" *ngIf="!pictureImg">
            <i class="fa fa-camera fa-2x"></i>
          </label>
          <img *ngIf="pictureImg" [src]="pictureImg">
          <div class="edit-picture row" *ngIf="pictureImg">
            <label for="pic" class="ml-2 my-auto">
              <span>{{'CORE.Edit'|translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="information">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>{{'WIINS-MUSIC.Album-name'|translate}}</label>
                <input type="text" class="form-control pl-4" formControlName="title">
              </div>
            </div>
            <div class="d-flex mt-4">
              <i class="ml-auto pt-1 fa fa-2x fa-check-circle-o" [ngClass]="{'is-valid': !f.title.errors}"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-date">
                <div class="form-group">
                  <label>{{'CORE.Visibility-date'|translate}}</label>
                  <div class="form-date">
                    <div class="form-control">
                      <div class="content-date">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="position-absolute"></mat-datepicker-toggle>
                        <input class="no-border" matInput [matDatepicker]="picker"
                          [placeholder]="'CORE.Chosse-a-date'|translate" formControlName="dateVisibility">
                        <mat-datepicker #picker></mat-datepicker>
                      </div>
                    </div>
                    <div *ngIf="f.dateVisibility.errors?.date && f.dateVisibility.touched">
                      <span class="ml-3 ml-1 alert-date">{{'ERROR-MESSAGE.Date-must-b-after-today'|translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mt-4">
              <i class="ml-auto pt-1 fa fa-2x fa-check-circle-o" [ngClass]="{'is-valid': !f.dateVisibility.errors}"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Array of music -->
    <div class="array-music mt-5 mb-9">
      <div class="row mx-0" *ngFor="let music of music.controls; let i = index">
        <div class="col-md-1 my-auto h-100 px-0">
          <div class="row mx-0 enum">
            <span class="m-auto">{{i + 1}}</span>
          </div>
        </div>
        <div class="col-md-11 px-0">
          <div class="example-box" [formGroup]="music">
            <div class="item row my-4 w-100">
              <div class="col-md-2 row mx-0 my-auto">
                <div class="logo-play mx-auto mt-1">
                  <i *ngIf="loadingMusic[i] == null || loadingMusic[i] == false" class="fa fa-2x fa-play-circle"></i>
                  <div *ngIf="loadingMusic[i]" class="loader"></div>
                </div>
              </div>
              <div class="col-md-4 mt-1 my-auto">
                <input class="p-2 pl-4 w-100 h-100" formControlName="name" type="text"
                  [placeholder]="('CORE.music'|translate)+ ' ' +(i+1)"
                  [ngClass]="{'border-red': submited && music.controls.name.errors}"
                  [ngClass]="{'no-border': !music.controls.name.errors}">
              </div>
              <div class="col-md-3">
                <div class="row add-feat">
                  <!-- <div ngbDropdown class="col-md-5 row my-auto">
                    <button ngbDropdownToggle class="btn-plus ml-auto mr-3" role="button" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fa fa-plus pt-1"></i>
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu pb-0">
                      <div class="row mx-0 w-100">
                        <div class="col-md-9">
                          <input [formControl]="searchField" type="text" class="w-100"
                            [placeholder]="'PLACEHOLDER.Type-t-pseudo'|translate">
                        </div>
                        <div class="col-md-3 row mx-0 my-auto">
                          <i class="mx-auto fa fa-search"></i>
                        </div>
                      </div>
                      <div class="dropdown-divider mb-0"></div>
                      <div class="container-feat-avatar" *ngIf="resultsProfile$ | async; let resultsProfile">
                        <div class="row mx-0 profile-found py-1" *ngFor="let profile of resultsProfile">
                          <div class="col-md-4 my-auto">
                            <div class="avatar row">
                              <img class="mx-auto" [src]="profile.pictureprofile">
                            </div>
                          </div>
                          <div class="col-md-8 my-auto">
                            <span class="pseudo">{{profile?._meta?.pseudo}}</span>
                            <span class="add" (click)="featAdded(i, profile)">Ajouter</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-7 row" *ngIf="featArray[i].length !== 0">
                    <div class="feat-avatar" *ngFor="let featP of featArray[i]">
                      <img class="rounded-circle" [(src)]="featP.pictureprofile">
                      <button class="btn-delete" (click)="deleteFeat(featP._id, i)"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 my-auto">
                <button type="button" class="btn btn-secondary" (click)="openCreditModal()">
                  <i class="bi bi-shield-shaded"></i>
                </button>
              </div>
              <div class="col-md-1 my-auto">
                <div class="album-btn-download">
                  <div class="content-link">
                    <label for="musicUpload{{i}}" class="btn btn-secondary mb-0" [ngClass]="{'btn-success': !!musicUrl[i]}">
                      <i class="bi bi-download" fill="currentColor"></i>
                    </label>
                    <input hidden type='file' id="musicUpload{{i}}" accept=".mp3" (change)=addMusicUpload($event,i) />
                  </div>
                </div>
              </div>
              <div class="col-md-1 my-auto">
                <button type="button" class="btn btn-danger" (click)="delete(i)">
                  <i class="bi bi-x-square"></i>
                </button> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-0 w-100 py-3">
        <div class="col-md-4 row mx-0">
          <div class="mx-auto">
            <button class="btn button-open" type="button" (click)="addArray()">
              <em class="fa fa-plus"></em>
            </button>
            <span class="ml-3">{{'WIINS-MUSIC.Add-a-music'|translate}}</span>
          </div>
        </div>
        <div class="col-md-4 mx-0 my-auto errorMessage">
        </div>
        <div class="col-md-4 row">
          <div class="mx-auto">
            <button class="btn btn-send" type="button" (click)="submit()">
              <em class="fa fa-arrow-circle-o-right position-relative"></em>
              <span class="mx-2">{{'CORE.Send'|translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>