/*
* ===========================================================
*     CARD
* ===========================================================
*/

.card {
  border: 0;
  background-color: transparent;
}


/*
* ===========================================================
*     UPLOAD VIDEO
* ===========================================================
*/

.cardbox-item video {
  width: 100%;
  object-fit: cover;
}

.card-video {
  .upload-poster {
    position: absolute;
    z-index: 1;

    .photo-valid {
      color: #757575;
      position: absolute;
      left: -5px;
      top: -5px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      z-index: 1;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    }

    .fa-check:before {
      content: "\f00c";
      font-size: 13px;
      position: absolute;
      left: 3px;
      top: 3px;
    }

    input {
      +label {
        width: 38px;
        height: 38px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #f4f4f4;
        border: 1px solid transparent;
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }

        &:after {
          content: "\f030";
          font-family: 'FontAwesome';
          color: #757575;
          position: absolute;
          padding-left: 9px;
          padding-top: 6px;
          text-align: center;
          margin: auto;
        }
      }
    }

    span h5 {
      padding-right: 12px;
      color: white;
      padding-top: 6px;
      padding-bottom: 5px;
      padding-left: 11px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 30px;
    }
  }
}

/*
* ===========================================================
*     UPLOAD POST
* ===========================================================
*/

.post-text {
  text-align: center;
  max-height: 380px;

  textarea {
    color: white;
    max-height: 270px;
  }

  textarea::placeholder {
    color: white;
  }

  .content-text {
    width: 75%;
    overflow: hidden;
    resize: vertical;
    border: none;
    padding: 5px;
    font-size: 1.3rem;
    text-align: center;
    transition: all .2s ease-in-out;
    resize: none;
    background: transparent;
  }

  .content-text:focus-within {
    border: none;
  }

  .blockBox {
    height: 20px;
    background-position: center;
    background-size: cover;
    width: 20px;
    margin: 2%;
    border-radius: 25%;
    margin: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
    cursor: pointer;
  }
}

// choice of background
.choice1 {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.choice2 {
  background-image: linear-gradient(45deg, rgb(255, 0, 71) 0%, rgb(44, 52, 199) 100%);
}

.choice3 {
  background-image: linear-gradient(to left bottom, #17ea8a, #00c6bb, #009bca, #006dae, #464175);
}

.choice4 {
  background-image: linear-gradient(to right top, #282812, #4a3707, #7b3d07, #b43527, #eb125c);
}

.choice5 {
  background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000);
}

.choice6 {
  background-image: linear-gradient(to left bottom, #8d7ab5, #dc74ac, #ff7d78, #ffa931, #c0e003);
}

/*
* ===========================================================
*     UPLOAD PICTURE
* ===========================================================
*/

#button-download {
  input {
    +label {
      // position: absolute;
      display: inline-block;
      left: 161px;
      width: 45px;
      height: 45px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #f4f4f4;
      border: 1px solid transparent;
      cursor: pointer;
      font-weight: normal;
      transition: all .2s ease-in-out;

      &:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
      }
    }

    &#upload_picture+label {
      &:after {
        content: "\f030";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        padding-left: 13px;
        padding-top: 9px;
        text-align: center;
        margin: auto;
      }
    }

    &#upload_video+label {
      &:after {
        content: "\f03d";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        padding-left: 13px;
        padding-top: 9px;
        text-align: center;
        margin: auto;
      }
    }
  }
}

.picture-download {
  border-bottom: 2px solid #f4f4f4;
  background-color: #e2e2e2;
}

.card {
  border: 0;
}

.cardbox-comments .btn-warning {
  border-radius: 15px;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}


.photo-text {
  position: absolute;
  width: 100%;
  background: linear-gradient(rgba(755, 0, 0, 0), 20%, #000000);
  height: 45px;
  opacity: 0.7;
  color: white;
  padding: 10px;
  font-size: 0.9em;
  transform: translate(0%, -100%);
  text-align: center;
  overflow: hidden;
  transition: height 1s ease;
  z-index: 1;

  .fa {
    font-size: 1.4rem;
    position: absolute;
    padding-left: 5px;
    z-index: 3;
  }

  .content-title {
    resize: none;
    width: 100%;
    background-color: transparent;
    ;
    border: none;
    color: white;
    font-size: 1.3rem;
    text-align: center;
  }

  span {
    font-size: 1.2rem;
    color: white;
  }
}

.photo-text:hover {
  height: 112px;
  transition: height 1s;
  transition-timing-function: ease;
}

.rotated {
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(45deg);
  /* Firefox 3.5-15 */
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -o-transform: rotate(45deg);
  /* Opera 10.50-12.00 */
  transform: rotate(45deg);
  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

/*
*
* ===========================================================
*     MAKE A CHOICE
* ===========================================================
*
*/

.btn-back {
  cursor: default;
  position: absolute;
  left: 20%;

  em {
    font-size: 18px;
    color: #b5b6b6;
    cursor: pointer;
  }
}

.btn-back:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/

.hero {
  padding: 6.25rem 0px !important;
  margin: 0px !important;
}

.cardbox {
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 0px !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

/* ------------------------------- */

/* Cardbox Heading
---------------------------------- */

.cardbox-heading {
  .avatar-page img {
    object-fit: cover;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border: white solid 2px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
  }

  p {
    font-weight: 500 !important;
    font-size: 14px;
    color: #88898a;
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  small {
    font-weight: 400;
    font-size: 12px;
    color: #aaa;
  }
}

.cardbox .btn-flat.btn-flat-icon {
  border-radius: 50%;
  font-size: 24px;
  height: 45px;
  width: 45px;
  padding: 0;
  overflow: hidden;
  color: #fff !important;
  background: #b5b6b6;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardbox-heading {
  .btn {
    border-radius: 50%;
    font-size: 24px;
    height: 45px;
    width: 45px;
    padding: 0;
    overflow: hidden;
    color: #fff !important;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.button-open {
  background-image: linear-gradient(to right top, #fc00ff, #ff6a00);
}

.button_close {
  background-image: linear-gradient(to right top, #b9afb2, #d195a4, #e5778f, #f55174, #ff0053);
}

.cardbox .float-right .dropdown-menu {
  position: relative;
  left: 13px !important;
}

.cardbox .float-right a:hover {
  background: #f4f4f4 !important;
}

.cardbox .float-right a.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 0px 4px 10px;
  clear: both;
  font-weight: 400;
  font-size: 14px !important;
  color: #848484;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/* ------------------------------- */

/* Media Section
---------------------------------- */

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.media .mr-3 {
  margin-right: 1rem !important;
}

.media img {
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
  object-fit: cover;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: .4rem !important;
}

.media-body p {
  font-weight: 500 !important;
  font-size: 14px;
  color: #88898a;
}

.media-body small span {
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}

/* ------------------------------- */

/* Cardbox Item
---------------------------------- */

.cardbox .cardbox-item {
  position: relative;
  display: block;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.fw {
  width: 100% !important;
  height: auto;
}

/* ------------------------------- */

/* Cardbox Base
---------------------------------- */

.cardbox-base {}

.cardbox-base ul {
  margin: 10px 0px 10px 15px !important;
  padding: 10px !important;
  font-size: 0px;
  display: inline-block;
}

.cardbox-base li {
  list-style: none;
  margin: 0px 0px 0px -8px !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
}

.cardbox-base li a {
  margin: 0px !important;
  padding: 0px !important;
}

.cardbox-base li a i {
  position: relative;
  top: 4px;
  font-size: 16px;
  color: #8d8d8d;
  margin-right: 15px;
}

.cardbox-base li a span {
  font-size: 14px;
  color: #8d8d8d;
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.cardbox-base li a em {
  font-size: 14px;
  color: #8d8d8d;
  position: relative;
  top: 3px;
  z-index: 2;
}

.cardbox-base li a img {
  width: 25px;
  height: 25px;
  margin: 0px !important;
  border: 2px solid #fff;
}

/* ------------------------------- */

/* Cardbox Comments
---------------------------------- */

.cardbox-comments {
  padding: 16px;
  font-size: 0px;
  display: flex;
  align-items: flex-start;
}

.border-comment {
  border-bottom: 2px solid #f4f4f4;
}

.cardbox-comments .comment-avatar img {
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
}

.cardbox-comments .comment-body {
  overflow: auto;
}

.comment-logo {
  button {
    border-radius: 50%;
    font-size: 24px;
    height: 45px;
    width: 45px;
    color: white;
    background: #80b380;
    border: none;
  }
}

.search {
  position: relative;
  border: 2px solid #f4f4f4;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  min-height: 55px;
}

.search textarea {
  background-color: #fff;
  line-height: 24px;
  padding: 14px 26px 10px 24px;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  color: #8d8d8d;
  height: inherit;
  font-weight: 700;
  outline: none;
  resize: none;
}

.search button {
  position: absolute;
  right: 0;
  top: -3px;
  border: none;
  background-color: transparent;
  color: #bbbbbb;
  padding: 15px 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
}

.search button i {
  font-size: 20px;
  line-height: 30px;
  display: block;
}


/* ------------------------------- */

/* test
---------------------------------- */

.cardbox-comments .btn-warning {
  background-image: linear-gradient(to right top, #fafa65, #b4cfca, #1cf5ff);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}



.progress {
  border-radius: 0;
  height: 5px;

  .progress-bar {
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
} 