<!-- Main Card-->
<div class="card">
  <div class="cardbox bg-white">
    <!-- Heading Card -->
    <div class="cardbox-heading p-3 row mx-0">
      <div class="col-9 row mx-0">
        <div class="media col px-0">
          <div class="avatar-owner">
            <img class="rounded-circle w-100 h-100" [src]="publication.page.pictureprofile" alt="User">
          </div>
          <div class="description ml-3">
            <div class="row mx-0">
              <p class="m-0" class="owner-publication mb-0">{{publication.page.name}}</p>
              <p class="mb-0 ml-2"
                *ngIf="publication.type !== 'VideoPublication' && publication.type !== 'PicturePublication' && publication.type !== 'PostPublication'">
                ({{'CORE.Sponsored'|translate}})
              </p>
            </div>
            <small><span>{{getDateCreation(publication.createdAt)}}</span></small>
          </div>
        </div>
      </div>
      <div class="col-3 my-auto">
        <div class="container-btn-header row">
          <div ngbDropdown class="dropdown position-absolute">
            <button ngbDropdownToggle id="dropdownBasic1" class="btn btn-flat btn-flat-icon" type="button">
              <em class="fa fa-ellipsis-h"></em>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
              class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu">
              <a class="dropdown-item" (click)="delete(publication._id)">{{'BTN-DROPDOWN.Delete'|translate}}</a>
              <a class="dropdown-item" (click)="report(publication)">{{'BTN-DROPDOWN.Report'|translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Type of card -->
    <div [ngSwitch]="publication.type">
      <!-- Picture Mode -->
      <div *ngSwitchCase="'PicturePublication'" class="cardbox-item container-picture-publication">
        <img (click)="openModal()" class="img-fluid clickModal img-picture-publication w-100" [src]="publication.file"
          alt="Image">
        <div *ngIf="publication.text || publication.hastags?.length > 0" class="container-description w-100">
          <div class="display-hover">
            <div class="container py-4">
              <div class="row">
                <div class="mx-auto px-4">
                  <span>{{publication.text}}</span>
                </div>
              </div>
              <div class="row container-oneHastag px-4 py-2 float-right">
                <div class="oneHastag py-1 mx-1 my-1" *ngFor="let item of publication.hastags">
                  <span class="col">#{{item}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video Mode -->
      <div *ngSwitchCase="'VideoPublication'" class="cardbox-item">
        <div *ngIf="!playVideo" class="container-btn-play row mx-0 w-100 h-100" (click)="openModal()">
          <img (click)="startVideo()" class="btn-play m-auto"
            src="https://eps-file-default.s3.eu-west-3.amazonaws.com/play-button.png">
        </div>
        <img *ngIf="!playVideo" class="img-fluid clickModal" [src]="publication.poster">
        <div *ngIf="playVideo == true" class="zone-modal-video w-100" (click)="openModal()"></div>
        <video #video *ngIf="playVideo == true" class="clickModal w-100 h-100" controls
          controlsList="nodownload noremoteplayback" autoplay>
          <source [src]="publication.file" type="video/mp4">
          <source [src]="publication.file" type="video/ogg">
        </video>
      </div>
      <!-- Post Mode -->
      <div *ngSwitchCase="'PostPublication'" class="cardbox-item" [style.backgroundImage]="publication.background">
        <div (click)="openModal()" class="content-post-text clickModal">
          <div class="post-written d-flex">
            <div class="container">
              <div class="row">
                <span [ngClass]="[publication.hastags?.length > 0 ? 'pt-5 pb-3' : 'py-5']"
                  class="mx-auto my-auto px-2">{{publication.text}}</span>
              </div>
              <div class="row container-oneHastag px-4 py-2 float-right">
                <div class="oneHastag py-1 mx-1 my-1" *ngFor="let item of publication.hastags">
                  <span class="col">#{{item}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Info Stat -->
    <div class="cardbox-base">
      <div class="container">
        <div class="row my-2">
          <div class="my-1 col-7 text-left row mx-0 pl-3">
            <a class="mx-3" (click)="btnLike()">
              <img class="btn-like" src="assets/svg/heart-icon.svg" *ngIf="!isLiked">
              <img class="btn-liked" src="assets/svg/heart-icon-active.svg" *ngIf="isLiked">
            </a>
            <span class="my-auto">{{numberLike}} {{'CORE.Like'|translate}}</span>
          </div>
          <div class="my-auto comment-share col-5 text-right pr-5">
            <span class="mx-2">{{publication.commentNumber}}</span>
            <a (click)="openModal()" class="clickModal">
              <img class="btn-comment" src="assets/svg/comment-icon.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Write a comment -->
    <div class="cardbox-comments p-2">
      <span class="comment-avatar">
        <a>
          <img class="rounded-circle" [src]="(profile$ | async)?.pictureprofile">
        </a>
      </span>
      <div class="new-comment">
        <div class="row mx-0 py-1">
          <div class="content-list-tag col-md-10 px-0"
            *ngIf="((spotSearch$|async) == 'feed-publication-standard' + publication._id ) && ((resultsProfile$ | async)?.length > 0)">
            <div class="container">
              <div class="row py-3 oneSuggest" *ngFor="let p of (resultsProfile$ | async)" (click)="addTag(p)">
                <div class="col-md-3 d-flex justify-content-center">
                  <img class="rounded-circle" [src]="p.pictureprofile">
                </div>
                <div class="col-md-9 my-auto px-0">
                  <span>
                    <p class="mb-0">{{p._meta.pseudo}}</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-10 my-auto content-input py-2" (keydown.enter)="sendComment(); false"
            (keydown)="writeComment($event)">
            <span #newComment class="postcomment" contenteditable="true" [innerHTML]="defaultComment"
              (focusin)='focusComment()'>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>