<!-- Sort videos -->
<!-- <div class="row">
  <div class="col-md-4">
    <hr>
  </div>
  <div class="col-md-3 mx-auto sort-video pr-3">
    <button class="d-flex mx-auto btn btn-light">
      <span>
        Short By
      </span>
      <i class="mx-1 mt-1 fa fa-angle-down"></i>
    </button>
  </div>
  <div class="col-md-4">
    <hr>
  </div>
</div> -->

<!-- Video container -->
<div class="container-fluid" *ngIf="(tube$|async)?.length !== 0">
  <div class="video-list mt-3 row mx-0">
    <div class="col-md-3" *ngFor="let item of (tube$|async)">
      <div class="card my-2">
        <div class="content-img">
          <span class="save px-1">
            <div ngbDropdown class="dropdown rounded-circle">
              <button ngbDropdownToggle id="dropdownBasic1" type="button">
                <i class="fa fa-ellipsis-h"></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu bottom-left" role="menu">
                <a class="dropdown-item" (click)="openDeletionModal(item._id)">{{'CORE.Delete'| translate}}</a>
              </div>
            </div>
          </span>
          <img [src]="item.tube.posterLink" [routerLink]="['../../SpaceTube/watching-video/' + item.tube._id ]">
          <span class="time px-1">
            {{item.tube.duration}}
          </span>
        </div>
        <div class="information row mx-0" [routerLink]="['../../SpaceTube/watching-video/' + item.tube._id ]">
          <div class="pl-2 pt-1 title col-12">
            <p class="mb-0">{{item.tube.name}}</p>
          </div>
          <div class="view-and-date pl-2 pt-1 col-12">
            <p class="mb-0">{{item.score.views}} views | {{translateService.getDateTranslated(item.createdAt)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
