.card {
  overflow: hidden;
}

.container-loading {
  height: 32rem;
}

.pending-message-container {
  height: 26rem;

  .bi {
    color: #9e9e9e;
  }
}

.bg-side {
  background: #fe8c00;
  background: -webkit-linear-gradient(to left, #f83600, #fe8c00);
  background: linear-gradient(to left, #f83600, #fe8c00);
}

.title-card {
  text-transform: uppercase;
}

.sub-title {
  color: #b3b3b3;
}


.input-desc {
  font-size: 0.9rem;
  color: #b3b3b3;
}

.msg-confirm {
  font-size: 17px;
  letter-spacing: 0.89px;
  line-height: 27px;
  color: #9e9e9e;
  text-align: center;
}

.bi-patch-check-fll {
  color: white;
}