@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.container-btn-nav {
  height: 4rem;

  .container-stat span {
    font-size: 1.2rem;
  }

  .container-stat {
    border-radius: 8px;
    background-color: #8080802b;
  }
}

.information-profil {
  span {
    color: grey;
  }

  ul {
    list-style-type: none;

    .friend-user {
      margin: 6px 0px 0px -8px !important;
      padding: 0px 0px 0px 0px !important;
      display: inline-block;

      img {
        width: 50px;
        border: #ffffff solid 2px;
      }
    }
  }

  .like-button {
    i {
      background: #f8f9fa;
      border-radius: 50%;
      box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.175) !important;
      cursor: pointer;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }

    i:hover {
      color: white;
      background-color: #3f51b5;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
  }
}

.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.24);
}

.site-blocks-cover.inner-page-cover {
  min-height: 430px;
  height: calc(30vh);
  padding: 0;
}

.site-blocks-cover {
  min-height: 600px;
  height: calc(100vh - 73px);
}

img {
  vertical-align: middle;
  border-style: none;
}

.cover-picture {
  vertical-align: middle;
  border-style: none;


  .container-btn-follow {
    width: 100%;
    position: absolute;
    top: 5%;
    right: 3%;
    color: white;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: calc(30vh);
    min-height: 430px;
  }
}

.swith-space {
  .btn {
    border-radius: 25px;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .175) !important;

    i {
      border-radius: 50%;
      border: 1px solid #e1e2e2;
    }

    .fa-music {
      background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fa-video-camera {
      background: -webkit-gradient(linear, left top, left bottom, from(#ff6699), to(#ff9933));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fa-camera {
      background: -webkit-gradient(linear, left top, left bottom, from(#ff6565), to(#4441d4));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.swith-space .active {
  .btn-light {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
}

.container-header {
  background: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0) 71%);

  h2 {
    color: white;
    font: 400 2rem "Pacifico", cursive;
  }

  .btn-outline-grey {
    color: #adb5bd;
    border-color: #adb5bd;
  }

  .btn-option-profile {
    background-color: #d5d5d53d;
    overflow: hidden;
    width: 35px;
    height: 35px;
    padding: 0;
    position: relative;

    i {
      position: absolute;
      color: white;
      font-size: 1.5rem;
      top: 5px;
      left: 7.2px;
    }
  }

  .btn-follow:hover {
    color: white;
    background: #c3c3c347;
  }

  .dropdown-menu {
    left: -12rem !important;
    min-width: 13rem;
    cursor: pointer;
  }

  .container-btn-dropdown:hover {
    background: #f8f6f6;
  }

}

.content-avatar-profile {
  bottom: -4rem;


  img {
    width: 195px;
    height: 195px;
    border: #ffffff solid 3px;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
  }
}
