<!-- Header's Page -->
<div class="site-blocks-cover overlay inner-page-cover position-relative" *ngIf="(page$|async); let page">
  <!-- Cover Picture -->
  <div class="cover-picture">
    <div class="row w-100 mx-0 container-header py-3 position-absolute">
      <div class="col-9">
        <h2 class="pseudo ml-3">{{page.name}}</h2>
      </div>
      <div class="col-md-3 my-auto pr-5 row mx-0">
        <div [ngSwitch]="page.followed" class="col-md-9 text-right">
          <button *ngSwitchCase="true" class="btn btn-outline-grey no-cursor-hand">
            <i class="px-2 py-auto fa fa-user"></i>
            <span class="px-2 py-1">{{'CORE.Already-a-subscriber'|translate}}</span>
          </button>
          <button *ngSwitchCase="false" class="btn btn-outline-grey btn-follow" (click)="follow()">
            <i class="px-2 py-auto fa fa-user"></i>
            <span class="px-2 py-1">{{'CORE.Follow'|translate}}</span>
          </button>
        </div>
        <div ngbDropdown class="container-option" class="col-md-3 my-auto row mx-0">
          <button ngbDropdownToggle class="btn btn-option-profile rounded-circle">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu shadow">
            <div class="row mx-0 px-0 py-2 container-btn-dropdown" (click)="unfollow()">
              <div class="col-3 d-flex justify-content-center my-auto">
                <i class="fa fa-trash"></i>
              </div>
              <div class="col-9">
                <span>{{'CORE.Unsubscribe'|translate}}</span>
              </div>
            </div>
            <div class="row mx-0 px-0 py-2 container-btn-dropdown" (click)="report(page)">
              <div class="col-3 d-flex justify-content-center my-auto">
                <i class="fa fa-user-times"></i>
              </div>
              <div class="col-9">
                <span>{{'BTN-DROPDOWN.Report'|translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img [src]="page.picturecover">
  </div>
  <!-- Profile Picture -->
  <div class="row mx-0 content-avatar-profile position-absolute d-flex justify-content-center w-100">
    <img class="img-fluid rounded-circle" [src]="page.pictureprofile">
  </div>
</div>

<!-- Btn Navigation -->
<div class="row w-100 mx-0 container-btn-nav">
  <div class="ml-auto col-2 my-auto d-flex justify-content-center">
    <div class="container-stat shadow px-4 py-2">
      <span>{{(page$|async)?.followers}} {{'CORE.followers'|translate}}</span>
    </div>
  </div>
</div>

<!-- Actif Space -->
<div class="publications-space container">
  <div>
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>