<!-- Card -->
<div class="container container-form" *ngIf="false">
  <div class="row mx-0 container-title">
    <h1 class="display-3">{{ 'LOGIN-REGISTRER.Login' | translate}}</h1>
  </div>
  <div class="row mx-0">
    <div class="col-md-6 col-12 my-2">
      <button class="w-100 btn-choice p-3" [routerLink]="['/sign/in']" routerLinkActive="active">
        <span>{{ 'LOGIN-REGISTRER.Already-have-an-account' | translate}}</span>
      </button>
    </div>
    <div class="col-md-6 col-12 my-2">
      <button class="w-100 btn-choice p-3" [routerLink]="['/sign/up']" routerLinkActive="active">
        <span>{{ 'LOGIN-REGISTRER.Sign-up' | translate}}</span>
      </button>
    </div>
  </div>
  <form [formGroup]="loginForm" class="row mx-0 my-4">
    <div class="col-md-6 col-12">
      <div class="container">
        <div class="row">
          <p class="h5">{{'LOGIN-REGISTRER.PseudoOrEmail' | translate}}</p>
        </div>
        <div class="row">
          <input class="w-100 p-3" type="text" formControlName="email">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="container">
        <div class="row">
          <p class="h5">{{'PLACEHOLDER.Your-Password' | translate}}</p>
        </div>
        <div class="row">
          <input class="w-100 p-3" type="password" formControlName="password">
        </div>
      </div>
    </div>
  </form>
  <div class="row mx-0 pr-3 my-3">
    <a [routerLink]="['/sign/password-setting']" class="ml-auto container-forgot-password">
      <p class="h5 text-danger">{{ 'LOGIN-REGISTRER.ForgotPassword' | translate }}</p>
    </a>
  </div>
  <div class="row mx-0 my-3">
    <div class="col-md-6 col-12">
      <button class="w-100 btn-choice btn-submit-log-in p-3" (click)="onSubmit()">
        <span class="text-white">{{ 'LOGIN-REGISTRER.Log-In' | translate }}</span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="true">
  <div class="connexionIn">
    <div class="col d-flex align-items-baseline">
      <svg [routerLink]="['../']" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
        class="text-white bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
      <h2>Sign in</h2>
    </div>
    <div class="signIn bg-white d-flex flex-column justify-content-center">
      <div class="col mb-3">
        <h1>Welcome Back</h1>
        <p>Hello Wiiner, sign in to continue !</p>
      </div>
      <div class="col">
        <p>Username or email</p>
        <input class="inputPseudo w-100 pl-3 p-2" type="text" placeholder="Enter your username or email">
      </div>
      <div class="col mt-4">
        <p>Password</p>
        <input class="inputPassword w-100 pl-3 p-2" type="text" minlength="8" maxlength="20" placeholder="Enter your password">
      </div>
      <span class="col-md-5 mt-4">Forgot password ?</span>
      <button class="connected col mt-3 mb-5" disabled>Sign in</button>
      <span class="mt-5">Don-t have an account ? Create an account</span>
    </div>
  </div>
</div>