<div class="chat-lists">
  <div class="header-section pa-0 sticky">
    <div>
      <div class="input-group col-md-9 mx-auto my-1 searchBar">
        <input [formControl]="searchField" type="text" class="form-control input-lg"
               [placeholder]="'MINI-CHAT.text-a-friend'| translate" />
        <span class="input-group-btn my-auto">
          <span class="addChat">
            +
          </span>
        </span>
      </div>
    </div>
    <div class="mt-4 pr-0 ml-4 pb-0 mb-0">
      <div class="chat-categories mx-auto pb-0 mb-0">
        <span class="col-md-4 mx-auto cat-option">Best</span>
        <span class="col-md-4 mx-auto cat-option">Second</span>
        <span class="col-md-4 mx-auto requests cat-option">0 Requests</span>
      </div>
    </div>
  </div>
  <ul class="px-0 pt-0 pb-0 mb-0 mx-o ml-4 list-user">
    <li class="row chat-card pt-4" *ngFor="let i of [1,2,3,4,5,6,7]">
      <div class="col-md-2 container-avatar">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar"
             class="avatar rounded-circle">
      </div>
      <div class="col-md-10 row text-sm chat-body">
        <div class="col-md-12 chat-head">
          <span class="chat-name">John Doe</span>
          <span class="chat-time">Now</span>
        </div>
        <div class="col-md-12 pt-1">
          <div class="chart-message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
