<!-- Search Bar-->
<div class="input-group col-md-11 mx-auto my-1 searchBar">
  <input [formControl]="searchField" type="text" class="form-control input-lg"
    [placeholder]="'MINI-CHAT.text-a-friend'| translate" />
  <span class="input-group-btn my-auto">
    <button class="btn btn-info btn-lg">
      <i class="fa fa-commenting-o"></i>
    </button>
  </span>
</div>

<!-- List of profile -->
<div class="container" *ngIf="(resultsProfile$ | async) && searchField.value !== ''">
  <div class="row">
    <div *ngFor="let p of resultsProfile$ | async" class="col-md-3 mx-auto">
      <a class="row px-0 container-avatar" (click)="getRoom(p)">
        <img class="mx-auto avatar my-2 rounded-circle" [src]="p.pictureprofile">
      </a>
    </div>
  </div>
</div>

<!-- List of room -->
<div class="list-user" *ngIf="(room$| async); let room">
  <div *ngFor="let r of room; let i = index" class="mini-conversation row py-2 mx-0"
    [ngClass]="{'highlight': (roomSelected$ | async)?._id === r._id}" (click)="selectRoom(i, r._id)">
    <div class="profil-mini-conversation ml-2 mr-0">
      <div [ngSwitch]="r.participants.length" class="w-100 h-100">
        <div class="container-avatar" *ngSwitchCase="1">
          <img class="img-responsive d-flex mx-auto rounded-circle"
            [src]="r.participants[0].pictureprofile">
        </div>
        <div class="container-divided-picture rounded-circle d-flex mx-auto" *ngSwitchCase="2">
          <img class="w-50 h-100 m-auto avatar my-2 left-picture"
            [src]="r.participants[0].pictureprofile">
          <img class="w-50 h-100 m-auto avatar my-2 right-picture"
            [src]="r.participants[1].pictureprofile">
        </div>
      </div>
    </div>
    <div class="messenger-mini-conversation ml-4">
      <div class="pt-1">
        <p *ngIf="r.participants.length == 1">{{r.participants[0]._meta.pseudo}}</p>
        <p *ngIf="r.participants.length == 2">{{r.participants[0]._meta.pseudo}}, {{r.participants[1]._meta.pseudo}}</p>
        <p *ngIf="r.participants.length > 2">{{r.participants[0]._meta.pseudo}}, {{r.participants[1]._meta.pseudo}}...
        </p>
        <p class="last-msg">{{r.lastMessage.text}}</p>
      </div>
    </div>
    <div class="date-mini-conversation mt-4 px-0" *ngIf="r.roomOption.participants[0].notification == 0">
      <div class="date">
        <p>{{translateService.getDateTranslated(r.updatedAt)}}</p>
      </div>
    </div>
    <div class="col-md-3 mt-4 px-0" *ngIf="r.roomOption.participants[0].notification > 0">
      <div class="badge-notif mx-auto">
        <div class="number-msg">
          <span>{{r.roomOption.participants[0].notification}}</span>
        </div>
      </div>
    </div>
  </div>
</div>