<div class="container header-section mt-2 position-sticky">
  <div class="row justify-content-center searchBar">
    <div class="col-8 mr-0 d-flex flex-row">
      <input
        [formControl]="searchField" class="form-control input-lg mr-0"
        placeholder="Search friend / Create chat group"
        type="text"
      />
      <span class="mt-1">
        <img alt="Add-someone" class="add-someone pb-2" src="../../../assets/img/Star.svg">
      </span>
    </div>
  </div>
  <!-- Best & Second-->
  <div class="row justify-content-between chat-categories ml-2 mt-3">
    <div class="col-3 cat-option pb-3">Best</div>
    <div class="col-3 cat-option pb-3">Second</div>
    <div class="col-3 cat-option pb-3 requests">0 Requests</div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-between list-user">
    <div *ngFor="let i of [1,2,3,4,5,6,7]" class="col-12 chat-card">
      <div class="d-flex flex-row justify-content-between mr-1 my-2">
        <div class="col-2">
          <div *ngIf="i !== 2" class="container-avatar">
            <img alt="avatar" class="avatar rounded-circle"
                 src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg">
          </div>
          <div *ngIf="i === 2" class="container-avatar container-divided-picture d-flex flex-row">
            <img alt="avatar" class="avatar rounded-circle position-relative"
                 src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg">
            <img alt="avatar" class="avatar rounded-circle position-absolute left-img"
                 src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg">
            <div class="avatar rounded-circle other-members  position-absolute d-flex align-center">
              <p class="align-self-center text-center px-auto mx-auto my-auto py-auto">+5</p>
            </div>
          </div>
        </div>
        <div class="col-10 d-flex flex-row mx-0 px-0 pr-md-2 pr-4">
          <div class="col-1 d-flex align-center justify-content-end mx-0 px-0">
            <i [hidden]="(i === 1 || i === 2)" class="fa fa-circle align-self-center active-chat pr-2"></i>
          </div>
          <div class="mx-0 px-0">
            <div class="d-flex flex-direction-row w-100 ml-0">
              <div class="chat-name">John Doe</div>
              <div class="chat-time ml-auto">Now</div>
            </div>
            <div class="chat-message ml-0 my-2 position-relative w-100">
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
              Lorem ipsum dolor sit amet consectetur
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

