
::-webkit-scrollbar {
  width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 8px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #eeeeee;
}

.badge-notif {
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.175);
  border: 2px solid #fff;
  position: relative;


  .number-msg {
    color: white;
    font-size: 13px;
    position: absolute;
    font-family: Montserrat !important;
    left: 4px;
    top: -1px;

  }

  font-family: Montserrat !important;
}

.header-section {
  font-family: Montserrat !important;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0.1em solid #eeeeee;

  .searchBar {
    background-color: #fff;

    input {
      outline: 0;
      border: 0;
      border-bottom: 2px solid #e7e7e7;
      border-radius: 0;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      font-family: Montserrat !important;
      color: #646464;
    }


    // Icon +
    .add-someone {
      width: 35px;
      height: 35px;
      cursor: pointer;
    }

    .fa {
      font-size: 2.5em;
      color: #00a9ce;
      font-weight: 100;
      border: none;
      background-color: unset;
      margin-left: 0;
      //color-interpolation: auto;
    }
  }

  .chat-categories {
    font-weight: 150;
    font-size: 1.4em;
    font-family: Montserrat !important;

    .cat-option {
      cursor: pointer;
    }

    .requests {
      font-size: .7em !important;
    }

    .cat-option:hover {
      border-bottom: .7em solid hotpink;
      border-bottom-width: medium;
    }
  }
}


.list-user {
  font-family: Montserrat !important;
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
}

.active-chat {
  color: #00a9ce;
  font-size: 0.7em;
}

.chat-card {
  margin: 0;
  padding: 0;
  font-family: Montserrat !important;
  cursor: pointer;
}

.chat-name {
  font-family: Montserrat !important;
  font-weight: bold;
  font-size: 1.5em;
}

.chat-time {
  font-family: Montserrat !important;
  font-size: .9em;
  font-weight: 100;
}

.chat-message {
  font-family: Montserrat !important;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  font-size: 1.1em !important;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.chat-card:hover {
  background: #eeeeee;
}

.container-avatar {
  transition: 0.5s;
  cursor: pointer;
  margin: 1em 0 0;
  padding: 0;

  img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: white solid 1px;
    margin-right: 0;
  }
}

.container-divided-picture {
  cursor: pointer;
  padding: 0;
  font-family: Montserrat !important;
  margin-top: 1.3em;

  img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: white solid 1px;
    margin-right: 0;
  }

  .left-img {
    left: 2em;
  }

  .other-members {
    object-fit: cover;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: white solid 1px;
    margin-right: 0;
    background-color: #eeeeee;
    left: 3em;
    bottom: 1.9em;
  }
}

