

.container-page {
  height: calc(100% - 4rem);
}

.container-description-section {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: 57vh;

  h1 {
    color: #002354;
  }

  span {
    font-size: 1.2rem;
    font-weight: 300;
  }

}

.container-title {
  overflow-y: scroll;
  height: 57vh;
  .title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .one-section {
    cursor: pointer;
  }

  .one-section:hover {
    background-color: rgba(128, 128, 128, 0.109);
  }
}

.container-main-title {
  span {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    color: #002354;
    text-align: center;
  }
}

.container-description-section span {
  white-space: pre-wrap;
}

.container-description-section h2 {
  color: #de6b9a;
}

span.temporary {
font-style: italic;
}