<div class="row mx-0 container-page ">
  <!-- Summary -->
  <div class="col-12 col-sm-4 px-0">
    <div class="container-fluid px-0 container-title">
      <div class="row one-section mx-0 py-4" (click)="scroll(generality)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Generality'|translate}}</span>
      </div>
      <hr class="my-0">
      <div class="row one-section mx-0 py-4" (click)="scroll(accessnav)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Access-&-nav'|translate}}</span>
      </div>
      <hr class="my-0">
      <div class="row one-section mx-0 py-4" (click)="scroll(sitemanage)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Site-management'|translate}}</span>
      </div>
      <hr class="my-0">
      <div class="row one-section mx-0 py-4" (click)="scroll(services)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Services'|translate}}</span>
      </div>
      <hr class="my-0">
      <div class="row one-section mx-0 py-4" (click)="scroll(responsability)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Responsability'|translate}}</span>
      </div>
      <hr class="my-0">
      <div class="row one-section mx-0 py-4" (click)="scroll(hyperlinks)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Hyperlinks'|translate}}</span>
      </div>
      <hr class="my-0">
      <div class="row one-section mx-0 py-4" (click)="scroll(confidentiality)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Confidentiality'|translate}}</span>
      </div>
      <hr class="my-0">
      <div class="row one-section mx-0 py-4" (click)="scroll(iproperty)">
        <span class="m-auto title">{{'TERMS-OF-USE.TITLE.Intellectual-property'|translate}}</span>
      </div>
    </div>
  </div>
  <!-- All Sections -->
  <div class="col-12 col-sm-8 h-100 container-description-section pb-9">
    <div class="row mx-0">
      <div class="container-main-title my-4 ml-5">
        <span>{{'CORE.Welcome'|translate}}</span>
      </div>
    </div>
    <div class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.Our-plateforme'|translate}}</h1>
        <span>{{'TERMS-OF-USE.About-plateform'|translate}}</span>
      </div>
    </div>
    <div #generality class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Generality'|translate}}</h1>
        <span>{{'TERMS-OF-USE.Generality-d'|translate}}</span>
      </div>
    </div>
    <div #accessnav class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Access-&-nav'|translate}}</h1>
        <span>{{'TERMS-OF-USE.Access-&-nav-d'|translate}}</span>
      </div>
    </div>
    <div #sitemanage class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Site-management'|translate}}</h1>
        <span>{{'TERMS-OF-USE.Site-management-d'|translate}}</span>
      </div>
    </div>
    <div #services class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Site-management'|translate}}</h1>
        <h2 class="my-3">{{'TERMS-OF-USE.TITLE.1-REGISTRATION'|translate}}</h2>
        <span>{{'TERMS-OF-USE.1-REGISTRATION-d'|translate}}</span>
        <h2 class="my-3">{{'TERMS-OF-USE.TITLE.2-UNSUBSCRIBE'|translate}}</h2>
        <span>{{'TERMS-OF-USE.2-UNSUBSCRIBE-d'|translate}}</span>
        <h2 class="my-4">{{'TERMS-OF-USE.TITLE.3-DELETION-OF-PERSONAL-SPACE'|translate}}</h2>
        <span>{{'TERMS-OF-USE.3-DELETION-OF-PERSONAL-SPACE-d'|translate}} </span>
      </div>
    </div>
    <div #responsability class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Responsability'|translate}}</h1>
        <span>{{'TERMS-OF-USE.Responsability-d'|translate}}</span>
      </div>
    </div>
    <div #hyperlinks class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Hyperlinks'|translate}}</h1>
        <span>{{'TERMS-OF-USE.Hyperlinks-d'|translate}}</span>
      </div>
    </div>
    <div #confidentiality class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Confidentiality'|translate}}</h1>
        <span>{{'TERMS-OF-USE.Confidentiality-d'|translate}}</span>
      </div>
    </div>
    <div #iproperty class="row mx-0 py-4">
      <div class="container">
        <h1 class="my-3">{{'TERMS-OF-USE.TITLE.Intellectual-property'|translate}}</h1>
        <span>{{'TERMS-OF-USE.Intellectual-property-d'|translate}}</span>
      </div>
    </div>
  </div>
</div>