<!-- Component Body -->
<div class="container my-5" *ngIf="(group$|async); let group">
  <!-- General -->
  <div class="oneSection" *ngIf="group.admins.myrole == 0">
    <div class="header row px-5 h-100 py-3" [ngClass]="{'open': section[0]}" (click)="toggleVisibility(0)">
      <div class="col-8 my-auto">
        <span class="title">{{'CORE.General-information'|translate}}</span>
      </div>
      <div class="col-4 my-auto text-right">
        <i class="fa fa-2x " [ngClass]="[section[0] ? 'fa-angle-up' : 'fa-angle-down']"></i>
      </div>
    </div>
    <div class="row" *ngIf="section[0]">
      <div class="container py-4 bg-light-grey">
        <div class="row">
          <div class="col-12 col-md-6 d-flex justify-content-center my-auto">
            <div class="container-uplodaer position-relative">
              <!-- <round-progress class="shadow-custom" [responsive]="true" [current]="progressBarWidth" [max]="100"
                [stroke]="7" [ngStyle]="{'background-image': 'url(' +  avatarGroup + ')', 'background-size': 'cover', 'border-radius': '50%',
          'background-position': 'center' }" [animation]="'easeInOutQuart'" [clockwise]="true"
                [color]="'rgb(168, 198, 255)'">
              </round-progress> -->
              <label for="upload_avatar" class="btn-upload position-absolute">
                <i class="fa fa-camera"></i>
              </label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="container container-information">
              <!-- Form -->
              <form [formGroup]="groupForm" class="mt-4">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>{{'GROUP.Name-group'|translate}}</label>
                      <input formControlName="name" type="text" class="form-control pl-3" [placeholder]="group.name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field class="w-100">
                      <mat-label>{{'CORE.Visibility'|translate}}</mat-label>
                      <mat-select [value]="group.visibility">
                        <mat-option value="private">{{'CORE.Private'|translate}}</mat-option>
                        <mat-option value="public">{{'CORE.Public'|translate}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <input hidden #oldAvatar [value]="group.pictureprofile">
              </form>
            </div>
          </div>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
          <div class="col-md-2 text-center">
            <button class="w-100 py-2 btn btn-secondary" (click)="resetMainInfo()">{{'CORE.Reset'|translate}}</button>
          </div>
          <div class="col-md-2 text-center">
            <button class="w-100 py-2 btn btn-primary" (click)="updateMainInfo(oldAvatar.value)">{{'CORE.Update'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2" *ngIf="group.admins.myrole == 0">
  <!-- Administrator -->
  <div class="oneSection">
    <div class="header row px-5 h-100 py-3" [ngClass]="{'open': section[1]}" (click)="toggleVisibility(1)">
      <div class="col-8 my-auto">
        <span class="title">{{'CORE.Administrators'|translate}}</span>
      </div>
      <div class="col-4 my-auto text-right">
        <i class="fa fa-2x " [ngClass]="[section[1] ? 'fa-angle-up' : 'fa-angle-down']"></i>
      </div>
    </div>
    <div class="row" *ngIf="section[1]">
      <div class="container py-4 bg-light-grey">
        <div class="row mb-3" *ngIf="group.admins.myrole == 0">
          <div class="input-group col-4 ml-auto h-100">
            <input [matAutocomplete]="auto" matInput type="text" class="form-control pl-4 bg-white"
              [placeholder]="'GROUP.Add-admin'|translate" [formControl]="searchField">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let profile of (resultsProfile$|async)" (click)="addAmin(profile)" >
                <div class="oneSuggest row mx-0 py-3">
                  <div class="col-3 profile-img my-auto">
                    <img class="rounded-circle" [src]="profile.pictureprofile">
                  </div>
                  <div class="col-9 mt-2 my-auto">
                    <span>{{profile._meta.pseudo}}</span>
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div *ngIf="group.admins.president; let profile">
          <div class="row mx-0 py-3 oneMember">
            <div class="col-2 container-img-profile d-flex justify-content-center">
              <img class="rounded-circle" [src]="profile.pictureprofile">
            </div>
            <div class="col-8 my-auto container-pseudo">
              <span class="row mx-0 pseudo">{{profile._meta.pseudo}}</span>
              <span class="row mx-0 role">{{ 'ADMIN.Code.' + 1 | translate}}</span>
            </div>
            <div class="col-2 my-auto">
              <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle id="dropdownBasic1" type="button">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-scale" role="menu">
                  <a class="dropdown-item" *ngIf="(myprofile$|async)._id !== profile._id">{{'BTN-DROPDOWN.Report'|translate}}</a>
                  <a class="dropdown-item" *ngIf="(myprofile$|async)._id == profile._id" (click)="alertReplacePr()">
                    {{'GROUP.Leave-group'|translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let profile of group.admins.managers">
          <div class="row mx-0 py-3 oneMember">
            <div class="col-2 container-img-profile d-flex justify-content-center">
              <img class="rounded-circle" [src]="profile.pictureprofile">
            </div>
            <div class="col-8 my-auto container-pseudo">
              <span class="row mx-0 pseudo">{{profile._meta.pseudo}}</span>
              <span class="row mx-0 role">{{ 'CREATE-PAGE.Code.' + 2 | translate}}</span>
            </div>
            <div class="col-2 my-auto">
              <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle id="dropdownBasic1" type="button">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-scale" role="menu">
                  <span *ngIf="group.admins.myrole == 0">
                    <a class="dropdown-item" (click)="updateGroup(profile._id, 'delete')">{{'CORE.Delete'| translate}}</a>
                    <a class="dropdown-item" (click)="updateGroup(profile._id, 'replacePr')">{{'ADMIN.Upgrader'|translate}}</a>
                    <a class="dropdown-item" (click)="updateGroup(profile._id, 'demote')">{{'ADMIN.Downgrader'|translate}}</a>
                  </span>
                  <a class="dropdown-item" *ngIf="(myprofile$|async)._id !== profile._id">{{'BTN-DROPDOWN.Report'|translate}}</a>
                  <a class="dropdown-item" *ngIf="(myprofile$|async)._id == profile._id" (click)="updateGroup(profile._i, 'leave')">{{'GROUP.Leave-the-group'|translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let profile of group.admins.moderators">
          <div class="row mx-0 py-3 oneMember">
            <div class="col-2 container-img-profile d-flex justify-content-center">
              <img class="rounded-circle" [src]="profile.pictureprofile">
            </div>
            <div class="col-8 my-auto container-pseudo">
              <span class="row mx-0 pseudo">{{profile._meta.pseudo}}</span>
              <span class="row mx-0 role">{{ 'CREATE-PAGE.Code.' + 3 | translate}}</span>
            </div>
            <div class="col-2 my-auto">
              <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle id="dropdownBasic1" type="button">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-scale" role="menu">
                  <span *ngIf="group.admins.myrole == 0">
                    <a class="dropdown-item" (click)="updateGroup(profile._id, 'delete')">{{'CORE.Delete'| translate}}</a>
                    <a class="dropdown-item" (click)="updateGroup(profile._id, 'promote')">{{'ADMIN.Upgrader'| translate}}</a>
                  </span>
                  <a class="dropdown-item" *ngIf="(myprofile$|async)._id !== profile._id">{{'BTN-DROPDOWN.Report'|translate}}</a>
                  <a class="dropdown-item" *ngIf="(myprofile$|async)._id == profile._id" (click)="updateGroup(profile._id, 'leave')">{{'GROUP.Leave-the-group'|translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <!-- Avanced -->
  <div class="oneSection" *ngIf="group.admins.myrole == 0">
    <div class="header row px-5 h-100 py-3" [ngClass]="{'open': section[2]}" (click)="toggleVisibility(2)">
      <div class="col-8 my-auto">
        <span class="title">{{'CORE.Advanced'|translate}}</span>
      </div>
      <div class="col-4 my-auto text-right">
        <i class="fa fa-2x " [ngClass]="[section[2] ? 'fa-angle-up' : 'fa-angle-down']"></i>
      </div>
    </div>
    <div class="row" *ngIf="section[2]">
      <div class="container py-4 bg-light-grey content-avanced-row">
        <div class="row">
          <div class="col-8 my-auto pl-5">
            <span class="title">{{'GROUP.Delete-the-group'|translate}}</span>
          </div>
          <div class="col-4 text-center">
            <button class="btn btn-danger">{{'CORE.Delete'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2" *ngIf="group.admins.myrole == 0">
  <!-- Members -->
  <div class="oneSection">
    <div class="header row px-5 h-100 py-3" [ngClass]="{'open': section[3]}"
      (click)="toggleVisibility(3); loadMember(group, 1)">
      <div class="col-8 my-auto">
        <span class="title">{{'CORE.Members'|translate}}</span>
      </div>
      <div class="col-4 my-auto text-right">
        <i class="fa fa-2x " [ngClass]="[section[3] ? 'fa-angle-up' : 'fa-angle-down']"></i>
      </div>
    </div>
    <div class="row" *ngIf="section[3]">
      <div class="container py-4 bg-light-grey content-avanced-row">
        <div class="row mb-3">
          <div class="input-group col-4 ml-auto h-100">
            <input [matAutocomplete]="auto" matInput type="text" class="form-control pl-4 bg-white"
              [placeholder]="'GROUP.Invit-friend'|translate" [formControl]="searchField">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let profile of (resultsProfile$|async)" (click)="addMember(group._id, profile._id)">
                <div class="oneSuggest row mx-0 py-3">
                  <div class="col-3 profile-img my-auto">
                    <img class="rounded-circle" [src]="profile.pictureprofile">
                  </div>
                  <div class="col-9 mt-2 my-auto">
                    <span>{{profile._meta.pseudo}}</span>
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="container" *ngIf="(members$|async) let members">
          <div class="row oneMember py-3" *ngFor="let m of members">
            <div class="col-2 container-img-profile d-flex justify-content-center">
              <img class="rounded-circle" [src]="m.profile.pictureprofile">
            </div>
            <div class="col-8 my-auto container-pseudo">
              <span class="row mx-0 pseudo">{{m.profile._meta.pseudo}}</span>
              <span class="row mx-0 role">{{ 'GROUP.' + m.status|translate }}</span>
            </div>
            <div class="col-2 my-auto">
              <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle id="dropdownBasic1" type="button">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-scale" role="menu">
                  <a class="dropdown-item" (click)="deleteMember(group._id, m.profile._id)">{{'CORE.Delete'| translate}}</a>
                  <a class="dropdown-item">{{'BTN-DROPDOWN.Report'|translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Link -->
<input hidden id="upload_avatar" type="file" accept='image/*' #avatar (change)=previewProfile(avatar.files)>