.container-title {
    text-align: center;
  
    .title-choice {
      font-family: 'Montserrat', sans-serif;
      font-size: 7rem;
      font-weight: 900;
      background-size: cover;
      background-position: center;
      background: #de6161;
      background: -webkit-linear-gradient(to right, #2657eb, #de6161);
      background: linear-gradient(to right, #2657eb, #de6161);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
    }
  }
  