<!-- Component Body -->
<div class="container">

  <!-- Nav Btn -->
  <div class="row d-flex justify-content-center pt-3 header-container">
    <div class="container-btn mx-3" [ngClass]="{'selected': typeOfCommunity == 'friends'}"
      (click)="changeTypeOfCommunity('friends')">
      <span>{{'CORE.Friends'|translate}}</span>
    </div>
    <div class="container-btn mx-3" [ngClass]="{'selected': typeOfCommunity == 'followers'}"
      (click)="changeTypeOfCommunity('followers')">
      <span>{{'CORE.Followers'|translate}}</span>
    </div>
    <div class="container-btn mx-3" [ngClass]="{'selected': typeOfCommunity == 'following'}"
      (click)="changeTypeOfCommunity('following')">
      <span>{{'CORE.Following'|translate}}</span>
    </div>
  </div>

  <!-- Bubble Message -->
  <div class="row mt-4 mb-3  mx-0 d-flex justify-content-center">
    <div class="col-11 col-sm-9 col-xl-7 container-bubble-message px-4 py-3">
      <span> {{'BUBBLE-MESSAGE.Community-explication'|translate}} </span>
    </div>
  </div>

  <!-- List -->
  <div class="row mt-1 mb-5">
    <div class="col-11 col-sm-10 mx-auto">
      <div class="container">
        <div class="row mx-0">
          <div *ngFor="let item of (profiles$|async)" class="col-12 col-md-6 one-profile">
            <!-- Profile -->
            <div class="row my-1 py-2" [routerLink]="['/profile/' + item._id]" *ngIf="!item.name">
              <div class="col-4 my-auto text-right">
                <img class="avatar rounded-circle" [src]="item.pictureprofile">
              </div>
              <div class="col-5 my-auto">
                <span>{{item._meta.pseudo}}</span>
              </div>
            </div>
            <!-- Page -->
            <div class="row my-1 py-2" [routerLink]="['/page/' + item._id]" *ngIf="!!item.name">
              <div class="col-4 my-auto text-right">
                <img class="avatar rounded-circle" [src]="item.pictureprofile">
              </div>
              <div class="col-5 my-auto">
                <span>{{item.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>