:host {
  width: 100%;
}

.header-container {

  span {
    font-size: 1.7rem;
  }

  .container-btn {
    cursor: pointer;
  }

  .selected,
  .container-btn:hover {
    border-bottom: 3px solid #b1e4e6;
  }
}

.one-profile {
    border-radius: 15px;
    cursor: pointer;

  img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    overflow: hidden;
    border: white solid 2px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
    cursor: pointer;
  }

}
.one-profile:hover {
    background: #9292921c;
}

// message

.container-bubble-message {
    border-radius: 15px;
    background: #b7bbe838;
}