::ng-deep .mat-dialog-container {
  padding: 0;
}

::ng-deep .mat-checkbox-layout {
  margin-bottom: 0;
}

.container-tag {
  border-radius: 5px;
  border: 1px solid #d5d5d575
}

.container-checkbox {
  background-color: #ec7a7a1f;
  border-radius: 5px;
}