<div class="card">
  <div class="card-header">
    <h3> Credit of Music1 </h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Interpreted by : </p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div class="container-checkbox d-inline-flex py-2 px-3">
                  <mat-checkbox class="example-margin p-0"> Me </mat-checkbox>
                </div>
                <div *ngFor="let item of [1,2,3,4,5,6]" class="d-inline-flex">
                  <div class="container-tag-p py-2 px-3 m-2">
                    <p class="mb-0">User {{item}}</p>
                  </div>
                </div>
                <div class="container-input d-inline-flex py-1 px-2">
                  <input [(ngModel)]="interpreter" [ngModelOptions]="{standalone: true}" type="text" placeholder="Add someone" (keydown.enter)="interpretedBy()">
                  <i class="bi bi-arrow-return-left"></i>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Written by : </p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div class="container-checkbox d-inline-flex py-2 px-3">
                  <mat-checkbox class="example-margin p-0"> Me </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Produced by : </p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div class="container-checkbox d-inline-flex py-2 px-3">
                  <mat-checkbox class="example-margin p-0"> Me </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="row d-flex justify-content-end">
      <button class="btn btn-secondary mx-2" (click)="dialogRef.close()">
        <span>{{'CORE.Cancel'|translate}}</span>
      </button>
      <button class="btn btn-success mx-2">
        <span>{{'CORE.Confirm'|translate}}</span>
      </button>
    </div>
  </div>
</div>