<div class="card">

  <div class="card-header">
    <h3> Credit of Music1 </h3>
  </div>

  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Interpreted by : </p>
            </div>
            <div class="col-8">
                <div class="container-tag p-2">
                    <div class="container-checkbox d-inline-flex py-2 px-3">
                        <mat-checkbox class="example-margin p-0"> Me </mat-checkbox>
                    </div>
                </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Written by : </p>
            </div>
            <div class="col-8">
                <div class="container-tag p-2">
                    <div class="container-checkbox d-inline-flex py-2 px-3">
                        <mat-checkbox class="example-margin p-0"> Me </mat-checkbox>
                    </div>
                </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Produced by : </p>
            </div>
            <div class="col-8">
                <div class="container-tag p-2">
                    <div class="container-checkbox d-inline-flex py-2 px-3">
                        <mat-checkbox class="example-margin p-0"> Me </mat-checkbox>
                    </div>
                </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div class="row d-flex justify-content-end">
      <button class="btn btn-secondary mx-2">
        <span>{{'CORE.Cancel'|translate}}</span>
      </button>
      <button class="btn btn-success mx-2">
        <span>{{'CORE.Confirm'|translate}}</span>
      </button>
    </div>
  </div>


</div>