<div class="card">
  <div class="card-header">
    <h3 *ngIf="musicCredit.name"> Credit of : {{musicCredit.name}}</h3>
    <h3 *ngIf="!musicCredit.name"> Credit of Music{{musicCredit.index + 1}} </h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Interpreted by : </p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div class="container-checkbox d-inline-flex py-2 px-3">
                  <mat-checkbox (change)="setMyRole($event, 'interpreter')" [checked]="interpreterIsMe"  class="example-margin p-0"> Me </mat-checkbox>
                </div>
                <div *ngFor="let item of musicCredit.interpreters; let i = index" class="d-inline-flex">
                  <div class="container-tag-p py-2 px-3 m-2 d-inline-flex">
                    <i class="bi bi-x pr-1" (click)="removeRole('interpreter', i)"></i>
                    <p class="mb-0">{{item}}</p>
                  </div>
                </div>
                <div class="container-input d-inline-flex py-1 px-2 ml-2">
                  <input [(ngModel)]="interpreter" [ngModelOptions]="{standalone: true}" type="text" placeholder="Add someone" (keydown.enter)="addNewRole('interpreter')">
                  <i class="bi bi-arrow-return-left"></i>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Written by : </p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div class="container-checkbox d-inline-flex py-2 px-3">
                  <mat-checkbox (change)="setMyRole($event, 'writter')" [checked]="writterIsMe" class="example-margin p-0"> Me </mat-checkbox>
                </div>
                <div *ngFor="let item of musicCredit.writters; let i = index" class="d-inline-flex">
                  <div class="container-tag-p py-2 px-3 m-2 d-inline-flex">
                    <i class="bi bi-x pr-1" (click)="removeRole('writter', i)"></i>
                    <p class="mb-0">{{item}}</p>
                  </div>
                </div>
                <div class="container-input d-inline-flex py-1 px-2 ml-2">
                  <input [(ngModel)]="writter" [ngModelOptions]="{standalone: true}" type="text" placeholder="Add someone" (keydown.enter)="addNewRole('writter')">
                  <i class="bi bi-arrow-return-left"></i>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Produced by : </p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div class="container-checkbox d-inline-flex py-2 px-3">
                  <mat-checkbox (change)="setMyRole($event, 'producer')" [checked]="producerIsMe" class="example-margin p-0"> Me </mat-checkbox>
                </div>
                <div *ngFor="let item of musicCredit.producers; let i = index" class="d-inline-flex">
                  <div class="container-tag-p py-2 px-3 m-2 d-inline-flex">
                    <i class="bi bi-x pr-1" (click)="removeRole('producer', i)"></i>
                    <p class="mb-0">{{item}}</p>
                  </div>
                </div>
                <div class="container-input d-inline-flex py-1 px-2 ml-2">
                  <input [(ngModel)]="producer" [ngModelOptions]="{standalone: true}" type="text" placeholder="Add someone" (keydown.enter)="addNewRole('producer')">
                  <i class="bi bi-arrow-return-left"></i>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>{{'CORE.Category'|translate}}</p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div *ngFor="let item of musicCredit.categories; let i = index" class="d-inline-flex">
                  <div class="container-tag-p py-2 px-3 m-2 d-inline-flex">
                    <i class="bi bi-x pr-1" (click)="removeCategory(i)"></i>
                    <p class="mb-0">{{item.name}}</p>
                  </div>
                </div>
                <div class="container-input d-inline-flex py-1 px-2 ml-2 position-relative">
                  <input [formControl]="category" type="text" placeholder="Add a style">
                  <i class="bi bi-arrow-return-left"></i>
                  <div class="container-categories-list list-group" *ngIf="musicGenres.length > 0 && !!category.value ">
                    <li class="list-group-item" *ngFor="let item of musicGenres" (click)="addCategory(item)">{{item.name}}</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <hr class="my-1">
        <tr>
          <div class="row my-2">
            <div class="col-4">
              <p>Feat</p>
            </div>
            <div class="col-8">
              <div class="container-tag p-2">
                <div *ngFor="let item of musicCredit.feat; let i = index" class="d-inline-flex">
                  <div class="container-tag-p py-2 px-3 m-2 d-inline-flex">
                    <i class="bi bi-x pr-1" (click)="removeFriend(i)"></i>
                    <p class="mb-0">{{item._meta.pseudo}}</p>
                  </div>
                </div>
                <div class="container-input d-inline-flex py-1 px-2 ml-2 position-relative">
                  <input [formControl]="friendSearch" type="text" placeholder="Add someone">
                  <i class="bi bi-arrow-return-left"></i>
                  <div class="container-categories-list list-group" *ngIf="(resultsProfile$|async)?.length > 0 && friendSearch.value.length > 0">
                    <li class="list-group-item" *ngFor="let item of (resultsProfile$|async)" (click)="addFeat(item)">{{item._meta.pseudo}}</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="row d-flex justify-content-end">
      <button class="btn btn-secondary mx-2" (click)="dialogRef.close()">
        <span>{{'CORE.Cancel'|translate}}</span>
      </button>
      <button class="btn btn-success mx-2" (click)="confirm()">
        <span>{{'CORE.Confirm'|translate}}</span>
      </button>
    </div>
  </div>
</div>