::ng-deep .mat-dialog-container {
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  max-height: 28rem;
}

.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.card-footer {
  position: inherit;
  border-top: 1px solid rgba(0, 0, 0, 0.295);
}