<!-- Component Body -->
<div class="col-md-8 p-5 mx-auto">
  <!-- Card to update the password -->
  <div class="card">
    <form [formGroup]="passwordForm">
      <div class="card-header">
        <h5 class="title">{{'SETTING.password.Edit-t-password'|translate}}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 pr-1 my-auto">
            <div class="form-group">
              <label>{{'SETTING.password.Old-password'|translate}}</label>
              <input type="password" class="form-control" formControlName="currentPassword">
              <div *ngIf="f.currentPassword.errors && f.currentPassword.touched">
                <div class="alert py-0" [hidden]="!f.currentPassword.errors.required">
                  <span>{{'SETTING.password.Old-password-r'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-1 my-auto">
            <div class="form-group">
              <label for="exampleInputEmail1">{{'SETTING.password.New-password'|translate}}</label>
              <input type="password" class="form-control" formControlName="newPassword">
              <div *ngIf="f.newPassword.errors && f.newPassword.touched">
                <div class="alert py-0" [hidden]="!f.newPassword.errors.required">
                  <span>{{'SETTING.password.New-password-r'|translate}}</span>
                </div>
                <div class="alert py-0" [hidden]="!f.newPassword.errors.minlength">
                  <span>{{'SETTING.password.Error-min-5-char'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1 my-auto">
            <div class="form-group">
              <label>{{'SETTING.password.C-new-password'|translate}}</label>
              <input type="password" class="form-control" formControlName="confirmNewPassword">
              <div *ngIf="f.confirmNewPassword.errors && f.confirmNewPassword.touched">
                <div class="alert py-0" [hidden]="!f.confirmNewPassword.errors.required">
                  <span>{{'SETTING.password.C-new-passworde'|translate}}</span>
                </div>
              </div>
              <div class="alert py-0" [hidden]="!f.confirmNewPassword.errors?.passwordNotMatch">
                <span>{{'SETTING.password.Erorr-password-different'|translate}}</span>
              </div>
            </div>
          </div>
          <div class="btn-valid col-md-6 my-auto text-center">
            <img *ngIf="loading" src="user:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <button class="mx-2 btn btn-secondary" [routerLink]="['']">
              <span>{{'CORE.Cancel'|translate}}</span>
            </button>
            <button class="mx-2 btn btn-primary" (click)="changePassword()">
              <span>{{'CORE.Confirm'|translate}}</span> 
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
