@import 'src/assets/scss/button.scss';

.card {
  border: 1px solid #f4f4f4;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 40px -12px #999;
  box-shadow: 2px 2px 40px -12px #999;
  position: relative;
  overflow: hidden;
}
 
.card-profile {
  position: relative;

  .header {
    position: absolute;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;

    .containerImgProfile {
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #dedede;
        object-fit: cover;
        cursor: pointer;

      }
    }
  }

  .header:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.35);
  }

  .descriptionProfile {
    color: white;

    .pseudo {
      font-size: 1.4rem
    }

    .lastActif {
      font-size: 1rem
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    background: #e5e5e570;
    height: 20%;
  }
}


.background-cover {
  img {
    object-fit: cover;
    height: 255px;
  }
}
