<!-- List of Publications  -->
<div *ngFor="let p of musicProject$ | async" class="my-3">
  <div class="card row mx-0">
    <div class="row mx-0 my-auto">
      <div class="col-md-3 musicImg my-auto py-2">
        <img class="img-fluid" [src]="p.picture">
      </div>
      <div class="col-md-9 my-auto py-2">
        <div class="row my-3 mx-0">
          <span class="col-md-3 mr-auto">{{p.visibilityDate | date}}</span>
          <span class="album-span col-md-5 ml-auto text-center">{{p.name}}</span>
        </div>
        <div class="row mx-0 py-3 oneMusic" *ngFor="let m of p.musicList">
          <div class="col-md-1 my-auto">
            <span class="row">
              <i *ngIf="( audioPlaying$ | async)?.file !== m.file || ((musicPlaying$ | async) === false)"
                class="fa fa-play mx-auto" (click)="controlMusicService.play(m, p.musicList)"></i>
              <i *ngIf="( audioPlaying$ | async)?.file == m.file && ((musicPlaying$ | async) === true)"
                class="fa fa-pause mx-auto" (click)="controlMusicService.pause()"></i>
            </span>
          </div>
          <div class="col-md-1">
            <div class="avatar row">
              <img class="img-fluid mx-auto" [src]="p.profile.pictureprofile">
            </div>
          </div>
          <div class="col-md-4 name my-auto">
            <span class="ml-1 row title" [id]="'music' + m._id">
              <p>{{m.name}}</p>
            </span>
          </div>
          <div class="col-md-4">
            <div class=" row mx-0 feat" *ngIf="m.feat !== null && m.feat?.length !== 0">
              <span class="my-auto mr-4">
                <p>{{'CORE.With'|translate}} :</p>
              </span>
              <div class="avatar" *ngFor="let p of m.feat">
                <a [routerLink]="'../../profile/' + p._id">
                  <img class="img-fluid" [src]="p.pictureprofile">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-1 mt-2">
            <i class="fa fa-heart" [ngClass]="{'isLiked': m.isLiked}" (click)="like(m, p._id)"></i>
          </div>
          <div ngbDropdown class="col-md-1 mt-2">
            <button ngbDropdownToggle class="option-button" id="navbarOption" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarOption">
              <a class="dropdown-item" (click)="getId(m._id)" >{{'PUBLICATION.generate-t-id'|translate}}</a>
              <a class="dropdown-item" (click)="report(m)">{{'BTN-DROPDOWN.Report'|translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List of my Music Project -->
<div #contentCard *ngFor="let p of myMusicProject$ | async">
  <!-- Music not unavailable -->
  <div *ngIf="getAvailability(p.visibilityDate)" class="card row mx-2 my-3">
    <div ngbDropdown class="container-btn-setting w-100">
      <button ngbDropdownToggle><i class="fa fa-cog"></i></button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarOption">
        <a class="dropdown-item" (click)="deleteMusicProject(p._id)">{{'PUBLICATION.delete-t-project'|translate}}</a>
      </div>
    </div>
    <div class="row mx-0 my-auto">
      <div class="col-md-3 musicImg my-auto py-2">
        <img *ngIf="!imgPlaylist || setPlaylistId !== p._id" class="img-fluid" [src]="p.picture">
        <img *ngIf="imgPlaylist && setPlaylistId == p._id" class="img-fluid" [src]="imgPlaylist">
        <div class="row mx-0 container-btn-modif my-auto">
          <div class="row mx-0 w-100">
            <div class="col-md-6" *ngIf="!imgPlaylist || setPlaylistId !== p._id">
              <label for="pic">
                <span class="col-md-6 text-center" (click)="settingPlaylist(p._id)">{{'CORE.Edit'|translate}}</span>
              </label>
            </div>
            <div class="col-md-6" *ngIf="imgPlaylist && setPlaylistId == p._id">
              <span class="col-md-6 text-center" (click)="resetImg()">{{'CORE.Cancel'|translate}}</span>
            </div>
            <div class="col-md-6" *ngIf="imgPlaylist && setPlaylistId == p._id; let picture">
              <span class="col-md-6 text-center" (click)="savePicture(p._id)">{{'CORE.Save'|translate}}</span>
            </div>
          </div>
        </div>
        <input hidden #pic type='file' name="photo" id="pic" accept=".png, .jpg, .jpeg" (change)=previewImg($event) />
      </div>
      <div class="col-md-9 my-auto py-2">
        <div class="row my-3 mx-0">
          <span class="col-md-3 mr-auto">{{p.visibilityDate | date}}</span>
          <span class="album-span col-md-5 ml-auto text-center">{{p.name}}</span>
        </div>
        <div class="row mx-0 py-3 oneMusic" *ngFor="let m of p.musicList">
          <div class="col-md-1 my-auto">
            <span class="row">
              <i *ngIf="(audioPlaying$|async)?.file !== m.file || ((musicPlaying$ | async) === false)"
                class="fa fa-play mx-auto" (click)="controlMusicService.play(m, p.musicList)"></i>
              <i *ngIf="(audioPlaying$|async)?.file == m.file && ((musicPlaying$ | async) === true)"
                class="fa fa-pause mx-auto" (click)="controlMusicService.pause()"></i>
            </span>
          </div>
          <div class="col-md-1">
            <div class="avatar row">
              <img class="img-fluid mx-auto" [src]="p.profile.pictureprofile">
            </div>
          </div>
          <div class="col-md-4 name my-auto">
            <span class="ml-1 row title" [hidden]="editNameMusic == m._id" [id]="'music' + m._id">
              <p>{{m.name}}</p>
            </span>
            <span class="ml-1 row title" *ngIf="editNameMusic == m._id">
              <input #text class="pl-2 py-1" type="text" [placeholder]="m.name"
                (keyup.enter)="sendNewName(text.value, m._id, p._id)">
            </span>
          </div>
          <div class="col-md-4">
            <div class=" row mx-0 feat" *ngIf="m.feat !== null && m.feat?.length !== 0">
              <span class="my-auto mr-4">
                <p>{{'CORE.With'|translate}} :</p>
              </span>
              <div class="avatar" *ngFor="let p of m.feat">
                <a [routerLink]="'../../profile/' + p._id">
                  <img class="img-fluid" [src]="p.pictureprofile">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-1 mt-2">
            <i class="fa fa-heart" [ngClass]="{'isLiked': m.isLiked}" (click)="like(m, p._id)"></i>
          </div>
          <div ngbDropdown class="col-md-1 mt-2">
            <button ngbDropdownToggle class="option-button" id="navbarOption" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarOption">
              <a (click)="getId(m._id)" class="dropdown-item">{{'PUBLICATION.generate-t-id'|translate}}</a>
              <a (click)="setMusic(m._id)" class="dropdown-item">{{'CORE.Edit'|translate}}</a>
              <a (click)="openModalDelete(m._id, p._id ,p.musicList.length)"
                class="dropdown-item">{{'CORE.Delete'| translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Music not available -->
  <div *ngIf="!getAvailability(p.visibilityDate)" class="card row mx-2 my-3 available">
    <div class="row mx-0 not-avaible-header">
      <div class="m-auto">
        <div class="row mx-auto">
          <span class="my-auto">{{'WIINS-MUSIC.T-p-m-is-not-yet-available-for-other-users'|translate}}</span>
          <div ngbDropdown class="header-btn my-auto">
            <button ngbDropdownToggle class="option-button-header" id="navbarOption" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-angle-down pt-1"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarOption">
              <a class="dropdown-item"
                (click)="deleteMusicProject(p._id)">{{'PUBLICATION.delete-t-publication'|translate}}</a>
              <a class="dropdown-item"
                (click)="changeVisibilityDate(p._id)">{{'WIINS-MUSIC.Change-t-release-date'|translate}}</a>
              <a class="dropdown-item" (click)="changeTitle(p._id)">{{'WIINS-MUSIC.re-name-the-project'|translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-0 my-auto">
      <div class="col-md-3 musicImg my-auto py-2">
        <img *ngIf="!imgPlaylist || setPlaylistId !== p._id" class="img-fluid" [src]="p.picture">
        <img *ngIf="imgPlaylist && setPlaylistId == p._id" class="img-fluid" [src]="imgPlaylist">
        <div class="row mx-0 container-btn-modif my-auto">
          <div class="row mx-0 w-100">
            <div class="col-md-6" *ngIf="!imgPlaylist || setPlaylistId !== p._id">
              <label for="pic">
                <span class="col-md-6 text-center" (click)="settingPlaylist(p._id)">{{'CORE.Edit'|translate}}</span>
              </label>
            </div>
            <div class="col-md-6" *ngIf="imgPlaylist && setPlaylistId == p._id">
              <span class="col-md-6 text-center" (click)="resetImg()">{{'CORE.Cancel'|translate}}</span>
            </div>
            <div class="col-md-6" *ngIf="imgPlaylist && setPlaylistId == p._id; let picture">
              <span class="col-md-6 text-center" (click)="savePicture(p._id)">{{'CORE.Save'|translate}}</span>
            </div>
          </div>
        </div>
        <input hidden #pic type='file' name="photo" id="pic" accept=".png, .jpg, .jpeg" (change)=previewImg($event) />
      </div>
      <div class="col-md-9 my-auto py-2">
        <div class="row my-3 mx-0">
          <span *ngIf="dateVisibilitySitting !== p._id" class="col-md-3 mr-auto">{{p.visibilityDate | date}}</span>
          <div *ngIf="dateVisibilitySitting == p._id" class="col-md-7 row mx-0 container-setting-date">
            <div class="col-md-7 px-0">
              <mat-datepicker-toggle matSuffix [for]="picker" class="container-logo-date"></mat-datepicker-toggle>
              <input #dateSetting class="w-100 py-2 setting-date text-center" type="text"
                [placeholder]="p.visibilityDate | date" [formControl]="dateControl" matInput [matDatepicker]="picker">
              <mat-datepicker #picker></mat-datepicker>
              <span class="cancelDateSetting mx-2" (click)="resetDateSetting()">{{'CORE.Cancel'|translate}}</span>
              <span class="error-date mx-2"
                *ngIf="!dateControl.errors?.dateValid.valid && dateControl.touched">{{'ERROR-MESSAGE.Date-must-b-after-today'|translate}}</span>
            </div>
            <div class="col-md-5">
              <button class="btn btn-outline-primary shadow" (click)="changeDateModal(p._id)">
                <span>{{'CORE.Confirm'|translate}}</span>
              </button>
            </div>
          </div>
          <span *ngIf="titleSetting !== p._id" class="album-span col-md-5 ml-auto text-center">{{p.name}}</span>
          <div *ngIf="titleSetting === p._id" class="row mx-0 container-setting-title">
            <div class="col-md-8 px-0">
              <input #titleSetting class="setting-title album-span ml-auto text-center h-100 w-100"
                [placeholder]="p.name">
            </div>
            <div class="col-md-4">
              <button class="btn btn-outline-primary shadow" (click)="changeName(titleSetting.value, p._id)">
                <span>{{'CORE.Confirm'|translate}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row mx-0 py-3 oneMusic" *ngFor="let m of p.musicList">
          <div class="col-md-1 my-auto">
            <span class="row">
              <i *ngIf="(audioPlaying$|async)?.file !== m.file || ((musicPlaying$ | async) === false)"
                class="fa fa-play mx-auto" (click)="controlMusicService.play(m, p.musicList)"></i>
              <i *ngIf="(audioPlaying$|async)?.file == m.file && ((musicPlaying$ | async) === true)"
                class="fa fa-pause mx-auto" (click)="controlMusicService.pause()"></i>
            </span>
          </div>
          <div class="col-md-1">
            <div class="avatar row">
              <img class="img-fluid mx-auto" [src]="p.profile.pictureprofile">
            </div>
          </div>
          <div class="col-md-4 name my-auto">
            <span class="ml-1 row title" [hidden]="editNameMusic == m._id" [id]="'music' + m._id">
              <p>{{m.name}}</p>
            </span>
            <span class="ml-1 row title" *ngIf="editNameMusic == m._id">
              <input #text class="pl-2 py-1" type="text" [placeholder]="m.name"
                (keyup.enter)="sendNewName(text.value, m._id, p._id)">
            </span>
          </div>
          <div class="col-md-4">
            <div class=" row mx-0 feat" *ngIf="m.feat !== null && m.feat?.length !== 0">
              <span class="my-auto mr-4">
                <p>{{'CORE.With'|translate}} :</p>
              </span>
              <div class="avatar" *ngFor="let p of m.feat">
                <a [routerLink]="'../../profile/' + p._id">
                  <img class="img-fluid" [src]="p.pictureprofile">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-1 mt-2">
            <i class="fa fa-heart" [ngClass]="{'isLiked': m.isLiked}" (click)="like(m, p._id)"></i>
          </div>
          <div ngbDropdown class="col-md-1 mt-2">
            <button ngbDropdownToggle class="option-button" id="navbarOption" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarOption">
              <a (click)="getId(m._id)" class="dropdown-item">{{'PUBLICATION.generate-t-id'|translate}}</a>
              <a (click)="setMusic(m._id)" class="dropdown-item">{{'CORE.Edit'|translate}}</a>
              <a (click)="openModalDelete(m._id, p._id ,p.musicList.length)"
                class="dropdown-item">{{'CORE.Delete'| translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>