/* SideBar */

.sidebar {
  border: 1px solid #d8d8d8;
  border-top: 0;
}

.nav {
  display: block;
  list-style: none;
}

.sidebar .nav li.active>a{
  background-color: #FFFFFF;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  border-left: 3px solid #9e9e9e;
}

.sidebar .nav li>a {
  color: #6c757d;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7142em;
  padding: 10px 8px;
  line-height: 1.625rem;
}

.sidebar .nav i {
  font-size: 20px;
  float: left;
  margin-right: 12px;
  line-height: 30px;
  width: 34px;
  text-align: center;
  color: #6c757d;
  position: relative;
}

.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}

.sidebar .nav li:hover:not(.active)>a,
.sidebar .nav li:focus:not(.active)>a {
  border-left: 3px solid #9e9e9e;
}
