.sort-video {
  button {
    border-radius: 25px;
    background-color: #e6e7e8;
  }
}

.video-list {
  .card {
    border-radius: 7px;
    overflow: hidden;
    border: 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

    img {
      object-fit: cover;
      width: 100%;
      height: 177px;
      cursor: pointer;
    }

    .content-img {
      position: relative;

      .time {
        position: absolute;
        bottom: 7px;
        right: 16px;
        border-radius: 2px;
        color: white;
        letter-spacing: .5px;
        align-items: center;
        display: inline-flex;
        background-color: rgba(0, 0, 0, 0.80);
      }

      .save {
        position: absolute;
        top: 12px;
        right: 15px;
        color: white;
        align-items: center;
        display: inline-flex;
        font-size: 27px;
      }

    }

    .information {

      .title {
        font-weight: bold;

        p {
          display: -webkit-box;
          max-height: 3.2rem;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          -webkit-line-clamp: 2;
          font-size: 0.9rem;
          font-weight: 500;
          line-height: 1.6rem;
          margin-bottom: 0;
        }
      }

      .view-and-date {
        font-weight: 100;
      }
    }
  }
}
