<!-- Loading Logo -->
<div *ngIf="(loading$ | async) && !(publication$|async)" class="row mx-0 w-100">
  <div class="m-auto" id="preloader">
    <div id="loader"></div>
  </div>
</div>

<!-- Publication List -->
<div *ngIf="(publication$|async)" class="pt-3">
  <div class="container-fluid publications-space">

    <!-- If we have publication -->
    <ngx-masonry *ngIf="(publication$ | async)?.length > 0" class="row mx-0 w-100" [useImagesLoaded]="true"
      [options]="optionMasonry" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()" [infiniteScrollContainer]="'.container-router'" [fromRoot]="true">
      <app-feed-publication *ngIf="(publication$ | async)?.length > 0" ngxMasonryItem
        class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1" [space]="'feed-my-profile'">
      </app-feed-publication>
      <app-feed-publication-standard ngxMasonryItem *ngFor="let p of publication$ | async; let i = index"
        class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1" [publication]="p" [space]="space">
      </app-feed-publication-standard>
    </ngx-masonry>

    <!-- If don't have publication -->
    <div *ngIf="(publication$ | async)?.length == 0" class="row mx-0 w-100">
      <app-feed-publication [space]="'feed-my-profile'" class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1">
      </app-feed-publication>
    </div>

  </div>

</div>