<!-- Component Body -->
<div class="container mt-5">
  <!-- Shearch Profile -->
  <div class="container container-search" *ngIf="myrole === 'pr' || myrole === 'ma'">
    <div class="row mb-3">
      <div class="col-6 col-md-4 col-xl-3 mr-auto ml-4">
        <input [matAutocomplete]="auto" matInput [formControl]="searchField" class="w-100 h-100 py-2 pl-3" type="text"
          placeholder="Ajouter un ami">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let profile of (resultsProfile$|async)" (click)="addAdmin(profile)">
              <div class="oneSuggest row mx-0 py-3">
                <div class="col-3 profile-img my-auto">
                  <img class="rounded-circle" [src]="profile.pictureprofile">
                </div>
                <div class="col-9 mt-2 my-auto">
                  <span>{{profile._meta.pseudo}}</span>
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
      </div>
    </div>
  </div>
  <!-- Show all the member -->
  <div class="container" *ngIf="admins.length > 0">
    <div *ngFor="let p of admins; let last = last">
      <div class="row mx-0 py-3 oneMember">
        <div class="col-2 container-img-profile d-flex justify-content-center">
          <img class="rounded-circle" [src]="p.profile.pictureprofile">
        </div>
        <div class="col-8 my-auto container-pseudo">
          <span class="row mx-0 pseudo">{{p.profile._meta.pseudo}}</span>
          <span class="row mx-0 role">{{ 'ADMIN.Code.' + p.role | translate}}</span>
        </div>
        <div class="col-2 my-auto">
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle id="dropdownBasic1" type="button">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-scale" role="menu">
              <div *ngIf="(myrole === 'pr') && (p.profile._id !== (myprofile$|async)._id)">
                <a class="dropdown-item" (click)="openModal(p.profile._id, 'delete', null)">{{'CORE.Delete'| translate}}</a>
                <a class="dropdown-item" (click)="openModal(p.profile._id, 'promote', p.role)">{{'ADMIN.Upgrader'|translate}}</a>
                <a class="dropdown-item" *ngIf="p.role == 2" (click)="openModal(p.profile._id, 'demote', null)">{{'ADMIN.Downgrader'|translate}}</a>
              </div>
              <a class="dropdown-item" *ngIf="p.profile._id !== (myprofile$|async)._id">{{'BTN-DROPDOWN.Report'|translate}}</a>
              <a class="dropdown-item"
                *ngIf="p.profile._id == (myprofile$|async)._id" (click)="openModal(p.profile._id, 'leave', null)">{{'GROUP.Leave-group'|translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-2" *ngIf="!last">
    </div>
  </div>
</div>