<!-- Component Body -->
<div class="suggestion-search col-7 col-sm-7 col-md-6 col-xl-4" *ngIf="(resultsPage$|async) || (resultsProfile$|async)">
  <!-- Container suggestion -->
  <div class="container content-suggestion mx-auto w-50 mb-5 px-0">
    <!-- Profile List -->
    <div class="mx-0 mx-0 list-user my-auto">
      <div *ngIf="resultsProfile$ | async; let resultsProfile">
        <li class="row list-group-item mx-0 py-3" *ngFor="let profile of resultsProfile"
          (click)="gotToProfile(profile._id)">
          <div class="col-4">
            <img class="img-fluid img-user" [src]="profile.pictureprofile" alt="User">
          </div>
          <div class="col-8 content-text px-0">
            <a>{{profile?._meta?.pseudo}}</a>
            <p *ngIf="profile.mutalFriends !== 0" class="mb-0">{{profile.mutalFriends}} amis en communs</p>
            <p *ngIf="profile.mutalFriends == 0" class="mb-0">0 {{'CORE.mutual-friends'|translate}}</p>
          </div>
        </li>
      </div>
    </div>
    <!-- Page List -->
    <div class="mx-0 mx-0 list-user my-auto">
      <div *ngIf="resultsPage$ | async; let resultsPage">
        <li class="row list-group-item mx-0 py-3" *ngFor="let page of resultsPage" (click)="gotToPage(page._id)">
          <div class="col-4">
            <img class="img-fluid img-user" [src]="page.pictureprofile">
          </div>
          <div class="col-8 content-text px-0 my-auto">
            <a>{{page.name}}</a>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>