<!-- Body -->
<div [ngSwitch]="placeSelected">
  <!-- Menu -->
  <div *ngSwitchCase="'menu'">
    <div class="container-fluid py-5">
      <!-- Container Menu -->
        <div class="row mx-0">
          <!-- Verifired Card -->
          <div class="col-12 col-sm-12 col-md-6">
            <div class="card card-bg-1">
              <div class="card-header">
                <div class="row mx-0">
                  <h1 class="title mb-0 display-3 pl-3">I want to be verified</h1>
                </div>
              </div>
              <div class="card-body container-fluid">
                <div class="row mx-0 my-4">
                  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-earmark-music mr-2"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                    <path fill-rule="evenodd"
                      d="M9.757 5.67A1 1 0 0 1 11 6.64v1.75l-2 .5v3.61c0 .495-.301.883-.662 1.123C7.974 13.866 7.499 14 7 14c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 11.134 6.501 11 7 11c.356 0 .7.068 1 .196V6.89a1 1 0 0 1 .757-.97l1-.25z" />
                  </svg>
                  <span class="one-features-span">Music publication</span>
                </div>
                <div class="row mx-0 my-4">
                  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-earmark-play mr-2"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6 11.117V6.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43z" />
                    <path
                      d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                  </svg>
                  <span class="one-features-span">Tube publication</span>
                </div>
              </div>
              <div class="card-footer">
                <div class="row mx-0">
                  <button class="btn ml-auto mr-3 btn-success" *ngIf="(myprofile$|async)?.levelCertification > 0">
                    <span>Already verified</span>
                  </button>
                  <button class="btn ml-auto mr-3 btn-start" *ngIf="(myprofile$|async)?.levelCertification == 0" (click)="selectPlace('verification')">
                    <span>Start</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Certified Card -->
          <div class="col-12 col-sm-12 col-md-6">
            <div class="card card-bg-1">
              <div class="card-header">
                <div class="row mx-0">
                  <h1 class="title mb-0 display-3 pl-3">I want to be certified</h1>
                </div>
              </div>
              <div class="card-body container-fluid">
                <div class="row mx-0 my-4">
                  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-award-fill mr-2" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                  </svg>
                  <span class="one-features-span">Certification Badge</span>
                </div>
                <div class="row mx-0 my-4">
                  <svg width="1.8em" height="2em" viewBox="0 0 16 16" class="bi bi-cash-stack mr-2" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z" />
                    <path fill-rule="evenodd"
                      d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z" />
                    <path
                      d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                  </svg>
                  <span class="one-features-span">Monetization</span>
                </div>
                <div class="row mx-0 my-4">
                  <svg width="1.9em" height="2em" viewBox="0 0 16 16" class="bi bi-graph-up mr-2" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  <span class="one-features-span">Better reference</span>
                </div>
              </div>
              <div class="card-footer">
                <div class="row mx-0">
                  <button class="btn ml-auto mr-3 btn-success" *ngIf="(myprofile$|async)?.levelCertification == 2">
                    <span>Already Certified</span>
                  </button>
                  <button class="btn ml-auto mr-3 btn-start" *ngIf="(myprofile$|async)?.levelCertification < 2" (click)="selectPlace('certification')">
                    <span>Start</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
  <!-- Verification Steps -->
  <div *ngSwitchCase="'verification'">
    <div class="container-fluid">
      <div class="row mx-0 my-3">
        <button class="btn btn-secondary btn-back mr-2" (click)="selectPlace('menu')">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
          </svg>
          <span>{{'CORE.Back'|translate}}</span>
        </button>
      </div>
      <div class="row mx-0">
        <app-veritification-steps class="w-100"></app-veritification-steps>
      </div>
    </div>
  </div>
  <!-- Certification Steps -->
  <div *ngSwitchCase="'certification'">
    <div class="container-fluid">
      <div class="row mx-0 my-3">
        <button class="btn btn-secondary btn-back mr-2" (click)="selectPlace('menu')">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
          </svg>
          <span>{{'CORE.Back'|translate}}</span>
        </button>
      </div>
      <div class="row mx-0">
        <app-certification-steps class="w-100"></app-certification-steps>
      </div>
    </div>
  </div>
</div>