.card {
  border: 0;
}

.card-body {
  height: 15rem;
}

.card-header,
.card-footer {
  background: transparent;
  border: 0;
}

.title {
  color: white;
}

.card-bg-1 {
  background-image: url('https://eps-file-default.s3.eu-west-3.amazonaws.com/bckgrnd0.png');
  background-size: cover;
}

.card-bg-2 {
  background-image: url('https://eps-file-default.s3.eu-west-3.amazonaws.com/bckgrnd1.png');
  background-size: cover;
}

.bi {
  color: white;
}

.btn-start {
  color: white;
  background-color: #fc9b19;
  border: 2px solid white;
  border-radius: 7px;

  span {
    font-size: 1rem;
  }
}

.one-features-span {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-back {
  .bi {
    color: black;
  }
}
