.container-validation  {

  @import 'src/assets/scss/button.scss';

  .modal-content {
    border-radius: 15px;
    overflow: hidden;
  }
  
  .card-body {
    background-color: white;
  }

  .btn-light {
    border-color: #aeaeae;
  }

  textarea {
    color: grey;
    resize: none;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
  }

}



