<!-- Component Body -->
<div class="container-validation">
  <!-- Card Header -->
  <div class="card-header">
    <h2>{{'CORE.Confirmation'|translate}}</h2>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div [ngSwitch]="data.type">
      <div *ngSwitchCase="'demote'">
        <span>{{'VALIDATION.this-user-will-be-'|translate}} {{'ADMIN.one-moderator'|translate}}. {{'VALIDATION.Are-you-sure'|translate}}</span>
      </div>
      <div *ngSwitchCase="'promote'">
        <span>{{'VALIDATION.this-user-will-be-'|translate}} {{'ADMIN.one-managor'|translate}}. {{'VALIDATION.Are-you-sure'|translate}}</span>
      </div>
      <div *ngSwitchCase="'add'">
        <span>{{'VALIDATION.this-user-will-be-'|translate}} {{'ADMIN.one-moderator'|translate}}. {{'VALIDATION.Are-you-sure'|translate}}</span>
      </div>
      <div *ngSwitchCase="'replacePr'">
        <span> {{'ADMIN.replace-pr-adv'|translate}} </span>
      </div>
      <div *ngSwitchCase="'delete'">
        <span>{{'VALIDATION.Are-you-sure-to-delete-this-user'|translate}} {{'CORE.user-will-be-expelled-from-t-group'|translate}}.</span>
      </div>
      <div *ngSwitchCase="'delete-friend'">
        <span>{{'VALIDATION.A-y-s-to-delete-friend'|translate}}</span>
      </div>
      <div *ngSwitchCase="'delete-friend-from-tube'">
        <span>{{'VALIDATION.A-y-s-to-delete-friend'|translate}}</span>
      </div>
      <div *ngSwitchCase="'feed-publication-delete'">
        <span>{{'VALIDATION.A-y-s-to-delete-t-publication'|translate}}</span>
      </div>
      <div *ngSwitchCase="'feed-publication-group-delete'">
        <span>{{'VALIDATION.A-y-s-to-delete-t-publication-in-t-group'|translate}}</span>
      </div>
      <div *ngSwitchCase="'feed-my-profile-feed-publication-delete'">
        <span>{{'VALIDATION.A-y-s-to-delete-t-publication-in-yr-profile'|translate}}</span>
      </div>
      <div *ngSwitchCase="'delete-comment'">
        <span>{{'VALIDATION.A-y-s-to-delete-t-comment'|translate}}</span>
      </div>
      <div *ngSwitchCase="'leave-group'">
        <span>{{'VALIDATION.A-y-s-to-leave-t-group'|translate}}</span>
      </div>
      <div *ngSwitchCase="'delete-tube'">
        <span>{{'VALIDATION.A-y-s-to-delete-t-video'|translate}}</span>
      </div>
      <div *ngSwitchCase="'delete-comment-playlist-music'">
        <span>{{'VALIDATION.A-y-s-to-delete-t-comment'|translate}}</span>
      </div>      
      <div *ngSwitchCase="'unfollow-from-tube'">
        <span>{{'VALIDATION.A-y-s-to-unfollow-t-profile'|translate}}</span>
      </div>
    </div>
  </div>
  <!-- Card Footer -->
  <div class="card-footer">
    <div class="row">
      <div class="ml-auto mr-2">
        <button class="btn btn-outline-primary mx-2" (click)="closeModal()">
          <span>{{'CORE.Cancel'|translate}}</span>
        </button>
        <button class="btn btn-light mx-2" (click)="confirm()" >
          <span>{{'CORE.Confirm'|translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
