<!-- Component Body -->
<div class="container py-3">

  <!-- Header Info -->
  <div class="row my-2 d-flex justify-content-center">
    <div class="select-container-price my-2" *ngIf="chargedBtnCliked">
      <div class="row mx-0">
        <div class="col-3 px-0 input-group-prepend">
          <span class="input-group-text w-100" id="basic-addon1">USD$</span>
        </div>
        <input [(ngModel)]="price" type="text" class="col-9 form-control" placeholder="Entrez un montant"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <button *ngIf="!chargedBtnCliked" type="button" class="m-2 btn btn-gradient-color mr-4"
      (click)="showChargeInput()">Recharge</button>
    <button *ngIf="chargedBtnCliked" type="button" class="m-2 btn btn-gradient-color mr-4"
      (click)="generatePayment()">Pay</button>

  </div>

  <!-- Payment Message -->
  <div class="row my-4 mx-0" *ngIf="showMessagePayment">
    <span class="mx-auto">{{'SETTING.ledger.T-update-can-take-15min-after-the-confirmation'|translate}}</span>
  </div>

  <!-- Pending Transfert Request -->
  <div *ngIf="transfertsRequests.length > 0">
    <div class="card container-fluid px-0 container-transfert-request text-center">
      <div class="row mx-0 py-3 bg-header">
        <h3 class="pl-4 mb-0 header-color-title">{{'SETTING.ledger.Pending-Transfert-Request'|translate}}</h3>
      </div>
      <div class="row mx-0 bg-sub-header py-3">
        <div class="col">{{'SETTING.ledger.Address'|translate}}</div>
        <div class="col">{{'SETTING.ledger.Amount'|translate}}</div>
        <div class="col">{{'CORE.Status'|translate}}</div>
        <div class="col"></div>
      </div>
      <div *ngFor="let item of transfertsRequests" class="row mx-0 one-transfert-request py-3">
        <div class="col my-auto container-address">{{item.address}}</div>
        <div class="col my-auto">{{item.amount}} {{item.currency.toUpperCase()}}</div>
        <div class="col my-auto">{{'CORE.Pending'|translate}}</div>
        <div (click)="openValidationModal(item._id)" class="col my-auto cancel-btn">{{'CORE.Cancel'|translate}}</div>
      </div>
    </div>
  </div>

  <!-- Account List -->
  <div class="row mx-0 my-4" *ngIf="!!currencyArray">
    <div class="card w-100 text-center">
      <div class="container-fluid px-0">
        <div class="row mx-0 py-3 bg-header">
          <div class="col"><strong>{{'SETTING.ledger.Currency'|translate}}</strong></div>
          <div class="col"><strong>{{'SETTING.ledger.Amount'|translate}}</strong></div>
          <div class="col"><strong>USD</strong></div>
          <div class="col"></div>
        </div>
        <div *ngFor="let item of currencyArray">
          <div class="row mx-0 py-3 one-currency" *ngIf="item.amount > 0">
            <div class="col my-auto">{{item.currency}}</div>
            <div class="col my-auto">{{item.amount.toFixed(6)}}</div>
            <div class="col my-auto">${{item.price_usd}}</div>
            <div class="col my-auto">
              <button class="btn btn-gradient-color-green py-1"
                (click)="openTransfertModal(item.price_usd, item.code, item.market_price_usd, item.amount)">{{'SETTING.ledger.Transfer'|translate}}</button>
            </div>
          </div>
        </div>
        <div class="row mx-0 py-3 bg-footer d-flex justify-content-center">
          <div class="col"><strong>{{'CORE.Total'|translate}} : {{totalBalance.toFixed(2)}} $USD</strong></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Inactive message -->
  <div class="row my-4 mx-0" *ngIf="!(user$|async).active">
    <div class="container">
      <div class="row">
        <div class="card w-100 py-4">
          <div class="row mx-0">
            <div class="col my-auto text-center">
              <span class="text-danger px-5">
                {{'SETTING.ledger.Account-disable-now-description'|translate}}
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card Package -->
  <div class="row my-4 mx-0">
    <div class="container">
      <div class="row">
        <div class="card w-100 py-4">
          <div class="row mx-0">
            <div class="col-12 pl-4 col-md-8 mb-4">
              <span>{{'SETTING.ledger.Card-description-payment-subscription'|translate}}</span>
            </div>
            <div class="col-12 col-md-4 my-auto text-center">
              <span class="price-span row mx-0 d-flex justify-content-center">{{'SETTING.ledger.price-per-month'|translate}}</span>
              <span class="row mx-0 d-flex justify-content-center">{{dayLeftSentence}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>