.price-span {
  font-size: 1.3rem;
  font-weight: 600;
}

.container-address {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-sold {
  border-radius: 0.375rem;
}

.select-container-price {
  border-radius: 0.375rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  overflow: hidden;

  input::placeholder {
    color: #576582;
  }

  .input-group-prepend span,
  input {
    border: 0;
    border-radius: 0;
    color: #576582;
  }

  .input-group-text {
    background: #f6f6f6;
    color: #576582;
  }
}

.card {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  overflow: hidden;
  border: 0;
}

.bg-header {
  background-color: #fd426a6b;
}

.bg-footer {
  background-color: #e0e0e061;
}

.one-currency, .one-transfert-request {
  border-bottom: 1px solid #dee2e6
}

.header-color-title {
  color: #525f7f;
}

.bg-sub-header {
  background-color: #f6f6f6;
  border-bottom: 1px solid #dee2e6;
}

.cancel-btn {
  color: #5e72e4;
  cursor: pointer;
}

.cancel-btn:hover {
  text-decoration: underline;
}

.btn-gradient-color {
  color: white;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
}


.btn-gradient-color-green {
  color: white;
  border: 0;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}