.plyr-video-container {
  height: 27rem;
  object-fit: cover;
}

.container-video-and-comment {
  height: 31.5rem;

  .card-footer img, .avatar-loading {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.175);
    border: 2px solid white;
    cursor: pointer;
  }

  .number-follower {
    font-size: 0.85rem;
  }

  .btn-warning:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    transition: 0.2s;
  }
}

.container-list-comment-base {
  overflow-y: scroll;
}

.container-card-video {
  
  .card {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 23px rgba(0, 0, 0, 0.19);
    border: 0;

    .photo-video {
      border-radius: 5px 5px 0 0;
    }

    .poster-video {
      img {
        width: 100%;
        height: 156px;
        object-fit: cover;
      }

      .profile {
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid white;
        box-shadow: 0 2px 23px rgba(0, 0, 0, 0.19);
        transition: 0.5s;
        left: 0.5rem;
        top: 0.5rem;
      }

      .profile:hover {
        width: 60px;
        height: 60px;
        transition: 0.5s;
      }
    }

    .time {
      position: absolute;
      right: 7px;
      top: 10px;
      background: black;
      opacity: 0.2;
      border-radius: 4px;
      display: none;
    }

    .time:hover {
      opacity: 0.6;
    }

    .fa {
      color: white;
    }

    .card-body {

      p,
      h4 {
        margin: 0;
      }

      h4 {
        flex: 0 1 auto;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
  }

  .card:hover {
    .time {
      display: block;
    }
  }
}

.container-list-comment {
  .avatar-oneComment {
    width: 3rem;
    height: 3rem;
  }
}


// loading animation

.fake-card {
  min-height: 210px;
}

.bg-gradient-loading {
  background: #adb5bd2e linear-gradient(180deg, #b9c0c700, #adb5bd54) repeat-x;
}