@import 'src/assets/scss/component/login-register.scss';
@import 'src/app/sign/sign.component.scss';

:host {
  width: 100%;
}

.card {
  z-index: 10;
}


.card-body {
  border-radius: 0 0 15px 15px;
}

.btn-confirm {
  box-shadow: 5px 5px 20px 0 #11998e3b, 5px 5px 10px 0 #38ef7d42;
  background-image: linear-gradient(to right, #11998e, #38ef7d);
}

#preloader {
  position: relative;
  top: 1rem;
}


.header-title {
    font-size: 1.1rem;
    font-weight: 400;
}

button:disabled {
  background: linear-gradient(45deg, #acacac, #777777, #666666) !important;
}