<div class="changinPasswordIn">
  <div class="col d-flex align-items-baseline py-3">
    <h2 class="my-auto">{{ 'SETTING.password.Setting-password' | translate }}</h2>
  </div>
  <form [formGroup]="settingForm" class="signIn bg-white d-flex flex-column justify-content-center" *ngIf="!loading">
    <div class="col mb-3">
      <h1>{{ 'SETTING.password.New-password' | translate }}</h1>
      <p>{{ 'SETTING.password.C-new-password-subtitle' | translate }}</p>
    </div>
    <div class="col mt-4">
      <p>{{ 'SETTING.password.New-password' | translate }}</p>
      <div class="inputpwrd d-flex" [ngClass]="{'input-invalid': f.password1.errors && f.password1.touched }">
        <input [type]="changeTypePswd" minlength="8" maxlength="20" formControlName="password1"
          class="inputPassword w-100 pl-3 p-3" [placeholder]="'CORE.Password' | translate">
        <span (click)="toggleShow()" class="material-icons d-flex align-items-center">
          {{show ? 'visibility' : 'visibility_off'}}</span>
      </div>
      <span class="error-message ml-3" *ngIf="f.password1.errors && f.password1.touched">
        {{'ERROR-MESSAGE.8-char-minimum' | translate}}
      </span>
    </div>
    <div class="col mt-4">
      <p>{{ 'SETTING.password.C-new-password' | translate }}</p>
      <div class="inputpwrd d-flex" [ngClass]="{'input-invalid': f.password2.errors && f.password2.touched }">
        <input [type]="changeTypeConfirmPswd" minlength="8" maxlength="20" formControlName="password2"
          class="inputPassword w-100 pl-3 p-3" [placeholder]="'CORE.Password' | translate">
        <span (click)="toggleConfirmShow()" class="material-icons d-flex align-items-center">
          {{confirmShow ? 'visibility' : 'visibility_off'}}</span>
      </div>
      <span class="error-message ml-3" *ngIf="f.password2.errors && f.password2.touched">
        {{ 'SETTING.password.Error-password-different' | translate }}
      </span>
    </div>
    <button class="connected col mt-5 mx-auto mb-5 py-3" (click)="onSubmit()"
      [disabled]="settingForm.invalid">{{ 'SETTING.password.New-password' | translate }}</button>
  </form>
</div>

<!-- Loading -->
<div *ngIf="loading" class="loading-container d-flex justify-content-center align-items-center">
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>
