<!-- Card -->
<div class="container">
  <!-- Form -->
  <form class="container-form" [formGroup]="settingForm" *ngIf="!loading">
    <div class="row mx-0 mb-3">
      <h1 class="display-3">{{'SETTING.password.Setting-password'|translate}}</h1>
    </div>
    <div class="row mx-0">
      <div class="container">
        <div class="row">
          <p class="h5">{{ 'SETTING.password.New-password' | translate }}</p>
        </div>
        <div class="row">
          <input class="w-100 p-3" type="password" [placeholder]="'CORE.Password' | translate"
            formControlName="password1">
        </div>
        <div class="row mt-3">
          <p class="h5">{{ 'SETTING.password.C-new-password' | translate }}</p>
        </div>
        <div class="row">
          <input class="w-100 p-3" type="password" [placeholder]="'CORE.Password' | translate"
            formControlName="password2">
        </div>
      <div class="submit mt-4">
        <div class="row mx-0">
          <button class="col-6 btn-choice btn-submit-sign-up p-3" (click)="onSubmit()">
            <span class="text-white"> {{ 'CORE.Confirm' | translate }} </span>
          </button>
        </div>
      </div>
      </div>
    </div>
  </form>
  <!-- Loading -->
  <div class="container" *ngIf="loading">
    <div class="row mt-5">
      <div class="mx-auto">
        <div class="m-auto" id="preloader">
          <div id="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
