<div class="stripeIn">
  <div class="col d-flex align-items-baseline py-3">
    <svg [routerLink]="['../']" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
      class="text-white bi bi-arrow-left my-auto" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    <h2 class="my-auto">{{ 'LOGIN-REGISTRER.To-Discord.Wiinser-community' | translate }}</h2>
  </div>
  <div class="signIn bg-white">
    <div class="col mb-5">
      <h1>{{ 'LOGIN-REGISTRER.Welcome' | translate }}</h1>
      <p>{{ 'LOGIN-REGISTRER.To-Stripe.We-need-yr-help' | translate }}</p>
      <p>{{ 'LOGIN-REGISTRER.To-Stripe.We-need-yr-help-2' | translate }}</p>
    </div>
    <div class="externLink d-flex align-items-center mb-5 p-3">
      <img class="mr-2" src="assets/img/btc-brands.svg" alt="Crypto">
      <a class="text-dark" href="https://discord.gg/UT49Fhy3R2" target="_blank">{{ 'LOGIN-REGISTRER.To-Stripe.Cryptocurrency' | translate }}</a>
    </div>
    <!-- <div class="externLink d-flex align-items-center mb-3 p-3">
        <img class="mr-2" src="assets/img/credit-card.svg" alt="Crypto">
        <a class="text-dark" href="" target="_blank">{{ 'LOGIN-REGISTRER.To-Stripe.Credit-Card' | translate }}</a>
      </div> -->
  </div>
</div>