<div class="stripeIn">
    <div class="col d-flex align-items-baseline py-3">
      <svg [routerLink]="['../']" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
        class="text-white bi bi-arrow-left my-auto" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
      <h2 class="my-auto">{{ 'LOGIN-REGISTRER.To-Discord.Wiinser-community' | translate }}</h2>
    </div>
    <div class="signIn bg-white">
      <div class="col mb-3">
        <h1>{{ 'LOGIN-REGISTRER.Welcome' | translate }}</h1>
        <p>{{ 'LOGIN-REGISTRER.To-Stripe.We-need-yr-help' | translate }}</p>
        <p>{{ 'LOGIN-REGISTRER.To-Stripe.We-need-yr-help-2' | translate }}</p>
      </div>
      <div class="d-flex justify-content-center">
      <img class="my-5 stripe" src="assets/img/stripe.png" width="140" height="140" alt="Stripe">
      </div>
      <a href="https://discord.gg/Rhf3Sv8J" target="_blank">
      <button class="col mt-4 mx-auto d-flex justify-content-center mb-5 py-3" disabled>{{ 'LOGIN-REGISTRER.To-Stripe.Coming-Soon' | translate }}</button>
  </a>
  </div>
  </div>
