<!-- Component Body -->
<div class="container-card">
  <!-- Control and Artist -->
  <div *ngIf="musicList$|async" [@HeaderPlaylist]="(musicList$|async)" class="playlistAndProfile row mx-0 px-4 py-4">
    <div class="col-md-7">
      <app-view-player></app-view-player>
    </div>
    <div class="col-md-5">
      <app-view-profile></app-view-profile>
    </div>
  </div>
  <!-- Comment and Music list -->
  <div class="commentAndMusicList row mx-0 px-4 py-1">
    <div class="col-md-5 mb-5">
      <app-view-comment></app-view-comment>
    </div>
    <div class="col-md-7 mb-5">
      <app-music-list></app-music-list>
    </div>
  </div>
</div>