
::-webkit-scrollbar {
  width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 8px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #eeeeee;
}

.header-conversation {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1em;

  .chat-name {
    font-family: Montserrat !important;
    font-weight: bold;
    font-size: 1.2em;
  }

  .container-btn-header {
    .fa-cogs {
      font-size: 22px;
      color: #68adf4;
    }

    .fa-bell-slash {
      color: #f4687b;
      font-size: 20px;
    }
  }

  .dropdownSetting {
    i {
      color: #a8a8a8;
    }

    span {
      color: #6c757d;
    }
  }

}

.dropdown-menu {
  overflow: hidden;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2),
  0 24px 38px 3px rgba(0, 0, 0, .14),
  0 9px 46px 8px rgba(0, 0, 0, .12);
}

.dropdown-button {
  background-color: unset;
  border: 0;
}

.chat-messages {
  height: 65vh;
  overflow: hidden;
  overflow-y: scroll;

  img {
    width: 40px;
    height: 40px;
    border: white solid 1px;
    padding: 1px;
    object-fit: cover;
  }

  .auto-delete-message {
    background-color: #eeeeee;
    border-radius: .8em;
  }

  .message-received {
    border: .01em solid #00a9ce;
    border-radius: .8em;

    img {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }

  .message-sent {
    color: white;
    background-color: #00a9ce;
    border-radius: .8em;

    img {
      float: left;
    }
  }
}

.commenting {
  font-size: 2em;
  color: #eeeeee;
}

.container-adv {
  .title {
    color: #4A90E2;
  }
}

.container-input {
  border-top: 1px solid #e7e7e7;

  textarea {
    border: none;
    width: 47vw;
    padding: 0;
  }

  .minimize-btn {
    background-color: #167DCE;
    font-size: 0.8em;
    border-radius: 20px;
    border: 0;
    color: white;
  }

  .message-container {
    border-radius: 15px;
    border: 1px solid #C9C9C9;
    min-height: 2.6em;
  }

  .message-inputs {
    font-size: 1em;
    background-color: unset;
    border: none;
  }

  .bi-paperclip {
    transform: rotate(33deg);
  }

  .send-message-btn {
    border-radius: 15px;
    background: linear-gradient(#167DCE, #3E56D4);
    border: none;
    color: white;
    height: 2em;
    width: auto !important;
    text-align: center;
  }

  .bi-cursor-fill {
    transition: all 0.3s;
  }

  .send-message-btn:hover .bi-cursor-fill {
    transform: rotate(47deg);
  }

  .fa {
    font-size: 1.2em;
  }
}

.container-typing {
  transition: 0.5s;
  cursor: pointer;
  margin: 0;
  padding: 0;

  img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: white solid 1px;
  }
}

.container-avatar {
  transition: 0.5s;
  cursor: pointer;
  margin: 0;
  padding: 0;

  img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: white solid 1px;
    margin-right: 0;
  }
}

.container-divided-picture {
  cursor: pointer;
  margin: 1.3em 0 0;
  padding: 0;
  font-family: Montserrat !important;

  img {
    object-fit: cover;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: white solid 1px;
    margin-right: 0;
  }

  .other-members {
    object-fit: cover;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: white solid 1px;
    margin-right: 0;
    background-color: #eeeeee;
    left: 2.3em;
    bottom: 1em;
  }
}

.container-search {

  .btn {
    font-size: 0.8rem;
  }

  input {
    border-radius: 8px;
    font-size: 15px;
    color: #8d8d8d;
    border: solid 1px #E4E4E4;
  }
}

.container-message-deletion span {
  border-radius: 20px;
  background: #eee;
}

.container-participated {
  position: absolute;

  .card {
    border-radius: 15px;
    border: 0;
    z-index: 1;

    .card-footer {
      button {
        border-radius: 25px;
      }
    }

    .card-footer, .card-header {
      background-color: white;
      border: 0;
    }
  }
}

.tag-btn {
  display: inline-block;
  border-radius: 25px;

  .container-img-tag {
    width: 46px;
    height: 45px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

    .fa-times {
      position: absolute;
      color: #f8f9fa;
      left: 14px;
      top: 9px;
      font-size: 1.5rem;
      display: none;
      cursor: pointer;
    }
  }

  img {
    object-fit: cover;
  }
}


.btn-delete-message {
  button {
    border: 0;
  }

  i {
    cursor: pointer;
    display: none;
    font-size: 1.2rem;
    color: #c1c1c1;
  }

  i:hover {
    color: #666666;
  }
}

.tag {
  position: relative;
  border-radius: 25px;
}

.tag:hover {

  img {
    filter: blur(8px);
  }

  .fa-times {
    display: block !important;
  }
}

.bi-clock-history {
  font-size: 1.5rem;
}

.bi-three-dots {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.container-adv {
  .title {
    color: #4A90E2;
  }
}

.trend-conversation {
  height: calc(100% - 169px);
  overflow-x: hidden;
  overflow-y: auto;

  img {
    width: 50px;
    height: 50px;
    border: white solid 1px;
    padding: 1px;
    object-fit: cover;
  }

  .content-text p {
    display: inline-block;
  }

  .content-text:hover {
    .btn-delete-message i {
      display: block;
    }
  }
}

.container-avatar {
  transition: 0.5s;
  cursor: pointer;
  position: relative;

  img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 2px solid white;
  }

}

.container-divided-picture {
  transition: 0.5s;
  width: 65px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border: white solid 2px;
  cursor: pointer;


  img {
    position: absolute;
    object-fit: cover;
  }

  .left-picture {
    left: 0;
    border-right: white solid 1px;
  }

  .right-picture {
    right: 0;
    border-left: white solid 1px;
  }
}


.btn-delete-message {
  button {
    border: 0;
  }

  i {
    cursor: pointer;
    display: none;
    font-size: 1.2rem;
    color: #c1c1c1;
  }

  i:hover {
    color: #666666;
  }
}

.tag {
  position: relative;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .chat-messages {
    height: 69vh;
  }
}

