<div class="w-100 mt-0">
  <div class="row header-conversation position-sticky mt-1">
    <div class="col-12">
      <div class="d-flex flex-direction-row">
        <div class="container-avatar ml-4">
          <img alt="avatar" class="avatar rounded-circle"
               src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg">
        </div>
        <div class="align-self-center ml-2">John Doe</div>
        <div class="ml-auto mr-4 align-self-center mr-4" ngbDropdown>
          <button class="dropdown-button" ngbDropdownToggle>
            <img alt="Setting" class="bi-three-dots" src="../../../assets/img/Dot-Setting.svg">
          </button>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu" ngbDropdownMenu>
            <button (click)="muteRoom()" ngbDropdownItem>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-bell-slash"></i></div>
                <div class="col-md-10"><span>{{'CHAT.Mute'| translate}}</span></div>
              </div>
            </button>
            <button (click)="unMuteRoom()" class="row mx-0"
                    ngbDropdownItem>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-bell"></i></div>
                <div class="col-md-10"><span>{{'CHAT.Enable-notification'| translate}}</span></div>
              </div>
            </button>
            <button (click)="changeMode('deleteRoom')" class="row mx-0" ngbDropdownItem>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-trash"></i></div>
                <div class="col-md-10"><span>{{'CORE.Delete'|translate}}</span></div>
              </div>
            </button>
            <button (click)="toggleSearch()" class="row mx-0" ngbDropdownItem>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-users"></i></div>
                <div class="col-md-10"><span>{{'CORE.Add-someone'|translate}}</span></div>
              </div>
            </button>
            <button (click)="supportMessage()" class="row mx-0" ngbDropdownItem>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-minus-circle"></i></div>
                <div class="col-md-10"><span>{{'CORE.Block'|translate}}</span></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row chat-messages w-100 px-4 mx-0">
    <div class="col-12 container-fluid mt-2 mb-4">
      <div class="row justify-content-center">
        <div class="col-10 col-md-6 p-4 auto-delete-message d-flex flex-row">
          your messages are automatically deleted after 14Days
          <i class="bi bi-clock-history ml-1"></i>
        </div>
      </div>
    </div>
    <div class="col-12 w-100 my-2">
      <div class="row justify-content-start">
        <div class="col-10 col-md-8 p-2 message-received mb-2">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
          Lorem ipsum dolor sit amet consectetur
          <div class="d-flex flex-direction-row p-0 m-0" ngbDropdown>
            <div class="ml-auto mr-4">
              <span>19:00</span>
              <button class="dropdown-button pl-2" ngbDropdownToggle>
                <i class="fa fa-ellipsis-h"></i>
              </button>
              <div aria-labelledby="navbarDropdown" class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-10 col-md-8 p-2 message-sent">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
          Lorem ipsum dolor sit amet consectetur
          <div class="d-flex flex-direction-row" ngbDropdown>
            <div class="ml-auto mr-4">
              <span>19:00</span>
              <button class="dropdown-button pl-2" ngbDropdownToggle>
                <i class="fa fa-ellipsis-h"></i>
              </button>
              <div aria-labelledby="navbarDropdown" class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 container-fluid mt-2 mb-4">
      <div class="row justify-content-start">
        <div class="col-6 col-md-2 p-3">
          <div class="container-typing position-relative">
            <img alt="avatar" class="avatar rounded-circle"
                 src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg">
          </div>
          <i class="fa fa-commenting position-absolute bottom-5 left-5 commenting"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-input position-relative">
    <button class="position-absolute right-7 bottom-5  minimize-btn">
      <i class="fa fa-minus pt-1"></i>
    </button>
    <div class="col-11 message-container mx-auto mt-4 py-1 d-flex flex-row">
      <div class="">
        <button class="message-inputs">
          <i class="fa fa-microphone pt-1"></i>
        </button>
      </div>
      <div class="ml-3 pt-1">
          <textarea
            [(ngModel)]="text"
            cdkTextareaAutosize
            class="message-input"
            matInput
            placeholder="write your message"
          >
          </textarea>
      </div>
      <div class="d-flex flex-row mx-0 ">
        <button class="message-inputs">
          <i class="fa fa-user-plus"></i>
        </button>
        <button class="message-inputs">
          <i class="fa fa-paperclip bi-paperclip"></i>
        </button>
        <button class="message-inputs send-message-btn d-flex flex-row align-center pt-1 px-3">
          <i class="fa fa-send bi-cursor-fill mr-2"></i> Send
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!(room$ | async)" class="container-no-dialog row w-100 h-100 mx-0">
  <div class="m-auto">
    <!-- <span>No room is selected</span> -->
  </div>
</div>


