.header-conversation {
  border-bottom: 1px solid #e7e7e7;
  height: 70px;

  p {
    font-size: 1.2rem;
  }

  i {
    cursor: pointer;
  }

  .container-btn-header {
    .fa-cogs {
      font-size: 22px;
      color: #68adf4;
    }

    .fa-bell-slash {
      color: #f4687b;
      font-size: 20px;
    }
  }

  .dropdownSetting {
    i {
      color: #a8a8a8;
    }

    span {
      color: #6c757d;
    }
  }

}

.dropdown-menu {
  overflow: hidden;
  border: 0;
  border-radius: 15px;
  box-shadow:
    0 11px 15px -7px rgba(0, 0, 0, .2),
    0 24px 38px 3px rgba(0, 0, 0, .14),
    0 9px 46px 8px rgba(0, 0, 0, .12);
}

.container-adv {
  .title {
    color: #4A90E2;
  }
}

.trend-conversation {
  height: calc(100% - 169px);  
  overflow: auto;

  img {
    width: 40px;
    height: 40px;
    border: white solid 1px;
    padding: 1px;
    object-fit: cover;
  }

  .content-text p {
    display: inline-block;
  }

  .content-text:hover {
    .btn-delete-message i {
      display: block;
    }
  }

  .message-received {
    img {
      bottom: 0;
      position: absolute;
      right: 0;
    }

    p {
      border-radius: 20px 20px 20px 5px;
      background: #eee;
    }
  }

  .message-sended {
    .content-text {
      text-align: right;
    }

    img {
      float: left;
    }

    p {
      border-radius: 20px 20px 5px 20px;
      background: #3578e5;
      color: white;
      text-align: left;
    }
  }
}

.container-input {
  border-top: 1px solid #e7e7e7;
  height: 100px;

  .button-footer i {
    padding: 18px;
    font-size: 19px;
    color: #6c757d;
    cursor: pointer;
  }

  .message-box .message-input {
    background: none;
    border: none;
    resize: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    height: 24px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
    color: #444;
  }

  .message-submit {
    z-index: 1;
    color: #4A90E2;
    border: none;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 5px;
    outline: none !important;
    cursor: pointer;
  }
}

.container-avatar {
  transition: 0.5s;
  cursor: pointer;
  position: relative;

  img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: white solid 2px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
  }

}

.container-divided-picture {
  transition: 0.5s;
  width: 65px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border: white solid 2px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
  cursor: pointer;


  img {
    position: absolute;
    object-fit: cover;
  }

  .left-picture {
    left: 0;
    border-right: white solid 1px;
  }

  .right-picture {
    right: 0;
    border-left: white solid 1px;
  }
}

.container-search {

  .btn {
    font-size: 0.8rem;
  }

  input {
    border-radius: 8px;
    font-size: 15px;
    color: #8d8d8d;
    border: solid 1px #E4E4E4;
  }
}

.suggest-friend {
  img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border: white solid 2px;
  }

  .container-pseudo-suggest {
    p {
      flex: 0 1 auto;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.container-bubble-message {
  position: relative;
}

.container-message-deletion span {
  border-radius: 20px;
  background: #eee;
}

.container-participated {
  position: absolute;

  .card {
    border-radius: 15px;
    border: 0;
    z-index: 1;

    .card-footer {
      button {
        border-radius: 25px;
      }
    }

    .card-footer, .card-header {
      background-color: white;
      border: 0;
    }
  }
}

.tag-btn {
  display: inline-block;
  border-radius: 25px;

  .container-img-tag {
    width: 46px;
    height: 45px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

    .fa-times {
      position: absolute;
      color: #f8f9fa;
      left: 14px;
      top: 9px;
      font-size: 1.5rem;
      display: none;
      cursor: pointer;
    }
  }

  img {
    object-fit: cover;
  }
}


.btn-delete-message {
  button {
    border: 0;
  }
  i {
    cursor: pointer;
    display: none;
    font-size: 1.2rem;
    color: #c1c1c1;
  }
  i:hover {
    color: #666666;
  }
}

.tag {
  position: relative;
  border-radius: 25px;
}

.tag:hover {

  img {
    filter: blur(8px);
  }

  .fa-times {
    display: block !important;
  }
}

.bi-clock-history {
  font-size: 1.5rem;
}

