@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.bg-picture {
  background-image: url('https://eps-file-default.s3.eu-west-3.amazonaws.com/bg-sign.jpg');
  background-size: inherit;
  overflow: hidden;
}

.container-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 5rem;
}

