<div class="bg-picture w-100 h-100">
  <div class="container h-100 bg-white shadow px-0 container-scroll">
    <div class="row mx-0 container-header">
      <div class="col row mx-0">
        <h1 class="pl-5 my-auto">{{'CORE.Term-of-use'|translate}}</h1>
      </div>
      <div class="col row mx-0">
        <button class="ml-auto my-auto btn btn-secondary" (click)="backClicked()">
          <i class="fa fa-arrow-left mx-2"></i>
          <span class="pl-2">{{'SIDEBAR-SETTING.Return-Home'|translate}}</span>
        </button>
      </div>
    </div>
    <app-container-t-o-u></app-container-t-o-u>
  </div>
</div>