.card {
  overflow: hidden;
}

.reset-upload {
  position: absolute;
  right: 7px;
  top: 5px;
}

.container-loading {
  height: 32rem;
}

.valid-upload {
  border: 1.5px solid #30d875 !important
}

.pending-message-container {
  height: 26rem;

  .bi {
    color: #9e9e9e;
  }
}

.bg-side {
  background: #80808036;
}

.title-card {
  text-transform: uppercase;
}

.sub-title {
  color: #b3b3b3;
}

.container-upload {
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;

  svg {
    width: 25px;
    cursor: pointer;
  }

  .upload-link {
    white-space: nowrap;
    width: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    direction: rtl;
    text-align: left;
  }
}

.input-desc {
  font-size: 0.9rem;
  color: #b3b3b3;
}

.msg-confirm {
  font-size: 17px;
  letter-spacing: 0.89px;
  line-height: 27px;
  color: #9e9e9e;
  text-align: center;
}