<!-- Var -->
<input hidden type='file' accept='image/*' id="idUpload" #idUpload (change)=saveIdFile(idUpload.files)>
<input hidden type='file' accept='image/*' id="idUpload2" #idUpload2 (change)=saveIdFile2(idUpload2.files)>
<input hidden type='file' accept='image/*' id="pictureTakenFile" #pictureTakenFile (change)=savepictureTakeFile(pictureTakenFile.files)>

<!-- Body -->
<div class="card shadow">
  <div class="row mx-0 h-100">
    <!-- Form -->
    <div class="col-12 col-sm-12 col-md-8 col-xl-6 description-side">
      <div class="container-fluid" *ngIf="!loading">
        <div class="row mx-0 my-3">
          <h1 class="title-card">{{'SETTING.verified.Verification'|translate}}</h1>
        </div>
        <!-- If the request is not pending -->
        <div *ngIf="!requestPending">
          <div class="row mx-0 mt-2">
            <p>{{'SETTING.verified.Pl-s-t-docs-a-complet-t-form-below'|translate}}</p>
          </div>
          <div class="row mx-0">
            <div class="container">
              <!-- Upload front idFile -->
              <div class="my-2">
                <div class="container-upload position-relative" [ngClass]="{'valid-upload': !!fileIdLink}">
                  <label for="idUpload" class="mb-0 w-100 row mx-0 p-2">
                    <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-upload my-auto"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                      <path fill-rule="evenodd"
                        d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                    </svg>
                    <span class="upload-link pl-3 pr-4" *ngIf="fileIdname" for="profileUpload">{{fileIdname}}</span>
                    <span class="upload-link pl-3 pr-4" *ngIf="!fileIdname"
                      for="profileUpload">{{'CORE.Upload-yr-file-here'|translate}}</span>
                  </label>
                  <svg *ngIf="!!fileIdLink" width="2em" height="2em" viewBox="0 0 16 16" class="reset-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="resetUpload('fileIdLink')">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </div>
                <div class="row mx-0">
                  <p class="pl-1 pt-1 input-desc">
                    {{'SETTING.verified.Upload-yr-passport-id-identity-or-driver-license'|translate}}</p>
                </div>
              </div>
              <!-- Upload back idFile -->
              <div class="my-2">
                <div class="container-upload position-relative" [ngClass]="{'valid-upload': !!fileIdLink2}">
                  <label for="idUpload2" class="mb-0 w-100 row mx-0 p-2">
                    <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-upload my-auto"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                      <path fill-rule="evenodd"
                        d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                    </svg>
                    <span class="upload-link pl-3 pr-4" *ngIf="fileIdname2">{{fileIdname2}}</span>
                    <span class="upload-link pl-3 pr-4" *ngIf="!fileIdname2">{{'CORE.Upload-yr-file-here'|translate}}</span>
                  </label>
                  <svg *ngIf="!!fileIdLink2" width="2em" height="2em" viewBox="0 0 16 16" class="reset-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="resetUpload('fileIdLink2')">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </div>
                <div class="row mx-0">
                  <p class="pl-1 pt-1 input-desc">
                    {{'SETTING.verified.M-s-t-upload-t-back-of-the-card-if-its-a-national-id-card'|translate}}</p>
                </div>
              </div>
              <!-- Upload picture taken -->
              <div class="my-2">
                <div class="container-upload position-relative" [ngClass]="{'valid-upload': !!pictureTakeLink}">
                  <label for="pictureTakenFile" class="mb-0 w-100 row mx-0 p-2">
                    <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-upload my-auto"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                      <path fill-rule="evenodd"
                        d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                    </svg>
                    <span class="upload-link pl-3 pr-4" *ngIf="pictureTakeName"
                      for="pictureTakenFile">{{pictureTakeName}}</span>
                    <span class="upload-link pl-3 pr-4" *ngIf="!pictureTakeName"
                      for="pictureTakenFile">{{'CORE.Upload-yr-file-here'|translate}}</span>
                  </label>
                  <svg *ngIf="!!pictureTakeLink" width="2em" height="2em" viewBox="0 0 16 16" class="reset-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="resetUpload('pictureTakeLink')">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </div>
                <div class="row mx-0">
                  <p class="pl-1 pt-1 input-desc">{{'SETTING.verified.Upload-a-photo-holding-t-ID-D'|translate}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mx-0 my-2">
            <mat-checkbox class="col-1 mb-0" [checked]="checkedCond" (change)="changeCheckBtn($event)"></mat-checkbox>
            <p class="col">{{'SETTING.verified.I-agree-t-m-data-may-b-used-t-check-my-account'|translate}}</p>
          </div>
          <div class="row mx-0">
            <button class="ml-auto m-3 btn btn-primary" (click)="confirm()">
              <span>{{'CORE.Confirm'|translate}}</span>
            </button>
          </div>
        </div>
        <!-- If the request is pending -->
        <div class="row mx-0 pending-message-container" *ngIf="requestPending">
          <div class="col my-auto text-center">
            <div class="row d-flex justify-content-center mb-4">
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07A7.001 7.001 0 0 1 8 16 7 7 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3zm0 2.1a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 0 1 .5-.5z" />
              </svg>
            </div>
            <div class="row">
              <span class="msg-confirm">{{'SETTING.verified.Yr-profil-is-currently-being-checked-D'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" *ngIf="loading">
        <div class="row mx-0 container-loading">
          <div class="loader m-auto">{{'CORE.Loading'|translate}}</div>
        </div>
      </div>
    </div>
    <!-- Image -->
    <div class="d-none d-sm-none d-md-block col-md-4 col-xl-6 bg-side px-0">
      <img class="w-100 h-100" src="https://eps-file-default.s3.eu-west-3.amazonaws.com/verification-wiins-id.png" alt="">
    </div>
  </div>
</div>