.card {
  overflow: hidden;
}

.bg-side {
  background: #80808036;
}

.title-card {
  text-transform: uppercase;
}

.sub-title {
  color: #b3b3b3;
}

.container-upload {
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;

  svg {
    width: 25px;
    cursor: pointer;
  }

  .upload-link {
    white-space: nowrap;
    width: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    direction: rtl;
    text-align: left;
  }
}

.input-desc {
  font-size: 0.9rem;
  color: #b3b3b3;
}