<!-- Component Body -->
<div class="container-fluid" *ngIf="!(loading$|async)">
  <!-- Switch Button Navigation && followers video -->
  <div class="swith-navigation row m-3 px-4 pb-2">
    <div class="col text-left my-auto">
      <div *ngIf="(tubeMenu$|async)?.following.length > 0">
        <span class="title-section">{{'MAIN-MUSIC.My-wiinsers'|translate}} |</span>
        <span class="sub-title mx-2" (click)="supportMessage()">{{'CORE.See-more'|translate}}</span>
      </div>
    </div>
    <div class="col text-right">
      <button type="button" class="btn trend mx-2 px-3" [routerLink]="['./../../SpaceCreative/tube']" *ngIf="((myprofile$|async)?.levelCertification !== 0)">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle my-auto mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        <span>{{'CORE.Add'|translate}}</span>
      </button>
      <button type="button" class="btn time mx-2" (click)="supportMessage()">
        <i class="fa fa-clock-o"></i>
      </button>
    </div>
  </div>
  <!-- Following video-->
  <div class="row mx-0" *ngIf="(tubeMenu$|async)?.following; let tubes">
    <div class="col-md-3 my-2 px-2" *ngFor="let t of tubes">
      <div class="card">
        <div class="poster-video" [routerLink]="['../watching-video/' + t.tube._id ]">
          <img class="profile" [src]="t.tube.profile.pictureprofile">
          <div class="time px-2">
            <i class="fa fa-clock-o"></i>
          </div>
          <img class="photo-video" [src]="t.tube.posterLink">
        </div>
        <div class="card-body py-1 px-3">
          <h4><strong>{{t.tube.name}}</strong></h4>
          <div class="row mx-0">
            <p class="mr-auto">{{t.tube.totalView}}K views</p>
            <!-- <p class="ml-auto">0min</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Lastest video -->
  <div class="swith-navigation row m-3 px-4 pb-2">
    <div class="col text-left my-auto">
      <div *ngIf="(tubeMenu$|async)?.lastest.length > 0">
        <span class="title-section">{{'MAIN-MUSIC.Lastest-tube'|translate}} |</span>
        <span class="sub-title mx-2" (click)="supportMessage()">{{'CORE.See-more'|translate}}</span>
      </div>
    </div>
  </div>
  <div class="row mx-0" *ngIf="(tubeMenu$|async)?.lastest; let tubes">
    <div class="col-md-3 my-2 px-2" *ngFor="let t of tubes">
      <div class="card">
        <div class="poster-video" [routerLink]="['../watching-video/' + t.tube._id ]">
          <img class="profile" [src]="t.tube.profile.pictureprofile">
          <div class="time px-2">
            <i class="fa fa-clock-o"></i>
          </div>
          <img class="photo-video" [src]="t.tube.posterLink">
        </div>
        <div class="card-body py-1 px-3">
          <h4><strong>{{t.tube.name}}</strong></h4>
          <div class="row mx-0">
            <p class="mr-auto">{{t.tube.totalView}}K views</p>
            <!-- <p class="ml-auto">0min</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loading Animation -->
<div class="container" *ngIf="(loading$|async)">
  <div class="row mt-8">
    <div class="sk-chase mx-auto">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
</div>