<!-- Component Body -->
<div class="card row my-5">
  <!-- BlackList Card -->
  <div class="card-body row">
    <div class="mx-3 my-2">
      <h5 class="card-title">{{'SETTING.profile.T-people-w-not-be-able-to-access-your-profile'|translate}}</h5>
      <p class="card-text">{{'SETTING.profile.T-people-w-not-be-able-to-access-your-profile-D'|translate}}</p>
      <div class="row">
        <div *ngIf="searchbar" class="input-group col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text" class="form-control" [placeholder]="'PROFILE.Pseudo'|translate" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
        <a (click)="searchbar = !searchbar" class="ml-auto btn btn-primary add-user">{{'CORE.Add-someone'| translate}}</a>
      </div>
    </div>
  </div>
  <!-- List of pseudo added -->
  <div class="container list-pseudo">
    <div class="m-2">
      <button type="button" class="btn btn-light">
        Sample <span class="badge badge-light">x</span>
      </button>
    </div>
  </div>
</div>
