<!-- Header's Profil -->
<div *ngIf="profile$ | async; let p">
    <div class="container-cover-picture shadow" [style.background-image]="'url(' + p.picturecover + ')'">
      <div class="container-fluid px-0">
        <div class="row mx-0 container-header py-3">
          <div class="col-4 col-md-5">
            <h2 class="pseudo ml-5">{{p._meta.pseudo}}</h2>
          </div>
          <div class="col-8 col-md-7 my-auto d-flex justify-content-end">
            <div class="col-5 col-md-4 text-right" *ngIf="p.follow.following && p.relation !== 'friend'">
              <div *ngIf="!p.userRelation">
                <button class="btn btn-outline-light w-100" (click)="follow(p._id)">
                  <i class="px-2 py-auto fa fa-user-plus"></i>
                  <span class="px-2 py-1">{{'CORE.Follow'|translate}}</span>
                </button>
              </div>
              <div *ngIf="p.userRelation">
                <button class="btn btn-outline-light w-100" (click)="unfollow(p._id)">
                  <i class="px-2 py-auto fa fa-user-plus"></i>
                  <span class="px-2 py-1">{{'CORE.Unsubscribe'|translate}}</span>
                </button>
              </div>
            </div>
            <div class="col-5 col-md-4" *ngIf="p.follow.friend">
              <div [ngSwitch]="p.relation">
                <button *ngSwitchCase="'friend'" class="btn btn-outline-grey no-cursor-hand w-100">
                  <i class="px-2 py-auto fa fa-user"></i>
                  <span class="px-2 py-1">{{'CORE.Already-a-friend'|translate}}</span>
                </button>
                <button *ngSwitchCase="'not-friend'" (click)="askfriendbtn(p)" class="btn btn-outline-light w-100">
                  <i class="px-2 py-auto fa fa-user-plus"></i>
                  <span class="px-2 py-1">{{'CORE.Add'|translate}}</span>
                </button>
                <button *ngSwitchCase="'pendingFromMe'" (click)="cancelfriendbtn(p)" class="btn btn-outline-light w-100">
                  <i class="px-2 py-auto fa fa-user-plus"></i>
                  <span class="px-2 py-1 askWaiting">{{'CORE.Cancel-the-request'|translate}}</span>
                </button>
                <button *ngSwitchCase="'pendingFromHim'" (click)="ComfirmBtn(p)" class="btn btn-outline-light w-100">
                  <i class="px-2 py-auto fa fa-user-plus"></i>
                  <span class="px-2 py-1 askWaiting">{{'CORE.Confirm'|translate}}</span>
                </button>
              </div>
            </div>
            <div ngbDropdown class="container-option col-1 col-md-2 my-auto dropdown d-flex justify-content-center">
              <button ngbDropdownToggle class="btn btn-option-profile rounded-circle">
                <i class="fa fa-ellipsis-h"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu shadow">
                <div *ngIf="p.relation == 'friend'" (click)="deletefriendbtn(p._id)"
                  class="row mx-0 px-0 py-2 container-btn-dropdown">
                  <div class="col-md-4 d-flex justify-content-center my-auto">
                    <i class="fa fa-trash"></i>
                  </div>
                  <div class="col-md-8">
                    <span>{{'CORE.Delete'| translate}}</span>
                  </div>
                </div>
                <div class="row mx-0 px-0 py-2 container-btn-dropdown" (click)="report(p._id)">
                  <div class="col-md-4 d-flex justify-content-center my-auto">
                    <i class="fa fa-user-times"></i>
                  </div>
                  <div class="col-md-8">
                    <span>{{'BTN-DROPDOWN.Report'|translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row container-img-profile w-100 mx-0">
        <img class="shadow rounded-circle mx-auto" [src]="p.pictureprofile">
      </div>
    </div>
    <div class="information-profil row mr-auto ml-5">
      <div class="swith-space mr-auto mt-3 ml-4">
        <a *ngIf="(profile$|async)?.actifSpace !== 1" [routerLink]="['Story']" routerLinkActive="active">
          <button type="button" class="mx-2 btn">
            <i class="p-2 mr-1 fa fa-camera"></i>
            <span>{{'PROFILE.Story'|translate}}</span>
          </button>
        </a>
        <a *ngIf="(profile$|async)?.actifSpace == 2 || (profile$|async)?.actifSpace == 4" [routerLink]="['Music']"
          routerLinkActive="active">
          <button type="button" class="mx-2 btn">
            <i class="p-2 mr-1 fa fa-music"></i>
            <span>{{'PROFILE.Musics'|translate}}</span>
          </button>
        </a>
        <a *ngIf="(profile$|async)?.actifSpace == 3 || (profile$|async)?.actifSpace == 4" [routerLink]="['Tube']"
          routerLinkActive="active">
          <button type="button" class="mx-2 btn">
            <i class="p-2 mr-1 fa fa-video-camera"></i>
            <span>{{'PROFILE.Videos'|translate}}</span>
          </button>
        </a>
      </div>
    </div>
  </div>
  
  <!-- Actif Space -->
  <div class="container publications-space p-5">
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>