<!-- Component Body -->
<div class="card" *ngIf="data">

  <!-- Card Header  -->
  <div class="card-header">
    <div class="row">
      <div class="col">
        <span>{{'GROUP.Group-management'| translate}}</span>
      </div>
    </div>
  </div>

  <!-- Card Body  -->
  <div class="card-body">
    <div class="container" [ngSwitch]="data.catagorie">
      <div *ngSwitchCase="'leave'" class="row">
        <span>{{'VALIDATION.A-y-s-to-leave-t-group'|translate}} <strong>{{'VALIDATION.T-operation-is-irreversible'|translate}}</strong></span>
      </div>
      <div *ngSwitchCase="'delete'" class="row">
        <span>{{'ADMIN.A-y-s-to-delete-member'|translate}}</span>
      </div>
      <div *ngSwitchCase="'promote'" class="row">
        <span>{{'ADMIN.A-y-s-upgrade-t-member'|translate}}</span>
      </div>
      <div *ngSwitchCase="'demote'" class="row">
        <span>{{'ADMIN.A-y-s-downgrade-t-member'|translate}}</span>
      </div>
      <div *ngSwitchCase="'replacePr'" class="row">
        <span>{{'ADMIN.replace-pr-adv'|translate}}</span>
      </div>
      <div *ngIf="(error$|async) let m" class="row mx-0 d-flex justify-content-center text-danger">
        <span *ngIf="m == 'password_invalid'">{{'ERROR-MESSAGE.Invalid-password'|translate}}</span>
      </div>
    </div>
  </div>

  <!-- Card Footer -->
  <div class="card-footer">
    <form [formGroup]="form" (ngSubmit)="confirm()">
      <div class="row mx-0 w-100">
        <div class="col-7">
          <input formControlName="password" type="password" class="h-100 w-100 px-3"
           [placeholder]="'PLACEHOLDER.Your-Password'|translate" name="password-team">
        </div>
        <div class="col-5 text-right">
          <button class="btn btn-primary" (click)="confirm()">
            <span>{{'CORE.Confirm'|translate}}</span>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
