.card{
  border-radius: 15px;
}

.btn span {
  background: #d6d6d6;
}


.sub-btn{
  float: right;
  color: white !important;
  border-radius: 20px;
  cursor: pointer;
}

.block-btn{
  border-radius: 20px;
}

.content-warning {
  border-top: 1px solid #e7e7e7;
}

.form-control {
  background-color: transparent;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #2c2c2c;
  line-height: normal;
  font-size: 0.8571em;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: none;
}

.card label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9A9A9A;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
