<!-- Var -->
<span hidden>{{coverUrl}}</span>
<span hidden>{{avatarUrl}}</span>
<input hidden id="upload_cover" type="file" accept='image/*' #cover (change)=previewCover($event)>
<input hidden id="upload_profile" type="file" accept='image/*' #profile (change)=previewProfile($event)>

<div class="w-100 h-100" [hidden]="(loading$|async)">

  <!-- Header's Page -->
  <div class="container-header">
    <div class="container-cover">
      <div class="row mx-0 py-3 header-row position-absolute w-100">
        <div class="title col mr-auto text-left my-auto">
          <h2 class="ml-2" *ngIf="titlepage.value.length == 0">{{'PAGE.Name-page'|translate}}</h2>
          <h2 class="ml-2" *ngIf="titlepage.value.length > 0">{{titlepage.value}}</h2>
        </div>
        <div class="follow col ml-auto text-right my-auto">
          <button>
            <i class="px-2 py-auto fa fa-heart-o"></i>
            <span class="px-2 py-1">{{'CORE.Follow'|translate}}</span>
          </button>
        </div>
      </div>
      <img class="w-100 h-100" *ngIf="imgCover" [src]="imgCover">
    </div>
    <div class="row container-profile">
      <img class="mx-auto" *ngIf="imgProfile" [src]="imgProfile">
    </div>
  </div>

  <!-- Information for Creation -->
  <form [formGroup]="pageForm" class="container-form container mt-5">
    <!-- Information -->
    <div class="row mx-0">
      <!-- Manage information -->
      <div class="col-12 col-md-6 information">
        <!-- Page name -->
        <div class="row mx-0 my-3">
          <div class="col-8 form-group mb-0 my-auto">
            <input #titlepage formControlName="name" type="text" class="form-control pl-3"
              [placeholder]="'PAGE.Name-page'|translate">
          </div>
          <div class="col-4 my-auto">
            <svg [ngClass]="{ 'is-valid': !f.name.errors }" width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-check2-circle grey-check" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
              <path fill-rule="evenodd"
                d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
            </svg>
          </div>
        </div>
        <!-- Choose categorie -->
        <div class="row mx-0 my-3">
          <mat-form-field class="choose-categorie-select col-8">
            <mat-label>Choose a categorie</mat-label>
            <mat-select [(ngModel)]="categoriePage" [ngModelOptions]="{standalone: true}" (selectionChange)="resetSubCategorie()">
              <mat-option [value]="item.code" *ngFor="let item of categoriePageData">{{item.groupTitle|translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-4 my-auto">
            <svg [ngClass]="{ 'is-valid': categoriePage !== 0 }" width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-check2-circle grey-check" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
              <path fill-rule="evenodd"
                d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
            </svg>
          </div>
        </div>
        <!-- Subchoose categorie -->
        <div class="row mx-0 my-3" *ngIf="categoriePage !== 0">
          <div [ngSwitch]="categoriePage" class="col-8">
            <mat-form-field class="choose-categorie-select w-100" *ngSwitchCase="1">
              <mat-label>{{'CATEGORY.Ch-a-category'|translate}}</mat-label>
              <mat-select [(ngModel)]="subcategoriePage" [ngModelOptions]="{standalone: true}">
                <mat-option [value]="item.code" *ngFor="let item of categoriePageData[0].subGroup">{{item.name|translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="choose-categorie-select w-100" *ngSwitchCase="2">
              <mat-label>{{'CATEGORY.Ch-a-category'|translate}}</mat-label>
              <mat-select [(ngModel)]="subcategoriePage" [ngModelOptions]="{standalone: true}">
                <mat-option [value]="item.code" *ngFor="let item of categoriePageData[1].subGroup">{{item.name|translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="choose-categorie-select w-100" *ngSwitchCase="3">
              <mat-label>{{'CATEGORY.Ch-a-category'|translate}}</mat-label>
              <mat-select [(ngModel)]="subcategoriePage" [ngModelOptions]="{standalone: true}">
                <mat-optgroup *ngFor="let item of categoriePageData[2].subGroup" [label]="item.name|translate">
                  <mat-option *ngFor="let subItem of item.subGroup" [value]="subItem.code">
                    {{subItem.name|translate}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4 my-auto">
            <svg [ngClass]="{ 'is-valid': subcategoriePage !== 0 }" width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-check2-circle grey-check" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
              <path fill-rule="evenodd"
                d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
            </svg>
          </div>
        </div>
        <!-- Add coverPicture -->
        <div class="row mx-0 my-4 upload">
          <div class="col-8">
            <label for="upload_cover" class="container-upload mb-0 w-100 row mx-0 p-2">
              <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-upload my-auto"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd"
                  d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
              </svg>
              <span class="upload-link pl-3" *ngIf="coverUrl" for="profileUpload">{{coverUrl}}</span>
              <span class="upload-link pl-3" *ngIf="!coverUrl"
                for="profileUpload">{{'UPLOAD.add-cover-picture'|translate}}</span>
            </label>
          </div>
          <div class="col-4 my-auto">
            <svg [ngClass]="{ 'is-valid': coverUrl }" width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-check2-circle grey-check" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
              <path fill-rule="evenodd"
                d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
            </svg>
          </div>
        </div>
        <!-- Add profilePicture -->
        <div class="row mx-0 my-4 upload">
          <div class="col-8">
            <label for="upload_profile" class="container-upload mb-0 w-100 row mx-0 p-2">
              <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-upload my-auto"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd"
                  d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
              </svg>
              <span class="upload-link pl-3" *ngIf="avatarUrl" for="profileUpload">{{avatarUrl}}</span>
              <span class="upload-link pl-3" *ngIf="!avatarUrl"
                for="profileUpload">{{'UPLOAD.add-profile-picture'|translate}}</span>
            </label>
          </div>
          <div class="col-4 my-auto">
            <svg [ngClass]="{ 'is-valid': avatarUrl }" width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-check2-circle grey-check" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
              <path fill-rule="evenodd"
                d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
            </svg>
          </div>
        </div>  
      </div>
      <!-- Manage team -->
      <div class="col-12 col-md-6">
        <div class="row mx-0 my-2">
          <span class="mx-auto">{{'ADMIN.Add-administrator'|translate}}
            ({{'ERROR-MESSAGE.y-have-to-be-friend'|translate}})</span>
        </div>
        <div class="container-user">
          <div class="row mx-0">
            <div class="input-group col-8 h-100 mt-3 mb-2">
              <input [matAutocomplete]="auto" matInput type="text" class="form-control pl-3"
                [placeholder]="'PLACEHOLDER.Type-t-pseudo'|translate" [formControl]="searchField">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let profile of (resultsProfile$|async)" (click)="addAdmin(profile)">
                  <div class="oneSuggest row mx-0 py-3">
                    <div class="col-3 profile-img my-auto">
                      <img class="rounded-circle" [src]="profile.pictureprofile">
                    </div>
                    <div class="col-9 mt-2 my-auto">
                      <span>{{profile._meta.pseudo}}</span>
                    </div>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="container-admin mt-2">
            <li class="myprofile">
              <div class="row mx-0 py-2">
                <div class="col-md-2 row mx-0 px-0" *ngIf="(myprofile$|async)">
                  <img class="mx-auto img-fluid" [src]="(myprofile$|async)?.pictureprofile">
                </div>
                <div class="col-md-5 my-auto adminPseudo">
                  <span>{{(myprofile$ | async)?._meta.pseudo}}</span>
                </div>
                <div ngbDropdown class="col-md-5 chooseRole my-auto">
                  <button ngbDropdownToggle id="showRole"
                    class="btn-role w-100 row mx-0 px-0 shadow role-0 not-allowed">
                    <span class="col-md-9 py-1">{{'ADMIN.President'|translate}}</span>
                    <div class="col-md-3 my-auto"><i class="fa fa-angle-down pt-1"></i></div>
                  </button>
                </div>
              </div>
            </li>
            <li *ngFor="let a of adminAdded">
              <div class="row mx-0 py-2">
                <div class="col-md-2 row mx-0 px-0">
                  <img class="mx-auto img-fluid" [src]="a.profile.pictureprofile" alt="">
                </div>
                <div class="col-md-5 my-auto adminPseudo">
                  <span>{{a.profile._meta.pseudo}}</span>
                </div>
                <div ngbDropdown class="col-md-5 chooseRole my-auto">
                  <button ngbDropdownToggle id="showRole" class="btn-role w-100 row mx-0 px-0 shadow"
                    [ngClass]="'role-'+ a.role">
                    <span class="col-md-9 py-1">{{ 'ADMIN.Code.' + (a.role + 1) | translate}}</span>
                    <div class="col-md-3 my-auto"><i class="fa fa-angle-down pt-1"></i></div>
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="showRole">
                    <a *ngFor="let c of roleAdmin; let i = index" class="dropdown-item"
                      (click)="updateRole(a.profile._id, i+1)">{{c.role}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="removeAddAdmin(a.profile._id)">{{'CORE.Delete'| translate}}</a>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirm -->
    <div class="row mt-3 mb-5">
      <div class="d-flex mx-auto">
        <button (click)="submit()" class="btn btn-success my-2">
          <div class="d-flex py-auto">
            <span class="px-2">{{'CORE.Confirm'|translate}}</span>
          </div>
        </button>
      </div>
    </div>
  </form>

</div>

<!-- Loading Anination -->
<div class="container" *ngIf="(loading$|async)">
  <div class="row">
    <div class="mx-auto">
      <div class="loader m-auto">{{'CORE.Loading'|translate}}</div>
    </div>
  </div>
</div>