/* Header's Page */

.container-header {
  position: relative;
  height: 300px;
  border-radius: 15px;

  button {
    border-radius: 25px;

    span {
      font-size: 1.2rem;
    }
  }

  button:hover i {
    color: red;
  }

  .header-row {
    border-radius: 15px 15px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0) 71%);
  }

  .container-cover {
    height: 100%;

    .title h2 {
      color: white;
      font: 400 2rem "Pacifico", cursive;
    }

    img {
      border-radius: 15px;
      object-fit: cover;
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.24);
    }
  }

  .container-cover:before {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  .container-profile {
    position: absolute;
    bottom: -80px;
    width: 100%;

    img {
      width: 195px;
      height: 195px;
      border-radius: 50%;
      border: #d9d9d9 solid 7px;
      -o-object-fit: cover;
      object-fit: cover;
      border: #ffffff solid 4px;
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.24);
    }
  }
}

.cover-picture {
  vertical-align: middle;
  border-style: none;

  h2 {
    position: absolute;
    top: 5%;
    left: 3%;
    color: white;
  }

  button {
    position: absolute;
    right: 3%;
    top: 5%;
    border-radius: 25px;
    border: 2px solid #c6cbcf;
    color: grey;

    span {
      font-size: 1.3rem;
      transition: 0.5s;
    }

    i {
      font-size: 20px;
      background: -webkit-gradient(linear, left top, left bottom, from(#ff6699), to(#ff9933));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  button:hover {
    span {
      font-size: 1.5rem;
      transition: 0.5s;
    }
  }

  img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    height: calc(30vh);
    min-height: 430px;
  }
}

.information-profil {
  span {
    color: grey;
  }

  ul {
    list-style-type: none;

    .friend-user {
      margin: 6px 0px 0px -8px !important;
      padding: 0px 0px 0px 0px !important;
      display: inline-block;

      img {
        width: 50px;
        border: #ffffff solid 2px;
      }
    }
  }

  .like-button {
    i {
      background: #f8f9fa;
      border-radius: 50%;
      box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.175) !important;
      cursor: pointer;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }

    i:hover {
      color: white;
      background-color: #3f51b5;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
  }
}

/* Avatar */

.content-information {

  img {
    position: absolute;
    width: 195px;
    height: 195px;
    top: 320px;
    border-radius: 50%;
    left: 42.5%;
    border: #d9d9d9 solid 7px;
  }

  span {
    color: #87898a;

    p {
      padding-top: 145px;
      font-size: 1.9rem;
    }
  }
}


/* Information */

.container-form {
  .title {
    span {
      border-bottom: 1px solid #eae9e9;
      font-size: 1.4rem;
    }
  }
}


.information {
  .fa {
    color: #e2e0e2;
    transition: 0.5s;
  }

  .is-valid {
    color: #8ed433;
    transition: 0.5s;
  }

  .upload {

    button,
    label {
      border-radius: 30px;
      box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.175);
      border: 2px solid white;
      color: white;
      cursor: pointer;
    }
  }

  .btn-upload {
    background: linear-gradient(40deg, #2096ff, #05ffa3);
  }

  .form-group {

    input {
      background-color: transparent;
      border: 1px solid #E3E3E3;
      border-radius: 30px;
      color: grey;
      line-height: normal;
      font-size: 0.8571em;
      transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      box-shadow: none;
    }

    label {
      font-size: 0.8571em;
      margin-bottom: 5px;
      color: #9A9A9A;
    }

    select {
      border: 1px solid #E3E3E3;
      border-radius: 30px;
      box-shadow: none;
      -webkit-appearance: none;
      cursor: pointer;
      color: grey;
    }
  }

}

.container-user {
  min-height: 260px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #E3E3E3;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.175);
    padding: 2px;
  }

  li {
    list-style-type: none;
    width: 100%;
    cursor: pointer;
  }

  li:hover {
    background-color: #8080801f;
  }

  span,
  i {
    font-size: 1rem;
    color: grey;
    transition: 0.2s
  }

  i:hover {
    font-size: 1.2rem;
    transition: 0.2s
  }

  .container-suggestion {
    border-radius: 0 0 15px 15px;
    margin-left: 60px;
    border: 1px solid #ced4da;
    overflow: hidden;
  }

  input {
    box-shadow: none;
  }

  .adminPseudo {
    text-align: center;
  }

  .chooseRole {
    position: relative;

    select {
      -webkit-appearance: none;
      border-radius: 25px;
      cursor: pointer;
    }
  }

  .input-group {
    input {
      border-radius: 30px;
    }
  }
}

.btn-confirm {
  font-size: 30px;
  transition: 0.5s;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.275);
  background: linear-gradient(40deg, #97b998, #0aa22b);
  border-radius: 25px;
  border: 2px solid white;

  span {
    font-size: 1.2rem;
    color: white;
  }
}

.btn-confirm:hover {
  span {
    font-size: 1.4rem;
    transition: 0.5s;
  }
}

.btn-group {
  border-radius: 25px;
  overflow: hidden;
}

.btn-role {
  border: 3px solid white;
  border-radius: 25px;

  span,
  i {
    color: white;
  }

  i {
    font-size: 1.5rem
  }
}

.chooseRole {
  .role-0 {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    cursor: not-allowed;
  }

  .role-1 {
    background: linear-gradient(to right, #ff0099, #493240)
  }

  .role-2 {
    background: linear-gradient(to right, #38ef7d, #11998e)
  }
}

.oneSuggest {
  .profile-img img {
    height: 2rem;
    width: 2rem;
    border: white solid 2px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    object-fit: cover;
  }
}

::ng-deep .mat-autocomplete-panel {
  border-radius: 9px;
}

// loader

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #88d4ee;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}