@import 'src/app/space-creative/create-music-project/create-music-project.component.scss';

.content-link {
  position: relative;
  bottom: -2px;
}

.oneSuggest {
  .profile-img img {
    height: 2rem;
    width: 2rem;
    border: white solid 2px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.container-feat {

  h4 {
    text-decoration: underline;
  }

  .oneFeat img {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border: white solid 2px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    -o-object-fit: cover;
    object-fit: cover;
  }

  .oneFeat:hover {
    img {
      border: none;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      padding: 4px
    }

    .btn-delete {
      display: block;
    }
  }

  .btn-delete {
    border-radius: 50%;
    height: 35px;
    width: 31px;
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: transparent;
    border: 0;
    display: none;

    i {
      color: white;
      text-shadow: 0 0 2px black;
    }
  }
}