.first-message {
  border: 2px dashed #79b6d5;
  border-radius: 25px;
  background-color: #d2ebff;
}

.message {
  position: relative;
  .close {
    position: absolute;
    right: 5px;
  }
  .title span {
      font-size: 1.3rem;
  }
  .close {
    cursor: pointer;
  }
}

span {
  color: grey;
}
