<div class="container-footer w-100">
  <div class="row w-100 h-100 mx-0">
    <!-- Music Bar -->
    <div class="d-none d-sm-none d-md-block col-md-4 col-xl-3 h-100">
      <div class="bar-container h-100">
        <app-mini-player-music *ngIf="(audio$|async)"></app-mini-player-music>
      </div>
    </div>
    <!-- Last Room -->
    <div *ngIf="router.url !== '/Messenger'" class="col-md-8 col-xl-9 h-100">
      <div class="bar-container h-100">
        <div class="row mx-0 h-100">
          <div class="col-1 my-auto cursor-pointer" (click)="supportMessage()">
            <img class="nav-icon reverse-icon" src="../../../../assets/icon/circle-go-right.png" alt="">
          </div>
          <div class="col-10 my-auto px-0">
            <div class="row mx-0">
              <div class="one-room rounded-circle mx-3" *ngFor="let r of (room$|async)" (click)="openChat(r, $event)">
                <img class="w-100 h-100 rounded-circle" [src]="r.participants[0].pictureprofile" alt="">
                <div class="notif" *ngIf="r.roomOption.participants[0].notification !== 0">
                  <span class="number w-100">{{r.roomOption.participants[0].notification}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 my-auto cursor-pointer" (click)="supportMessage()">
            <img class="nav-icon" src="../../../../assets/icon/circle-go-right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>