.container-footer {
  z-index: 1;
  position: fixed;
  height: 4rem;
  bottom: 0;
}

.bar-container {
  border-radius: 12px 12px 0 0;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  backdrop-filter: blur(10px);
  background-color: #ffffffcc;
}

.fa-search {
  font-size: 1.2rem;
  color: #858585;
}

.nav-icon {
  width: 2rem;
}

.reverse-icon {
  transform: scaleX(-1);
}

.one-room {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;

  img {
    object-fit: cover;
  }
}

.fa-paper-plane {
  font-size: 1.2rem;
  background: #fe8c00;
  background: -webkit-linear-gradient(to left, #f83600, #fe8c00);
  background: linear-gradient(to left, #f83600, #fe8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-message-title {
  color: #838383;
  font-size: 18px;
  letter-spacing: -0.48px;
  line-height: 24px;
  text-align: center;
}

.notif {
  position: absolute;
  right: -6px;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid white;
  background-color: red;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.375);
  width: 20px;
  height: 20px;
  z-index: 1;

  .number {
    color: white;
    font-size: 0.7rem;
    position: absolute;
    padding-right: 1px;
    text-align: center;
  }
}

.container-disk {
  position: absolute;
  top: -1.5rem;

  img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.125);

  }

}

.container-disk.playing {
  img {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

.container-mini-player {

  button {
    border: 0;
    background: transparent;
  }

  .music-btn-control {

    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
    border-radius: 7px;

    .fa {
      font-size: 1.5rem;
    }

  }

  .music-btn-control:hover {
    background-color: #d6d6de80;

    .fa {
      color: #fff;
    }
  }

  .btn-like {
    width: 2rem
  }

}

.container-extra-player {
  height: 5rem;
  bottom: 0;
  position: absolute;
  width: 90%;
  transition: 0.2s;

  .container-info {
    display: none;
    border: 0.5px solid #cdcdcd24;
    background-color: white;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: 0px -24px 64px -23px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px -24px 64px -23px rgba(0, 0, 0, 0.45);
    box-shadow: 0px -24px 64px -23px rgba(0, 0, 0, 0.45);
  }

  .title-project {
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
  }

  .pseudo-profile {
    color: #acaebd;
    font-size: 13px;
  }
}

.current-time span {
  color: #f86d92;
  background-color: transparent;
  font-size: 12px;
}

.seek-bar{
  content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    -webkit-transition: 0.2s ease width;
    transition: 0.2s ease width;
    z-index: 1;
    border-radius: 5px;
}

.container-progress {
  background-color: #ffe8ee;
  cursor: pointer;
  position: relative;
  height: 4px;
  border-radius: 4px;
}

.container-mini-player:hover {

  .container-extra-player {
    transition: 0.2s;
    bottom: 4rem;
  }

  .container-info {
    display: block;
  }

}


@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}