<div class="container-footer w-100">
  <div class="row w-100 h-100 mx-0">
    <!-- Search Bar -->
    <div class="d-none d-sm-none d-md-none d-xl-block col-xl-3 h-100" (click)="supportMessage()">
      <div class="container bar-container h-100 my-auto container-mini-player">
        <div class="row d-flex justify-content-center">
          <div id="slide" class="container-extra-player">
            test
          </div>
        </div>
        <div class="row mx-0 h-100">
          <div class="col-4 d-flex justify-content-center">
            <div class="container-disk playing">
              <img class="rounded-circle"
                src="https://images.unsplash.com/photo-1603712314237-7e92e4523da0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80"
                alt="">
            </div>
          </div>
          <div class="col-8 my-auto px-0">
            <div class="row mx-0">
              <button class="col px-0">
                <img class="btn-like" src="../../../../assets/svg/heart-icon.svg">
              </button> 
              <button class="col music-btn-control p-2 d-flex justify-content-center">
                <i class="fa fa-backward"></i>
              </button> 
              <button class="col music-btn-control p-2 d-flex justify-content-center">
                <i class="fa fa-play"></i>
              </button> 
              <button class="col music-btn-control p-2 d-flex justify-content-center">
                <i class="fa fa-forward"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Last Room -->
    <div class="col-md-8 col-xl-6 h-100">
      <div class="bar-container h-100">
        <div class="row mx-0 h-100">
          <div class="col-1 my-auto cursor-pointer" (click)="supportMessage()">
            <img class="nav-icon reverse-icon" src="../../../../assets/icon/circle-go-right.png" alt="">
          </div>
          <div class="col-10 my-auto px-0">
            <div class="row mx-0">
              <div class="one-room rounded-circle mx-3" *ngFor="let r of (room$|async)" (click)="openChat(r, $event)">
                <img class="w-100 h-100 rounded-circle" [src]="r.participants[0].pictureprofile" alt="">
                <div class="notif" *ngIf="r.roomOption.participants[0].notification !== 0">
                  <span class="number w-100">{{r.roomOption.participants[0].notification}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 my-auto cursor-pointer" (click)="supportMessage()">
            <img class="nav-icon" src="../../../../assets/icon/circle-go-right.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- New Room -->
    <div class="d-none d-sm-none d-md-block col-md-4 col-xl-3 h-100" (click)="supportMessage()">
      <div class="container bar-container h-100 my-auto">
        <div class="row mx-0 h-100">
          <div class="col-8 pl-5 search-input my-auto text-center">
            <span class="new-message-title">Send a message</span>
          </div>
          <div class="col-4 m-auto">
            <i class="fa fa-paper-plane my-auto pt-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>