.title {
  span {
    font-size: 1.3rem;
    color: grey;
    border-bottom: 1px solid #eae9e9;
  }
}

.content-link {
  position: relative;

  .fa-folder-open {
    font-size: 20px;
    position: absolute;
    left: 14px;
    top: 8px;
    background: -webkit-linear-gradient(#9d21fa, #de1b1b);
    opacity: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-green {
    background: #3fd519;
    background: -webkit-linear-gradient(to right, #3fd519, #40811c);
    background: linear-gradient(to right, #3fd519, #40811c);
    opacity: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.information {
  label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
  }

  .form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: grey;
    line-height: normal;
    font-size: 0.8571em;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: none;
  }

  select {
    -webkit-appearance: none;
    cursor: pointer;
  }

  .fa {
    color: #e2e0e2;
  }

  .form-date {
    display: inherit;
    position: relative;
    text-align: left;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    margin-top: 11px;
    color: grey;
    padding-left: 3rem;
    background-color: transparent;

    input {
      border: 0;
    }
  }

  .form-date .form-control {
    padding: 0;
  }

  .content-date {
    overflow: hidden;
  }

  textarea {
    resize: none;
    height: 117px;
    overflow-y: scroll;
    font-size: 16px !important;
    color: grey !important;
    line-height: 1.5rem !important;
    font-weight: 100;
  }

  .is-valid {
    color: #8ed433;
    transition: 0.5s;
  }

  .btn-description {
    i {
      position: absolute;
      bottom: 20px;
    }
  }

}

.btn {
  span {
    color: white;
  }
}

.active {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.275);

  span {
    font-size: 1.2rem;
    transition: 0.5s;
  }
}

.btn-music {
  border: 0;
  background: linear-gradient(40deg, #17a2b8, #adb5bd);
}

.btn-album {
  border: 0;
  background: linear-gradient(40deg, #ff4747, #31728b);
}

.btn-music.active,
.btn-album.active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.275) !important;
}

.add-file {
  span {
    font-size: 1.3rem;
    color: grey;
  }
}

.container-img {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  }
}

.new-music:hover {
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, .375);
  transition: 0.5s;
}

.new-music {

  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.175);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;

  .content-title {
    span {
      font-size: 1.3rem;
      color: grey;
    }
  }

  .btn {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  }

}


.array-music {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border-radius: 15px;
  overflow: hidden;

  .fa {
    cursor: pointer;
  }

  .item {
    color: grey;
  }

  .fa-times {
    margin-top: 3px;
  }

  input {
    font-size: 1.1rem;
    color: grey;
    border-radius: 7px;
    border: 1px solid #efefef;
  }

}


/* Confirm */

.btn-confirm {
  font-size: 30px;
  transition: 0.5s;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.275);
  background: linear-gradient(40deg, #97b998, #0aa22b);
  border-radius: 25px;
  border: 2px solid white;

  span {
    font-size: 1.2rem;
    color: white;
  }
}

.btn-confirm:hover {
  span {
    font-size: 1.4rem;
    transition: 0.5s;
  }
}

.btn-upload {
  cursor: pointer;
}

.form-upload {
  cursor: pointer;

  span {
    font-size: 0.9rem;
  }
}

.form-upload:hover {
  background-color: #e4e4e49c !important;
}

.file-name {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
  }
}

.modify {

  span {
    position: relative;
    float: right;
    right: 5px;
    font-size: 0.8rem;
    color: #9393ff;
    text-decoration: underline;
    cursor: pointer;
  }

}

.is-valid {
  color: #8ed433;
  transition: 0.5s;
}


.btn-confirm:disabled {
  background: linear-gradient(40deg, #17a2b8, #adb5bd);
}

.container-img {
  width: 16rem;
  height: 12rem;
  border: 2px dashed #dadada;
  border-radius: 25px;
  background-color: #f8f9fa;
  position: relative;
}

.img-upload {
  width: 100%;
  text-align: center;
  position: relative;

  .fa-camera {
    background: -webkit-linear-gradient(#9c47fc, #d2354b);
    opacity: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.no-border {
  border: none;
}

.edit-picture {

  label {
    cursor: pointer;
  }

  position: absolute;
  bottom: -40px;
  left: 16px;

  span {
    color: #9393ff;
  }
}

.alert-date {
  font-size: 0.8rem;
  color: #ff9393;
}



.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  height: 100px;
}


.enum {
  height: 100px;
  ;
}

.example-box,
.enum {
  border-bottom: 1px solid #e4e4e4;
}

.button-open {
  border-radius: 50%;
  font-size: 24px;
  height: 45px;
  width: 45px;
  padding: 0;
  overflow: hidden;
  color: #fff !important;
  border: 0;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right top, #58927e, #5ba886, #64be89, #73d389, #88e886);
}

.btn-send {
  border: 0;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);

  .fa-arrow-circle-o-right {
    color: white;
    font-size: 22px;
  }
}

.loader {
  font-size: 5px !important;
}

.big-loader {
  font-size: 15px !important;
}