<!-- If the user is not certified -->
<div class="container" *ngIf="false">
  <app-verification-space-unlocked></app-verification-space-unlocked>
</div>

<div class="container" *ngIf="true">
  <!-- Do a choice -->
  <div class="row">
    <div class="mx-auto">
      <button class="btn btn-album my-2 mx-3" [routerLink]="['/SpaceCreative/musicProject/album']"
        routerLinkActive="active">
        <div class="d-flex py-auto">
          <span class="px-2">{{'WIINS-MUSIC.Add-album'|translate}}</span>
        </div>
      </button>
      <button class="btn btn-music my-2 mx-3" [routerLink]="['/SpaceCreative/musicProject/music']"
        routerLinkActive="active">
        <div class="d-flex py-auto">
          <span class="px-2">{{'WIINS-MUSIC.Add-single'|translate}}</span>
        </div>
      </button>
    </div>
  </div>
  <!-- Routing Container -->
  <router-outlet></router-outlet>
</div>