<!-- NavBar -->
<nav class="navbar py-1 w-100">

  <div class="row mx-0 h-100 w-100">

    <!-- Search Bar -->
    <div class="col-7 col-sm-7 col-md-4 col-xl-4">
      <div class="container-fluid h-100">
        <div class="row mx-0 w-100 container-search-bar-input py-1">
          <div class="my-auto ml-3 mr-1">
            <i class="bi bi-search"></i>
          </div>
          <div class="my-auto">
            <input type="text" class="col h-100 py-2" [placeholder]="'CORE.Search'|translate"
              [formControl]="searchField">
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="col-xl-4 col-md-5 row px-0 d-none d-sm-block d-md-block d-xl-block">
      <div class="m-auto h-100">
        <div class="btn-nav-bar row d-flex justify-content-center h-100">
          <div routerLinkActive="active" class="container-btn-nav my-auto">
            <a routerLink="/SpaceStory">
              <div class="row mx-0 px-4">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                  <path fill-rule="evenodd"
                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>
              </div>
              <div class="row mx-0">
                <div class="line w-100"></div>
              </div>
            </a>
          </div>
          <div routerLinkActive="active" class="container-btn-nav my-auto">
            <a routerLink="/SpaceMusic">
              <div class="row mx-0 px-4">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-music-note-beamed" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
                  <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z" />
                  <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z" />
                </svg>
              </div>
              <div class="row mx-0">
                <div class="line w-100"></div>
              </div>
            </a>
          </div>
          <div routerLinkActive="active" class="container-btn-nav my-auto">
            <a routerLink="/Messenger">
              <div class="row mx-0 px-4">
                <svg width="1.7em" height="2em" viewBox="0 0 16 16" class="bi bi-chat-right-text" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
                  <path fill-rule="evenodd"
                    d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                </svg>
              </div>
              <div class="row mx-0">
                <div class="line w-100"></div>
              </div>
            </a>
          </div>
          <div routerLinkActive="active" class="container-btn-nav my-auto">
            <a routerLink="/SpaceTube">
              <div class="row mx-0 px-4">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-collection-play" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z" />
                  <path fill-rule="evenodd"
                    d="M6.258 6.563a.5.5 0 0 1 .507.013l4 2.5a.5.5 0 0 1 0 .848l-4 2.5A.5.5 0 0 1 6 12V7a.5.5 0 0 1 .258-.437z" />
                </svg>
              </div>
              <div class="row mx-0">
                <div class="line w-100"></div>
              </div>
            </a>
          </div>
          <div routerLinkActive="active" class="container-btn-nav my-auto">
            <a routerLink="/SpaceGroup">
              <div class="row mx-0 px-4">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg>
              </div>
              <div class="row mx-0">
                <div class="line w-100"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Avatar -->
    <div class="col-5 col-sm-5 col-md-3 col-xl-4 my-auto">
      <div class="row mx-0 d-flex justify-content-center">
        <div class="mx-2 my-auto" (click)="loadRequestList()">
          <app-request-list></app-request-list>
        </div>
        <div class="mx-2 my-auto" (click)="loadNotificationList()">
          <app-notification-list></app-notification-list>
        </div>
        <div ngbDropdown class="mx-2 my-auto dropdown" *ngIf="myprofile$| async; let p">
          <button ngbDropdownToggle class="avatar-nav-bar nav-link py-0 my-auto ml-auto w-100" id="navbarDropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            <img [src]="p.pictureprofile" class="rounded-circle z-depth-0 my-avatar" alt="avatar">
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/profile/' + (p._id)]" class="dropdown-item">{{'NAVBAR.MyProfile'|translate}}</a>
            <a [routerLink]="['/setting']" class="dropdown-item">{{'NAVBAR.Setting'|translate}}</a>
            <a [routerLink]="['/SpaceCreative']" class="dropdown-item">{{'NAVBAR.CreationSpace'|translate}}</a>
            <a href="https://discord.gg/jMyc443" target="_blank"
              class="dropdown-item">{{'NAVBAR.Dev-Community'|translate}}</a>
            <a target="_blank" href="https://twitter.com/espace_s"
              class="dropdown-item">{{'CORE.To-signal-an-issue'|translate}}</a>
            <div class="dropdown-divider"></div>
            <div *ngIf="p.adminsPage.length !== 0">
              <button class="w-100 w-100 btn-collapse text-left pl-4 bg-white" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <span>{{'NAVBAR.My-pages'|translate}}</span>
                <i class="fa fa-angle-down float-right pr-3 pt-1"></i>
              </button>
              <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                <div ngbDropdownToggle class="row mx-0 onePage py-2" *ngFor="let page of p.adminsPage"
                  (click)="goToPage(page._id); isCollapsed = !isCollapsed">
                  <div class="col-md-4">
                    <img class="rounded-circle page-avatar" [src]="page.pictureprofile" alt="avatar">
                  </div>
                  <div class="col-md-8 my-auto px-0">
                    <span class="pageName">
                      <p class="mb-0">{{page.name}}</p>
                    </span>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
            <a (click)="logOut()" class="dropdown-item">{{'NAVBAR.Logout'|translate}}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sub Nav Bar -->
    <div class="d-block d-sm-none col-sm-12 mt-2 mb-1">
      <div class="row mx-0 w-100">
        <div routerLinkActive="active" class="container-btn-nav my-auto col">
          <a routerLink="/SpaceStory">
            <div class="row mx-0">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="mx-auto bi bi-house" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                <path fill-rule="evenodd"
                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
              </svg>
            </div>
            <div class="row mx-0">
              <div class="line w-100"></div>
            </div>
          </a>
        </div>
        <div routerLinkActive="active" class="container-btn-nav my-auto col">
          <a routerLink="/SpaceMusic">
            <div class="row mx-0">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="mx-auto bi bi-music-note-beamed"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
                <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z" />
                <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z" />
              </svg>
            </div>
            <div class="row mx-0">
              <div class="line w-100"></div>
            </div>
          </a>
        </div>
        <div routerLinkActive="active" class="container-btn-nav my-auto col">
          <a routerLink="/Messenger">
            <div class="row mx-0">
              <svg width="1.7em" height="2em" viewBox="0 0 16 16" class="mx-auto bi bi-chat-right-text"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
                <path fill-rule="evenodd"
                  d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
              </svg>
            </div>
            <div class="row mx-0">
              <div class="line w-100"></div>
            </div>
          </a>
        </div>
        <div routerLinkActive="active" class="container-btn-nav my-auto col">
          <a routerLink="/SpaceTube">
            <div class="row mx-0">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="mx-auto bi bi-collection-play"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z" />
                <path fill-rule="evenodd"
                  d="M6.258 6.563a.5.5 0 0 1 .507.013l4 2.5a.5.5 0 0 1 0 .848l-4 2.5A.5.5 0 0 1 6 12V7a.5.5 0 0 1 .258-.437z" />
              </svg>
            </div>
            <div class="row mx-0">
              <div class="line w-100"></div>
            </div>
          </a>
        </div>
        <div routerLinkActive="active" class="container-btn-nav my-auto col">
          <a routerLink="/SpaceGroup">
            <div class="row mx-0">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="mx-auto bi bi-people-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
              </svg>
            </div>
            <div class="row mx-0">
              <div class="line w-100"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
  </div>

</nav>

<!-- List Search -->
<div *ngIf="searching" class="row mx-0">
  <app-search-list [getSearchStatus]="searching" (getSearchStatusChange)="closeSearchCallback()"
    (clickOutside)="onClickedOutside()">
  </app-search-list>
</div>
