nav {
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: #ffffffcc;

  input {
    color: #7D7A71;
    border: 0;
    background-color: #d8d8d852;
    border-radius: 23px;
  }

  .fa-search {
    position: absolute;
    left: 1rem;
    top: 10px;
    font-size: 1.2rem;
    color: #858585;
  }

  .container-search-bar-input:hover,
  .container-search-bar-input:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    background-color: white;
  }

  .container-search-bar-input {
    border: 0;
    background-color: #d8d8d852;
    border-radius: 23px;

    input {
      color: #7D7A71;
      border: 0;
      background-color: transparent;
      text-align: left;
    }
  }

  .avatar-nav-bar {
    border: 0;
    background: none;
    color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    height: 45px;
    padding-left: 7.5px;
  }

  button:hover {
    color: rgba(0, 0, 0, .3);
  }

  .dropdown-menu {
    border-radius: 8px;
  }

  .my-avatar {
    width: 35px
  }

}

.btn-collapse {
  border: 0;
}

@media screen and (max-width: 991px) {
  nav {
    width: 100%;
  }
}

.no-found {

  .color-no-profile {
    background: -webkit-linear-gradient(#9c47fc, #d2354b);
    opacity: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .color-no-page {
    background: -webkit-linear-gradient(#fc4747, #ece18f);
    opacity: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span {
    color: grey;
  }

  .no-request {
    font-size: 1.1rem;
  }

  .no-pseudo {
    font-size: 1rem;
  }
}


/* list */

.avatar {

  .my-avatar {
    width: 45px;
    height: 45px;
    cursor: pointer;
    object-fit: cover;
    box-shadow: none;
  }

  .pageName {
    p {
      flex: 0 1 auto;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .page-avatar {
    width: 35px;
    height: 35px;
  }

  .onePage {
    cursor: pointer;
  }

  .onePage:hover {
    background-color: #f8f9fa;
  }

  .dropdown-menu {
    border-radius: 8px;
    top: 40px !important;
    left: -126px !important;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    display: block;
    visibility: hidden;
    transition: .5s ease all;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    cursor: pointer;

    .dropdown-item,
    span {
      color: #5e72e4;
    }

    .dropdown-item:active {
      color: white;
    }
  }

  .fa-angle-down {
    font-size: 1.2rem;
    color: #5f73e4;
  }

  .dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: .3s ease all;
  }

  .avatar-nav-bar {
    bottom: 2px;
    position: relative;
  }

}

.rounded-circle {
  border-radius: 50%;
  padding: 2px;
  background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.list-notif {
  span {
    font-size: .93rem;
  }

  .date {
    span {
      font-size: .73rem;
    }

    .fa {
      opacity: 0.9;
    }

    .fa-comment {
      background: linear-gradient(to left bottom, #944cb2, #8f6cc7, #8e88d7, #94a1e1, #a3b9e8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fa-heart {
      background: linear-gradient(to right top, #ff0000, #ff2b2b, #ffd9d9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.list-notif:hover,
.see-more:hover {
  background-color: #d5d5d57a;
}

.btn-nav-bar {

  .line {
    height: 2px;
    position: relative;
    bottom: -13px;
    border-radius: 5px;
    background: #ec008c;
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    background: linear-gradient(to right, #fc6767, #ec008c);
    display: none;
  }

  .active .line {
    display: block;
  }
}

.bi {
  color: #5e5e5e
}
