<!-- Loading Animations -->
<div class="sk-circle mx-auto my-4" *ngIf="(loadingProfile$|async)">
  <div class="sk-child" [ngClass]="'sk-circle' + item" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]"></div>
</div>

<!-- Profile List -->
<div *ngIf="(resultsProfile$|async); let profiles">
  <div class="container-fluid container-profile">
    <div class="row oneProfile py-3" *ngFor="let p of profiles" [routerLink]="['../profile/' + p._id]"
      (click)="dialogRef.close()">
      <div class="col-4 my-auto text-right">
        <img class="rounded-circle" [src]="p.pictureprofile">
      </div>
      <div class="col-6 my-auto">
        <span>{{p._meta.pseudo}}</span>
      </div>
      <div class="col-2 my-auto"></div>
    </div>
  </div>
</div>
