@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.btn-community {
  background: #bfbfbf3b;
  border-radius: 9px;
  cursor: pointer;
}

.btn-community:hover {
  background: #bfbfbf61;
}

.img-profile {
  -webkit-box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.74);
  box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.74);
  border: 3px solid white;
}

.information-profil {
  min-height: 2rem;
  z-index: 1;
}

.content-pseudo {
  span {
    color: white;
    font: 400 2rem "Pacifico", cursive;
  }
}

.container-cover {
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35);
}

.btn-cancel {
  border-radius: 10px;
  background-color: transparent;

  span {
    color: white;
  }
}

.btn-cancel:hover {
  background-color: #cfcfcf3b;
}

/* Avatar */

.container-img-profile {
  position: absolute;
  bottom: -5rem;
  z-index: 2;

  .profile-img {
    width: 12rem;
    position: relative;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-responsive {
  margin: 0 auto;
}

.cover-picture {
  vertical-align: middle;
  border-style: none;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.nav-space {
  z-index: 1;

  .btn {
    border-radius: 25px;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .175) !important;

    i {
      border-radius: 50%;
      border: 1px solid #e1e2e2;
    }

    .fa-music {
      background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fa-video-camera {
      background: -webkit-gradient(linear, left top, left bottom, from(#ff6699), to(#ff9933));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fa-bolt {
      padding: 6px 9px 6px 10px;
      font-size: 1.2rem;
      background: -webkit-linear-gradient(#9c47fc, #d2354b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .btn:hover,
  .btn.active {
    background-color: #f2f2f2;
  }
}

@media screen and (max-width: 1450px) {
  .nav-space {
    span {
      display: none;
    }
  }
}

button:active {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-edit {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;

  input {

    +label {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #FFFFFF;
      border: 3px solid #dedede;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      font-weight: normal;
      transition: all .2s ease-in-out;

      &:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
      }

      &:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 5px;
        left: 2px;
        right: 0;
        text-align: center;
        margin: auto;
      }
    }
  }
}

.header-cover {
  position: absolute;
  height: 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0) 96%);
}

.cover-edit {
  input {

    +label {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 34px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #FFFFFF;
      border: 3px solid #dedede;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      font-weight: normal;
      transition: all .2s ease-in-out;

      &:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
      }

      &:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 0;
        text-align: center;
        margin: auto;
      }
    }
  }
}


.loading-cover {
  position: absolute;
  top: 44%;
}


/* -------------- Loader1 -------------- */


.loader-index {
  top: 39%;
}

.loader1 {
  background-color: #94949470;
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 80px;
  border: 3px solid rgba(255, 255, 255, .7);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: loader1 3s linear infinite;
  animation: loader1 3s linear infinite;
}

.loader1:after {
  background: #4f7dc1b3;
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes loader1 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
