.card{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.add-user{
  float: right;
  color: white !important;
  border-radius: 20px;
  cursor: pointer;
}

.list-pseudo{
  background-image: linear-gradient(137deg, #d6d6d6 25%, #bdbdbd 25%, #bdbdbd 50%, #d6d6d6 50%, #d6d6d6 75%, #bdbdbd 75%, #bdbdbd 100%);
  background-size: 58.65px 54.69px;
  border-radius: 0 0 15px 15px;
}

.btn span {
  background: #d6d6d6;
}
