.card{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.add-user{
  float: right;
  color: white !important;
  border-radius: 20px;
  cursor: pointer;
}

.list-pseudo{
  background-image: linear-gradient(137deg, #d6d6d6 25%, #bdbdbd 25%, #bdbdbd 50%, #d6d6d6 50%, #d6d6d6 75%, #bdbdbd 75%, #bdbdbd 100%);
  background-size: 58.65px 54.69px;
  border-radius: 0 0 15px 15px;
}

.btn span {
  background: #d6d6d6;
}

::ng-deep .container-lang {

  .mat-form-field-flex {
    background: none;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem !important;
  }

  .mat-select-value {
    text-align: center;
    color: #5e71e4;
  }

  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: none;
  }

  .mat-form-field {
    border-radius: 15px;

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-infix {
      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
    }
  }

}