@import 'src/assets/scss/component/login-register.scss';

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #4bcb4b;
}

.input-url {
  background: #e0e0e038;
  cursor: pointer;
}