<div class="inscriptionIn mb-5" *ngIf="!(loading$|async)">
  <div class="col d-flex align-items-baseline py-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" [routerLink]="['../']"
      class="text-white bi bi-arrow-left my-auto" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    <h2 class="my-auto">{{'LOGIN-REGISTRER.Creating-yr-account'| translate}}</h2>
  </div>
  <div class="signIn bg-white d-flex flex-column justify-content-center">
    <div class="col mb-2">
      <h1>{{'LOGIN-REGISTRER.Welcome'| translate}}</h1>
      <p>{{'LOGIN-REGISTRER.Hello-nice-to-meet-you-wiinser'| translate}}</p>
    </div>
    <form [formGroup]="registerForm" class="form">
      <div class="col d-flex flex-column mb-3">
        <label class="form-label">{{'PLACEHOLDER.Your-Pseudo'| translate}}</label>
        <input #pseudo type="text" class="inputPseudo w-100 pl-3 p-3" formControlName="pseudo"
          placeholder="{{'PLACEHOLDER.Enter-yr-username'| translate}}"
          [ngClass]="{'input-invalid': f.pseudo.errors && f.pseudo.touched }">
        <span class="error-message ml-3"
          *ngIf="f.pseudo.errors && f.pseudo.touched">{{'ERROR-MESSAGE.Pseudo-required'| translate}}</span>
        <span class="text-success" *ngIf="!!(pseudoValid$|async) && !f.pseudo.errors">
          {{'VALID-MESSAGE.Pseudo-valid'| translate}}
        </span>
        <span class="error-message ml-3" *ngIf="((pseudoValid$|async) == false) && !f.pseudo.errors">
          {{'ERROR-MESSAGE.Pseudo-already-exist' | translate}}
        </span>
      </div>
      <div class="col d-flex flex-column mb-3">
        <label class="form-label">{{'PLACEHOLDER.Your-Email'| translate}}</label>
        <input type="email" class="inputEmail w-100 pl-3 p-3" formControlName="email"
          placeholder="{{'PLACEHOLDER.Enter-yr-mail'| translate}}"
          [ngClass]="{'input-invalid': f.email.errors && f.email.touched }">
        <span class="error-message ml-3" *ngIf="f.email.errors && f.email.touched">
          {{'ERROR-MESSAGE.Email-invalid'| translate}}
        </span>
      </div>
      <div class="col d-flex flex-column">
        <label class="form-label">{{'PLACEHOLDER.Your-Password'| translate}}</label>
        <div class="inputpwrd d-flex" [ngClass]="{'input-invalid': f.password1.errors && f.password1.touched }">
          <input [type]="changeTypePswd" class="inputPassword w-100 pl-3 p-3" formControlName="password1"
            placeholder="{{'PLACEHOLDER.Enter-yr-password'| translate}}">
          <span (click)="toggleShow()" class="material-icons d-flex align-items-center">
            {{show ? 'visibility' : 'visibility_off'}}</span>
        </div>
        <span class="error-message ml-3" *ngIf="f.password1.errors && f.password1.touched">
          {{'ERROR-MESSAGE.8-char-minimum' | translate}}
        </span>
        <span class="messagePassword mt-4"></span>
      </div>
      <div class="col d-flex flex-column mb-3">
        <label class="form-label">{{'PLACEHOLDER.Confirm-your-password'| translate}}</label>
        <div class="inputpwrd d-flex" [ngClass]="{'input-invalid': f.password1.errors && f.password1.touched }">
          <input [type]="changeTypeConfirmPswd" class="inputPassword w-100 pl-3 p-3" formControlName="password2"
            id="validationConfirmPassword" placeholder="{{'PLACEHOLDER.Enter-yr-password'| translate}}">
          <span (click)="toggleConfirmShow()" class="material-icons d-flex align-items-center">
            {{confirmShow ? 'visibility' : 'visibility_off'}}</span>
        </div>
        <span class="error-message ml-3" *ngIf="f.password2.errors && f.password2.touched">
          {{ 'SETTING.password.Error-password-different' | translate }}
        </span>
        <span class="messageConfirmPassword mt-4"></span>
      </div>
      <div class="termOfUse col d-flex mb-4">
        <div class="form-check">
          <mat-checkbox class="mx-2" [checked]="f.tou.value" formControlName="tou"></mat-checkbox>
        </div>
        <span (click)="openTOU()">{{'LOGIN-REGISTRER.accept-tou'| translate}}</span>
      </div>
      <button class="creatNow d-flex justify-content-center mt-4 mx-auto mb-5 py-3" type="submit"
        (click)="onSubmit()">{{'LOGIN-REGISTRER.Create-yr-account'| translate}}</button>
    </form>
  </div>
</div>

<div *ngIf="(loading$|async)" class="loading-container d-flex justify-content-center align-items-center">
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>

<!-- Confirmation Message -->
<div class="mb-5 connexionIn" *ngIf="(user$|async)">
  <div class="signIn bg-white">
    <div class="col mb-3">
      <h1>{{ 'LOGIN-REGISTRER.Welcome' | translate }}</h1>
      <p>{{ 'LOGIN-REGISTRER.Hello-wiinser' | translate }}</p>
    </div>
    <div class="col justify-content-center d-flex">
      <img class="checked mb-4" src="assets/img/checked.svg" alt="Mail Sent">
    </div>
    <p class="mx-auto text-center">{{ 'LOGIN-REGISTRER.Inscription-successful' | translate }}</p>
    <a [routerLink]="['../']">
      <span class="mt-5 d-flex justify-content-center">
        {{ 'LOGIN-REGISTRER.Log-In' | translate }}
      </span>
    </a>
  </div>
</div>