<!-- Component Body -->

<!-- Profile Visibility -->
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="title mx-auto">
        <span>{{'CORE.Visibility'|translate}}</span>
      </div>
    </div>
    <div class="row">
      <div class="logo-title row mx-auto">
        <i class="fa-2x fa fa-eye m-auto"></i>
      </div>
    </div>
  </div>
  <div class="col-md-7 my-auto">
    <div class="container ">
      <span class="title">{{'SETTING.visibility.who-c-find-me'|translate}}</span>
      <br>
      <span class="py-2">{{'SETTING.visibility.who-c-find-me-d'|translate}}</span>
    </div>
  </div>
</div>

<!-- Publication Visibility -->
<div class="row mt-4" *ngIf="setting">
  <form [formGroup]="visibilityForm" class="w-100">
    <div class="card mx-5">
      <div class="row mx-0 p-2">
      <input class="mx-5 my-4" type="radio" name="visibility" formControlName="visibility"
      value="public" [checked]="setting.visibility == 'public'">
      <span class="my-auto">{{'SETTING.visibility.my-publications-are-visible-to-every-one'|translate}}</span>
      </div>
      <div class="row mx-0 p-2">
      <input class="mx-5 my-4" type="radio" name="visibility" value="friends" formControlName="visibility"
       [checked]="setting.visibility == 'friends'">
      <span class="my-auto">{{'SETTING.visibility.my-publications-are-visible-b-m-friends'|translate}}</span>
      </div>
      <button *ngIf="visibilityForm.value.visibility">
        <span class="px-2 py-1" (click)="changeVisibility()">{{'CORE.Save'|translate}}</span>
      </button>
    </div>
  </form>
</div>