<!-- Body Component -->
<div class="w-100 h-100">
  <!-- Container -->
  <div class="container-fluid px-0 h-100">
    <div class="row mx-0 h-100">
      <!-- Left Side -->
      <div class="preload-images"></div>
      <div class="col-md-5 bg-lighter px-0 container-img d-none d-md-block animation-background-signin">
        <div class="container">
          <div class="col-9 mx-auto">
            <img class="w-100 wiins-logo" src="./../../assets/img/wiinslogo.png" alt="">
          </div>
          <div class="card-footer w-50 p-0 container-donation">
            <div class="row mx-0">
              <div class="col-6 px-0">
                <img class="btc-image w-100" src="./../../assets/img/btc.png">
              </div>
              <div class="col-6 my-auto">
                <div class="container px-0">
                  <div class="row mx-0">
                    <p class="h3">{{'DONATION.To-support-the-dev-community'|translate}}</p>
                  </div>
                  <div class="row mx-0">
                    <a target="_blank" href="https://discord.gg/UT49Fhy3R2">{{'CORE.Know-us'|translate}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right Side -->
      <div class="col-md-7 bg-sign background-right">
        <div *ngIf="!(loading$ | async) && !(profileLoading$ | async)">
          <!-- Setting -->
          <div container>
          <div class="row my-3 col-sm-10 mx-auto setting-top-signin mx-0 header-bar-setting">
            <div class="ml-auto">
              <mat-form-field class="btn p-0">
                <mat-select [(value)]="selectedLang">
                  <mat-option *ngFor="let l of listSelectLang" [value]="l" (click)="switchLanguage(l.code)">
                    {{l.language}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <a [routerLink]="['/term-of-use']" class="mx-2">
                <span>{{'CORE.Term-of-use'|translate}}</span>
              </a>
            </div>
          </div>
        </div>
          <!-- Router Container -->
          <div class="container">
            <div class="row h-100">
              <div class="col col-sm-10 py-3 mx-auto mt-md-8 login-register-box">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
        <!-- Login -->
        <div class="container h-100" *ngIf="(loading$ | async) || (profileLoading$ | async)">
          <div class="row h-100 mx-0">
            <div class="loader m-auto">{{'CORE.Loading'|translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>