<!-- Body Component -->
<div class="w-100 h-100 bg-sign" *ngIf="false">
  <!-- Container -->
  <div class="container-fluid px-0 h-100">
    <div class="row mx-0 h-100">
      <div class="col my-auto">
        <div *ngIf="!(loading$ | async) && !(profileLoading$ | async)">
          <!-- Router Container -->
          <div class="pt-6 pt-md-0 container">
            <div class="row h-100">
              <div class="col col-sm-8 py-3 mx-auto mt-md-8 login-register-box">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
        <!-- Login -->
        <div class="container h-100" *ngIf="(loading$ | async) || (profileLoading$ | async)">
          <div class="row h-100 mx-0">
            <div class="loader m-auto">{{'CORE.Loading'|translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-footer container-footer-sign">
    <mat-form-field class="btn p-0">
      <mat-select [(value)]="selectedLang">
        <mat-option *ngFor="let l of listSelectLang" [value]="l" (click)="switchLanguage(l.code)">
          {{l.language}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <a [routerLink]="['/term-of-use']" class="mx-2">
      <span class="btn-term-of-use">{{'CORE.Term-of-use'|translate}}</span>
    </a>
  </div>
</div>

<div class="container-fluid" *ngIf="true">
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="col-md-4 col-sm-8 mx-auto mt-5">
        <div [@routeAnimations]="prepareRoute(outlet)" class="home d-flex flex-column justify-content-center">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-footer container-footer-sign d-flex align-items-center">
  <mat-form-field class="btn p-0">
    <mat-select [(value)]="selectedLang">
      <mat-option *ngFor="let l of listSelectLang" [value]="l" (click)="switchLanguage(l.code)">
        {{l.language}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <span class="btn-term-of-use text-white" (click)="openTOU()">{{'CORE.Term-of-use'|translate}}</span>
</div>


