  @import 'src/assets/scss/component/login-register.scss';


.container-donation {
  display: inline-block;
}

.setting-top-signin {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.63);
  overflow: hidden;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.term-of-use {
  color: black;
  padding-right: 10px;
}

.login-register-box {
  background-color: rgba(255, 255, 255, 0.63);
  position: relative;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.5s;
}

.login-register-box:hover {
  transform: translateY(-10px);
}

.background {
  background: linear-gradient(to right, #855beb, #5576df);
  width: 100%;
}

.read-more {
  text-decoration: underline;
  cursor: pointer;
  color: #ff4b5b;
}

.read-more:hover {
  color: blue;
}

.read-more:visited {
  color: black;
}

/* Logo gift for the early access */
.container-logo-don {
  position: relative;
  display: flex;
}

img.logo-crypto, img.logo-paypal {
  width: 10rem;
  height: 10rem;
}

.wiins-logo {
 position: relative;
}