@import 'src/assets/scss/component/login-register.scss';

.container-img {
  background-image: url('./../../assets/img/bckgrnd0.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
}