.card {
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 40px -12px #999;
  box-shadow: 2px 2px 40px -12px #999;
  position: relative;
  height: 550px;
  overflow: hidden;

  .header {
    height: 36px;
    background-color: #dedede6b;

    span {
      font-size: 1.1rem;
      color: #3578E5;
    }

    p {
      margin-bottom: 0;
    }

    .btn-filter {
      span {
        color: grey;
        font-size: 0.9rem;
        padding-top: 1px;
      }
    }

    .fa-calendar {
      background: linear-gradient(to right top, #008793, #00bf72, #a8eb12);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .title-filter {
    width: 20%;
  }
.btn-filter {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btn-filter {font-size: 10px !important;}
  .title-filter p {font-size: 15px !important;}
  .fa-calendar, .fa-heart {display: none !important;}
  .btn-filter span {margin-right: 0.8em !important;}
  .btn-filter span:hover {color: #ff4b5b !important;}
}


.oneComment .avatar-owner {
  width: 25%;
}

.oneComment .heart {
  width: 25%;
}

.user-comment {
  width: 50%;
}

  .container-scroll {
    overflow-y: auto;
  }

}
