.btn-nav {
  letter-spacing: 0;
  box-shadow: none;
  font-size: 1rem;
}

.btn-nav:hover,
.btn-nav {
  letter-spacing: 5px;
}

.btn-nav:after,
.btn-nav:before {
  backface-visibility: hidden;
  border: 1px solid rgba(grey, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-nav:hover:after,
.btn-nav:hover:before,
.btn-nav.selected:after,
.btn-nav.selected:before {
  backface-visibility: hidden;
  border-color: grey;
  transition: width 350ms ease-in-out;
  width: 90%;
}

.btn-nav.selected:before,
.btn-nav:hover:before {
  bottom: 3px;
}

.btn-nav:hover:after,
.btn-nav.selected:after {
  bottom: -3px;
}