<!-- Nav Btn -->
<div class="container">
  <div class="row mt-4 mb-2 mx-0">
    <div class="col-12 col-md-8 col-xl-6 mx-auto">
      <div class="row mx-0">
        <a class="col mx-2 py-2 btn btn-nav" [routerLink]="['trend']"
          routerLinkActive="selected">{{'MAIN-MUSIC.Trend'|translate}}</a>
        <a class="col mx-2 py-2 btn btn-nav" [routerLink]="['save']"
          routerLinkActive="selected">{{'CORE.Favorites'|translate}}</a>
      </div>
    </div>
  </div>
</div>

<!-- Router -->
<div class="container">
  <div class="container-space mt-2">
    <router-outlet></router-outlet>
  </div>
</div>