@import 'src/assets/scss/component/login-register.scss';
@import 'src/app/sign/login/login.component.scss';

:host {
  width: 100%;
}

.card {
  z-index: 10;
}

.card-body {
  border-radius: 0 0 15px 15px;
}

.btn-confirm {
  box-shadow: 5px 5px 20px 0 #11998e3b, 5px 5px 10px 0 #38ef7d42;
  background-image: linear-gradient(to right, #11998e, #38ef7d);
}

#preloader {
  position: relative;
  top: 1rem;
}

.fa-check-circle {
  color: #3fa433;
}

.loadingAnim {
  position: relative;
  top: 15rem;
}