<!-- <div class="container pt-4">

  <form class="container-form" [formGroup]="emailForm" *ngIf="!loading && !emailSended">
    <div class="row mx-0 mb-3">
      <h1 class="display-3">{{ 'LOGIN-REGISTRER.Password-recovery' | translate }} </h1>
    </div>
    <div class="row mx-0">
      <input class="col-md-9 py-2" type="email" [placeholder]="'PLACEHOLDER.Your-Email' | translate"
        formControlName="email">
    </div>
    <div class="row mx-0 my-4">
      <div class="col-6">
        <button class="w-100 btn-choice btn-submit-log-in p-3" (click)="onSubmit()">
          <span class="text-white">{{ 'CORE.Confirm' | translate }}</span>
        </button>
      </div>
      <div class="col-6">
        <button class="w-100 btn-choice p-3" [routerLink]="['/sign/in']">
          <span class="text-dark">{{ 'CORE.Back' | translate }}</span>
        </button>
      </div>
    </div>
  </form>

  <div class="container h-100" *ngIf="loading">
    <div class="row h-100 mx-0">
      <div class="loader m-auto">{{'CORE.Loading'|translate}}</div>
    </div>
  </div>

  <div class="container" *ngIf="emailSended">
    <div class="row">
      <div class="mx-auto">
        <i class="fa fa-check-circle fa-4x"></i>
      </div>
    </div>
    <div class="row my-3">
      <div class="mx-auto">
        <span>{{'LOGIN-REGISTRER.click-on-email'|translate}}</span>
      </div>
    </div>
  </div>
</div> -->


      <div>
        <div class="PasswordIn">
          <div class="col d-flex align-items-baseline py-3">
            <svg [routerLink]="['/sign/in']" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="text-white bi bi-arrow-left my-auto" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
            <h2 class="my-auto">{{ 'LOGIN-REGISTRER.Forgot-password' | translate }}</h2>
          </div>
          <form [formGroup]="emailForm" class="signIn container-form bg-white d-flex flex-column justify-content-center" *ngIf="!loading && !emailSended">
            <div class="col">
              <img class="mx-auto d-flex justify-content-center my-3" src="assets/img/lock.png" alt="Lock">
              <p>{{ 'LOGIN-REGISTRER.Enter-yr-mail-adress-to-receive-yr-password' | translate }}</p>
              <input formControlName="email" class="inputPseudo w-100 pl-3 p-3" type="text"  placeholder="{{'PLACEHOLDER.Enter-yr-mail' | translate }}">
            </div>
            <span class="error-message ml-4" *ngIf="f.email.errors && f.email.touched">
              {{'ERROR-MESSAGE.Email-invalid'| translate}}
            </span>
            <button class="col mt-4 mx-auto mb-5 py-3 mt-5" (click)="onSubmit()" [routerLink]="['/sign/password-confirmation-sended']">
              {{ 'CORE.Confirm' | translate }}
            </button>
          </form>
        </div>
      </div>

      <!-- Loading Animation-->
      <div class="loadingAnim col d-flex justify-content-center">
        <mat-spinner *ngIf="loading"></mat-spinner>
      </div>
 