<div class="container pt-4">
  <!-- Form -->
  <form class="container-form" [formGroup]="emailForm" *ngIf="!loading && !emailSended">
    <div class="row mx-0 mb-3">
      <h1 class="display-3">{{ 'LOGIN-REGISTRER.Password-recovery' | translate }} </h1>
    </div>
    <div class="row mx-0">
      <input class="col-md-9 py-2" type="email" [placeholder]="'PLACEHOLDER.Your-Email' | translate"
        formControlName="email">
    </div>
    <div class="row mx-0 my-4">
      <div class="col-6">
        <button class="w-100 btn-choice btn-submit-log-in p-3" (click)="onSubmit()">
          <span class="text-white">{{ 'CORE.Confirm' | translate }}</span>
        </button>
      </div>
      <div class="col-6">
        <button class="w-100 btn-choice p-3" [routerLink]="['/sign/in']">
          <span class="text-dark">{{ 'CORE.Back' | translate }}</span>
        </button>
      </div>
    </div>
  </form>
  <!-- Loading -->
  <div class="container h-100" *ngIf="loading">
    <div class="row h-100 mx-0">
      <div class="loader m-auto">{{'CORE.Loading'|translate}}</div>
    </div>
  </div>
  <!-- Valid Message -->
  <div class="container" *ngIf="emailSended">
    <div class="row">
      <div class="mx-auto">
        <i class="fa fa-check-circle fa-4x"></i>
      </div>
    </div>
    <div class="row my-3">
      <div class="mx-auto">
        <span>{{'LOGIN-REGISTRER.click-on-email'|translate}}</span>
      </div>
    </div>
  </div>
</div>