<div *ngIf="!loading">
  <div class="PasswordIn">
    <div class="col d-flex align-items-baseline py-3">
      <svg [routerLink]="['/sign/in']" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
        class="text-white bi bi-arrow-left my-auto" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
      <h2 class="my-auto">{{ 'LOGIN-REGISTRER.Forgot-password' | translate }}</h2>
    </div>
    <form [formGroup]="emailForm" class="signIn container-form bg-white d-flex flex-column justify-content-center"
      *ngIf="!loading && !emailSended">
      <div class="col">
        <img class="mx-auto d-flex justify-content-center my-3" src="assets/img/cadena.svg" alt="Lock">
        <p>{{ 'LOGIN-REGISTRER.Enter-yr-mail-adress-to-receive-yr-password' | translate }}</p>
        <input formControlName="email" class="inputPseudo w-100 pl-3 p-3" type="text"
          placeholder="{{'PLACEHOLDER.Enter-yr-mail' | translate }}">
      </div>
      <span class="error-message ml-4" *ngIf="f.email.errors && f.email.touched">
        {{'ERROR-MESSAGE.Email-invalid'| translate}}
      </span>
      <button class="col mt-4 mx-auto mb-5 py-3 mt-5" (click)="onSubmit()">
        {{ 'CORE.Confirm' | translate }}
      </button>
    </form>
  </div>
</div>

<div *ngIf="loading" class="loading-container d-flex justify-content-center align-items-center">
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>

<div *ngIf="confirmationSended">
  <app-forgot-password-confirmation></app-forgot-password-confirmation>
</div>