<!-- Component Body -->
<div class="container">
  <!-- Setting card -->
  <div class="card row my-5 mx-2">
    <div class="card-body row">
      <div class="col mx-3 mt-2">
        <h5 class="card-title">{{'SETTING.notif.enable-sound'|translate}}</h5>
        <div class="row">
          <p class="col-md-8 card-text">{{'SETTING.notif.enable-sound-d'|translate}}</p>
          <div class="col-md-4 input-group">
            <div class="choice-btn ml-auto btn-group">
              <mat-slide-toggle></mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>