.container-uplodaer {

  .shadow-custom {
    -webkit-box-shadow: -10px 10px 33px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 10px 33px -20px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 10px 33px -20px rgba(0, 0, 0, 0.75);
  }

  .btn-upload {
    font-size: 2.5rem;
    color: #ffffffad;
    cursor: pointer;
  }

  .btn-upload:hover {
    color: white;
  }

  .container-logo {
    top: 0;
  }

}

.groupPicture {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  box-shadow: 0px 4px 14px -5px rgba(0, 0, 0, 0.74);
  border: 3px solid white
}

.title {
  span {
    border-bottom: 1px solid #eae9e9;
  }
}

.container-information {

  .fa {
    color: #e2e0e2;
  }

  span {
    font-size: 1.3rem;
    color: grey;
  }

}

.management-team-updated {
  .title span {
    font-size: 1.3rem;
    color: grey;
  }
}

.form-group {

  input {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: grey;
    line-height: normal;
    font-size: 0.8571em;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: none;
  }

  label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
  }

  select {
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    box-shadow: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: grey;
  }
}

.btn-confirm {
  font-size: 30px;
  transition: 0.5s;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.275);
  background: linear-gradient(40deg, #97b998, #0aa22b);
  border-radius: 25px;
  border: 2px solid white;

  span {
    font-size: 1.2rem;
    color: white;
  }
}

.btn-confirm:hover {
  span {
    font-size: 1.4rem;
    transition: 0.5s;
  }
}

.is-valid {
  color: #8ed433 !important;
  transition: 0.5s;
}

.oneSuggest {
  .profile-img img {
    height: 2rem;
    width: 2rem;
    border: white solid 2px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
    object-fit: cover;
  }
}

::ng-deep .mat-autocomplete-panel {
  border-radius: 9px;
}

::ng-deep .mat-form-field {
  border-radius: 25px;
  border: 1px solid #E3E3E3;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline, .mat-form-field-label {
    display: none;
  }

  .mat-form-field-infix {
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
  }

}

.container-profile {


  .oneAdmin {
    background-color: #f2f2f2;
    border-radius: 15px;
  }

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.175);
    padding: 2px;
  }

  li {
    list-style-type: none;
    width: 100%;
    cursor: pointer;
  }

  li:hover {
    background-color: #8080801f;
  }

  span,
  i {
    font-size: 1rem;
    color: grey;
    transition: 0.2s
  }

  i:hover {
    font-size: 1.2rem;
    transition: 0.2s
  }

  .container-suggestion {
    border-radius: 0 0 15px 15px;
    margin-left: 60px;
    border: 1px solid #ced4da;
    overflow: hidden;
  }

  input {
    box-shadow: none;
  }

  .adminPseudo {
    text-align: center;
  }

  .chooseRole {
    position: relative;

    select {
      -webkit-appearance: none;
      border-radius: 25px;
      cursor: pointer;
    }
  }

  .input-group {
    input {
      border-radius: 30px;
    }
  }


  .btn-role {
    border: 3px solid white;
    border-radius: 25px;
  
    span,
    i {
      color: white;
    }
  
    i {
      font-size: 1.5rem
    }
  }
  
  .chooseRole {
    .role-0 {
      background: linear-gradient(to right, #2193b0, #6dd5ed);
      cursor: not-allowed;
    }
  
    .role-1 {
      background: linear-gradient(to right, #ff0099, #493240)
    }
  
    .role-2 {
      background: linear-gradient(to right, #38ef7d, #11998e)
    }
  }
}





/* -------------- Loader1 -------------- */

.loader1 {
  background-color: #94949470;
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 80px;
  border: 3px solid rgba(255, 255, 255, .7);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: loader1 3s linear infinite;
  animation: loader1 3s linear infinite;
}

.loader1:after {
  background: #4f7dc1b3;
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes loader1 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


