<!-- Component Body -->
<div class="container-validation">
  <!-- Card Header -->
  <div class="card-header">
    <span>{{'CORE.Confirmation'|translate}}</span>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div [ngSwitch]="data.type" *ngIf="data">
      <div *ngSwitchCase="'deleteMusic'">
        <span>{{'VALIDATION.A-y-s-to-delete-t-music'|translate}}</span>
      </div>
      <div *ngSwitchCase="'deleteMusicProject'">
        <span>{{'VALIDATION.T-ll-cause-t-entire-project-to-be-deleted-a-y-s'|translate}}</span>
      </div>
      <div *ngSwitchCase="'changeDateMusicProject'">
        <span>{{'VALIDATION.A-y-s-to-change-t-date-project'|translate}}</span>
      </div>
      <div *ngIf="f.password.touched && f.password.errors" class="row mx-0 mt-4 error-message">
        <span class="mx-auto text-center">{{'PLEASE.Password'|translate}}</span>
      </div>
      <div *ngIf="(error$ | async) == 'email_or_password_invalid' || (errorCampaign$ | async) == 'email_or_password_invalid'"
      class="row mx-0 mt-4 error-message">
        <span class="mx-auto text-center">{{'ERROR-MESSAGE.Invalid-password'|translate}}</span>
      </div>
      <div *ngSwitchCase="'deleteCampaign'">
        <span>{{'VALIDATION.A-y-s-to-delete-campagn'|translate}}</span>
      </div>
    </div>
  </div>
  <!-- Card Footer -->
  <div class="card-footer">
    <form [formGroup]="sendForm">
      <div class="row">
        <div class="col-md-6 my-2">
          <input type="password" class="w-100 h-100 px-3 py-3" [placeholder]="'PLACEHOLDER.Your-Password'|translate"
           [ngClass]="{'border-red': f.password.touched && f.password.errors}" formControlName="password">
        </div>
        <div class="col-md-6 row mx-0 px-0 my-2 d-flex justify-content-center">
          <button class="btn btn-outline-primary mx-2 shadow" (click)="confirm()">
            <span>{{'CORE.Confirm'|translate}}</span>
          </button>
          <button class="btn btn-light mx-2 shadow" (click)="closeModal()">
            <span>{{'CORE.Cancel'|translate}}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
