<!-- Component Body -->
<div class="music-save container">
  <!-- Header -->
  <div class="row my-4">
    <div class="col-md-5">
      <div class="filter">
        <input type="text" [placeholder]="'CORE.Filter'|translate">
      </div>
    </div>
  </div>
  <!-- Music List -->
  <div class="card" *ngIf="(musicList$ | async); let music">
    <div class="oneMusic row mx-0 py-3" *ngFor="let m of music">
      <div class="col-md-1 my-auto">
       <span class="row index">
         <!-- Icon Play -->
         <i *ngIf="(audioPlaying$|async)?.file !== m.file || ((musicPlaying$ | async) === false)"
         class="mx-auto fa fa-play" (click)="controlMusicService.play(m, music)"></i>
         <!-- Icon Pause -->
         <i *ngIf="(audioPlaying$|async)?.file == m.file && ((musicPlaying$ | async) === true)"
         class="mx-auto fa fa-pause"(click)="controlMusicService.pause()"></i>
       </span>
      </div>
      <div class="col-md-1">
        <div class="avatar row">
          <img class="img-fluid mx-auto" [src]="m.profile.pictureprofile">
        </div>
      </div>
      <div class="col-md-4 name">
       <span class="ml-1 row title"><p>{{m.name}}</p></span>
       <span class="ml-1 row pseudo"><p>{{m.profile._meta.pseudo}}</p></span>
      </div>
      <div class="col-md-4 row feat">
       <span  *ngIf="false" class="mt-3 mr-4"><p>Feat : </p></span>
       <div  *ngIf="false" class="avatar">
         <img class="img-fluid" src="https://images.unsplash.com/photo-1534664393936-5220914620f0?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
       </div>
       <div  *ngIf="false" class="avatar">
          <img class="img-fluid" src="https://images.unsplash.com/photo-1533629087757-3c6c8733d553?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
        </div>
      </div>
      <div class="col-md-2 my-auto row mx-0">
        <i class="fa fa-times mx-auto" (click)="delete(m)"></i>
      </div>
    </div>
    <!-- No Musics -->
    <div class="row mx-0 py-4" *ngIf="music.length == 0">
      <span class="mx-auto">{{'EMPTY-MESSAGE.You-haven-t-liked-music-yet'|translate}}</span>
    </div>
  </div>
</div>