.container-fluid {
  background: linear-gradient(145deg, #00a9ce, #167dce, #3e56d4, #ff4b5b);
  height: 100vh;
  overflow: hidden;
}

/* Home */
.home {
  position: relative;
  left: 0;
  transition: All 1s;
  opacity: 1;
}

.home h1 {
  position: relative;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 700;
  left: 0.5rem;
  color: white;
}

.home button {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  background: transparent;
  font-size: 20px;
  outline: none;
}

.home button:hover {
  color: #a792ee;
  background: white;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.158);
}

.home button:active {
  border: none;
}


/* Sign in */
.connexionIn {
  position: relative;
  top: -34em;
  left: 100em;
  transition: All 1s;
  opacity: 1;
}

.bi-arrow-left {
  margin-left: 1.3em;
  cursor: pointer;
}


h2 {
  position: relative;
  color: white;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-left: 1.4rem;
  margin-top: 1em;
}

.signIn {
  border-radius: 20px;
  padding: 1.5rem;
}

.signIn p,
.signIn ::placeholder {
  color: #9ba6b6;
}

.signIn h1 {
  font-size: 25px;
  font-weight: 400;
  color: #002354;
}

.signIn input {
  background: #f6f7fa;
  border-radius: 15px;
  padding: 0.5rem;
  border: none;
}

.signIn input:focus {
  outline: none;
}

.signIn span {
  color: #a792ee;
  cursor: pointer;
}

.signIn span:hover {
  text-decoration: underline;
}

.signIn button {
  padding: 0.5rem;
  border-radius: 20px;
  color: white;
  background: linear-gradient(45deg, #00d0f9, #008dde, #5b53e6);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.158);
  font-size: 20px;
  outline: none;
  border: none;
}

button:disabled {
  background: linear-gradient(45deg, #acacac, #777777, #666666);
}