<div class="home d-flex flex-column justify-content-center">
  <img class="w-100 h-100" src="./../../assets/img/wiinslogo.png" alt="Wiin's Logo">
  <div class="col-md-12 col-sm-12 mt-3">
    <h1>Welcome</h1>
    <div class="col w-100 mt-5 d-flex flex-column">
      <button class="my-3 py-3" [routerLink]="['/sign/in']">Sign in</button>
      <button class="my-3 py-3">Create an account</button>
    </div>
  </div>
  <div class="col d-flex">
  </div>
  <div class="mt-4 d-flex justify-content-center" *ngIf="false">
    <img class="handshake" src="handshake.png" alt="Help">
    <img class="handholding" src="handholding.png" alt="Donation">
  </div>
</div>
