<!-- Component Body -->

<!-- Header -->
<div class="row mx-0">
  <div class="sort d-flex mx-auto mt-2">
    <span class="px-3">{{"CORE.Filter"|translate}}</span>
  </div>
</div>

<!-- List of group -->
<div class="card p-3 my-3 mx-2" *ngFor="let g of (groups$|async)" [ngClass]="{'selected': selectedStyle(g._id)}">
  <div class="row oneGroup">
    <div class="group-picture col-3" (click)="selectGroup(g._id)">
      <img class="rounded-circle shadow" [src]="g.pictureprofile">
    </div>
    <div class="col-7 my-auto" (click)="selectGroup(g._id)">
      <h4 class="mb-0">{{g.name}}</h4>
      <p class="mb-0">{{g.members_total}} {{'CORE.members'|translate}}</p>
    </div>
    <div class="col-2 my-auto d-flex justify-content-center">
      <!-- <div class="badge-notif">
        <div class="number-msg">3</div>
      </div> -->
      <div ngbDropdown class="dropdown">
        <button ngbDropdownToggle id="dropdownBasic1" type="button">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-scale" role="menu">
          <div *ngIf="(myadminsgroup$|async) let adming">
            <a class="dropdown-item" *ngIf="manageGroup(g._id, adming)"
              [routerLink]="['./../setting/' + g._id]">{{'CORE.Manage'|translate}}</a>
          </div>
          <a class="dropdown-item" (click)="openListModal(g)">{{'CORE.Members'|translate}}</a>
          <a class="dropdown-item" (click)="openModalLeaveGroup(g._id)">{{'CORE.Leave'|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create a group -->
<div class="card p-3 my-3 mx-2" [routerLink]="['../../SpaceCreative/choice']">
  <div class="row">
    <div class="group-picture col-md-3">
      <button class="btn button-open" type="button">
        <em class="fa fa-plus"></em>
      </button>
    </div>
    <div class="col-md-7 pl-0 my-auto">
      <p class="mb-0">{{'CREATION.Create-group'|translate}}</p>
    </div>
  </div>
</div>