<!-- Component Body -->
<div class="container-fluid container-list" *ngIf="(playlists$|async); let p" 
infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
(scrolled)="onScroll()" [infiniteScrollContainer]="'.container-router'" [fromRoot]="true">
  <!-- List Of Country -->
  <div class="row w-100 d-flex justify-content-center" *ngIf="playlistType == 'generator-coutries'">
    <div class="card m-3" *ngFor="let item of p" [routerLink]="['../../../playlist/' + item._id]">
      <img class="img-fluid h-100 w-100" [(src)]="item.pictureUrl">
      <div class="btnPlay p-2">
        <i class="fa fa-play fa-2x"></i>
      </div>
      <div class="footer-info w-100">
        <span class="title mb-2">{{item.name}}</span>
      </div>
    </div>
  </div>
  <!-- List Of Trend -->
  <div class="row w-100 d-flex justify-content-center" *ngIf="playlistType == 'generator-trend'">
    <div class="card m-3" *ngFor="let item of p" [routerLink]="['../../../playlist/' + item._id]">
      <img class="img-fluid h-100 w-100" [(src)]="item.pictureUrl">
      <div class="btnPlay p-2">
        <i class="fa fa-play fa-2x"></i>
      </div>
      <div class="footer-info w-100">
        <span class="title mb-2">{{item.name}}</span>
      </div>
    </div>
  </div>
</div>