.container-list {

  .card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
    border: 0;
    width: 265px;
    height: 255px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    .btnPlay {
      position: absolute;
      top: 27px;
      left: 27px;
      color: #fff;
      background-color: #e8e8e882;
      width: 50px;
      height: 49px;
      border-radius: 50%;
      border: 2px solid white;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;

      i {
        position: absolute;
        left: 14px;
        top: 7px
      }
    }

    img {
      object-fit: cover;
    }

    .footer-info {
      position: absolute;
      bottom: 15px;
      left: 10px;
      z-index: 5;

      span {
        color: #fff;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        display: block;
      }

      .title {
        font: 700 24px/1.2 "Poppins", sans-serif;
      }

      .views {
        font: 300 15px/1.2 "Poppins", sans-serif;
      }
    }
  }

  .card:hover {
    .btnPlay {
      visibility: visible;
      opacity: 1;
    }
  }

  .card:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  }

}

.btn-show-more{
  border-radius: 25px
}