<div class="container">
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      <div class="container">
        <div class="row mx-0 my-3">
          <span class="text-danger">
            {{'SETTING.ledger.Be-careful-make-sure-y-have-the-right-address-d'|translate}}
          </span>
        </div>
        <div class="row mx-0">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">{{'CORE.Your-Password..'|translate}}</th>
                <td><input autocomplete="off" [(ngModel)]="password" type="password" class="w-100 form-control"
                    [placeholder]="'CORE.Password'|translate"></td>
              </tr>
              <tr>
                <th scope="row">{{'SETTING.ledger.Address-to-send'|translate}}</th>
                <td><input [(ngModel)]="addressToSend" type="text" class="w-100 form-control"
                    [placeholder]="placeHolderAdress"></td>
              </tr>
              <tr>
                <th scope="row">{{'SETTING.ledger.Amount'|translate}}</th>
                <td>
                  <div class="input-group row mx-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{currencyChoosed}}</span>
                    </div>
                    <input [(ngModel)]="amountCryptoChoosed" type="number" min="0" (ngModelChange)="updateAmount()"
                      class="form-control" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': amountLimit < 0}">
                    <button (click)="setMaxAccount()" class="btn btn-outline-secondary btn-max" type="button"
                      id="button-addon2">{{'CORE.Max'|translate}}</button>
                  </div>
                  <div class="row mx-0" *ngIf="amountLimit < 0">
                    <h5 class="text-danger">{{'CORE.Not-enough'|translate}}</h5>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">{{'SETTING.ledger.Fees-3'|translate}}</th>
                <td>{{getNumberFees()}} {{currencyChoosed}}</td>
              </tr>
              <tr>
                <th scope="row">{{'CORE.Total'|translate}}</th>
                <td>{{getTotalInCrypto()}} {{currencyChoosed}}</td>
              </tr>
              <tr class="bg-grey">
                <th scope="row">Total in USD</th>
                <td> {{getAmountInUsd()}} $USD ({{ data.transfertAccount.currentTime | date:'medium' }})</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mx-0 d-flex justify-content-end">
          <button (click)="closeModal()" class="btn btn-danger mx-2">
            {{'CORE.Cancel'|translate}}
          </button>
          <button (click)="incompletMessage()"
            *ngIf="(amountCryptoChoosed == 0) || (amountLimit < 0) || (addressToSend == null)"
            class="btn btn-secondary mx-2">
            {{'CORE.Next'|translate}}
          </button>
          <button *ngIf="(amountCryptoChoosed !== 0) && (amountLimit >= 0) && (addressToSend !== null)"
            class="btn btn-primary mx-2" (click)="nextPage(1)">
            {{'CORE.Next'|translate}}
          </button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="1">
      <div class="container">
        <div class="row mx-0 mb-3">
          <div class="mx-auto">
            <h3>{{'CORE.Receipt'|translate}}</h3>
          </div>
        </div>
        <div class="row mx-0">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">{{'SETTING.ledger.Address-to-send'|translate}}</th>
                <td>{{addressToSend}}</td>
              </tr>
              <tr>
                <th scope="row">{{'SETTING.ledger.Amount'|translate}}</th>
                <td>{{amountCryptoChoosed.toFixed(6)}} {{currencyChoosed}}</td>
              </tr>
              <tr>
                <th scope="row">{{'SETTING.ledger.Fees-3'|translate}}</th>
                <td>{{getNumberFees()}} {{currencyChoosed}}</td>
              </tr>
              <tr>
                <th scope="row">{{'SETTING.ledger.Amount-to-transfert'|translate}}</th>
                <td>{{getTotalInCrypto()}} {{currencyChoosed}}</td>
              </tr>
              <tr class="bg-grey">
                <th scope="row">{{'SETTING.ledger.Total-in-USD'|translate}}</th>
                <td> {{getAmountInUsd()}} $USD ({{ data.transfertAccount.currentTime | date:'medium' }})</td>
              </tr>
            </tbody>
          </table>
          <span>{{'SETTING.ledger.Y-are-going-t-transfert-to-this-address-d'|translate}} <span class="text-danger">{{'VALIDATION.T-operation-is-irreversible'|translate}}</span>
          </span>
        </div>
        <div class="row mx-0 d-flex justify-content-end">
          <button class="btn btn-secondary mx-2" (click)="previousPage()">{{'CORE.Back'|translate}}</button>
          <button class="btn btn-primary mx-2" (click)="nextPage(2)">{{'CORE.Next'|translate}}</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <div class="container">
        <!-- Loading Animations -->
        <div *ngIf="loadingReponse" class="row mx-0 container-loading">
          <div class="loader m-auto">{{'CORE.Loading'|translate}}</div>
        </div>
        <!-- Error Response -->
        <div *ngIf="errorResponse" class="row mx-0 text-center py-3">
          <span>{{errorMessage}}</span>
        </div>
        <!-- Valid Response-->
        <div *ngIf="validResponse" class="row mx-0">
          <span>{{'SETTING.ledger.T-admin-ll-take-24h-d'|translate}}</span>
        </div>
        <div class="row mx-0">
          <button class="btn btn-primary ml-auto" (click)="nextPage(3)">{{'CORE.Close'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>