<div class="container">
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      <div class="container">
        <div class="row mx-0 my-3">
          <span class="text-danger">Be careful, make sure you have the right address. No refund after
            confirmation of the transfer.</span>
        </div>
        <div class="row mx-0">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Address to send</th>
                <td><input type="text" class="w-100 form-control" [placeholder]="placeHolderAdress"></td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td>
                  <div class="input-group mb-3 row mx-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{currencyChoosed}}</span>
                    </div>
                    <input [(ngModel)]="amountCryptoChoosed" type="number" min="0" (ngModelChange)="updateAmount()"
                    class="form-control" aria-describedby="basic-addon1" [ngClass]="{'is-invalid': this.amountLimit < 0}">
                    <button (click)="setMaxAccount()" class="btn btn-outline-secondary btn-max" type="button" id="button-addon2">Max</button>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Fees (3%)</th>
                <td>{{0.03*amountCryptoChoosed.toFixed(6)}} {{currencyChoosed}}</td>
              </tr>
              <tr>
                <th scope="row">{{'CORE.Total'|translate}}</th>
                <td>{{getTotalInCrypto()}} ETH</td>
              </tr>
              <tr class="bg-grey">
                <th scope="row">Total in USD</th>
                <td> {{getAmountInUsd()}} $USD ({{ data.transfertAccount.currentTime | date:'medium' }})</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="row mx-0">
          <button class="btn btn-primary ml-auto" (click)="nextPage(1)">{{'CORE.Next'|translate}}</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="1">
      <div class="container">
        <div class="row mx-0">
          <div class="mx-auto">
            <h3>{{'CORE.Receipt'|translate}}</h3>
          </div>
        </div>
        <div class="row mx-0">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Adress to send</th>
                <td>sdfkjsdfnsdflmsdofsdfnsdjfq30rsdcvnsd</td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td>100$</td>
              </tr>
              <tr>
                <th scope="row">Admin Fees (15%)</th>
                <td>15$</td>
              </tr>
              <tr>
                <th scope="row">Amount to transfert</th>
                <td>85$</td>
              </tr>
            </tbody>
          </table>
          <span>You are going to transfert 100$ to this adresse. Are you sure ? The administration will confirm the
            transaction in a 24h delay.</span>
          <span class="text-danger">Be carefule, make sure you have the right adresse. No refund is possible after
            confirmation of the transfer.</span>
        </div>
        <div class="row mx-0 d-flex justify-content-end">
          <button class="btn btn-secondary mx-2" (click)="previousPage()">{{'CORE.Back'|translate}}</button>
          <button class="btn btn-primary mx-2" (click)="nextPage(2)">{{'CORE.Next'|translate}}</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <div class="container">
        <div class="row mx-0">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.</span>
        </div>
        <div class="row mx-0">
          <button class="btn btn-primary ml-auto" (click)="nextPage(3)">{{'CORE.Close'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>