.modal-alert-div {
  input {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    box-shadow: none;
    color: grey;
    text-align: center;
  }

  span {
    color: grey;
  }

  p {
    color: #7f7fe9;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

}


