<div class="container" *ngIf="(page$ | async); let p" >
  <!-- Rendre Invisible la page  -->
  <!-- <div class="card row my-5" *ngIf="p.active == true">
    <div class="card-body row">
      <div class="col">
        <div class="mx-3 my-2">
          <h3 class="card-title">{{'PAGE.setting.Visibility-of-page'|translate}}</h3>
          <p class="card-text">{{'PAGE.setting.Visibility-of-page-d'|translate}}</p>
          <div class="row">
            <a (click)="blockoption = !blockoption" class="ml-auto btn btn-warning sub-btn">{{'PAGE.setting.Mak-it-invisible'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="blockoption" class="card-body row mx-0 content-warning">
      <div class="col row px-3">
        <div class="col-md-4 mx-3 my-2">
          <p class="card-text">{{'PAGE.setting.message-no-visible'|translate}}</p>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input [(ngModel)]="passwordToSend" [placeholder]="'PLACEHOLDER.Your-Password'|translate"
            type="password" class="form-control" name="pwd" autocomplete="new-password">
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="btn-valid">
            <button (click)="changeVisibility('noVisible')"
            class="mx-2 mt-1 block-btn" mat-raised-button color="warn">{{'CORE.Confirm'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Rendre visible la page -->
  <!-- <div class="card row my-5" *ngIf="p.active == false">
    <div class="card-body row">
      <div class="col">
        <div class="mx-3 my-2">
          <h3 class="card-title">{{'PAGE.setting.re-active-page'|translate}}</h3>
          <p class="card-text">{{'PAGE.setting.re-active-page-d'|translate}}</p>
          <div class="row">
            <a (click)="blockoption = !blockoption" class="ml-auto btn btn-warning sub-btn">{{'PAGE.setting.re-active-page'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="blockoption" class="card-body row mx-0 content-warning">
      <div class="col row px-3">
        <div class="col-md-4 mx-3 my-2">
          <p class="card-text">{{'PAGE.setting.message-no-visible'|translate}}</p>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input [(ngModel)]="passwordToSend" [placeholder]="'PLACEHOLDER.Your-Password'|translate"
            type="password" class="form-control" name="pwd" autocomplete="new-password">
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="btn-valid">
            <button (click)="changeVisibility('Visible')"
            class="mx-2 mt-1 block-btn" mat-raised-button color="warn">{{'CORE.Confirm'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Supprimer la page -->
  <div class="card row my-5">
    <div class="card-body row">
      <div class="col">
        <div class="mx-3 my-2">
          <h3 class="card-title">{{'PAGE.setting.delete-page'|translate}}</h3>
          <p class="card-text">{{'PAGE.setting.delete-page-d'|translate}}</p>
          <div class="row">
            <a (click)="deleteoption = !deleteoption" class="ml-auto btn btn-danger sub-btn">{{'PAGE.setting.delete-page'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="deleteoption" class="card-body row mx-0 content-warning">
      <div class="col row px-3">
        <div class="col-md-4 mx-3 my-auto">
          <p class="card-text">{{'PAGE.setting.redirection-to-your-profile'|translate}}</p>
        </div>
        <div class="col-md-4 my-auto">
          <div class="form-group mb-0">
            <input [(ngModel)]="passwordDelete" [placeholder]="'PLACEHOLDER.Your-Password'|translate"
            type="password" class="form-control" name="pwd" autocomplete="new-password">
          </div>
        </div>
        <div class="col-md-3 my-auto">
          <div class="btn-valid">
            <button (click)="deletePage()" class="mx-2 mt-1 block-btn" mat-raised-button color="warn">{{'PAGE.setting.delete-page'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
