<!-- Component Body -->
<div class="container-validation">

  <!-- Actif page -->
  <div [ngSwitch]="page">

    <!-- Page 1 -->
    <div *ngSwitchCase="1">

      <!-- Card Header -->
      <div class="card-header">
        <span>{{'REPORT.Report-type'| translate}}</span>
      </div>

      <!-- Card Body -->
      <div class="card-body">

        <!-- List of btn categorie -->
        <div class="row d-flex justify-content-center">
          <div *ngFor="let item of categorieData">
            <button class="btn mx-1 my-2 btn btn-secondary"
              [ngClass]="{'active': categorieSelected.includes(item.number) }"
              (click)="addOrRemoveCategorie(item.number)" type="button">
              <span class="">{{item.type | translate}}</span>
            </button>
          </div>
        </div>

        <!-- Optional Comment -->
        <div class="row mt-3">
          <form class="w-100">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Write a large text here ..." [(ngModel)]="comment" [ngModelOptions]="{standalone: true}">
             </textarea>
          </form>
        </div>
      </div>

      <!-- Card Footer -->
      <div class="card-footer">
        <div class="row d-flex justify-content-end">
          <button class="btn btn-secondary mx-2" (click)="closeModal()" type="button">
            <span>{{'CORE.Back'|translate}}</span>
          </button>
          <button class="btn btn-primary" (click)="changePage(2)" type="button">
            <span>{{'CORE.Next'|translate}}</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Page 2 -->
    <div *ngSwitchCase="2">

      <!-- Card Header -->
      <div class="card-header">
        <span>{{'REPORT.Report-Modal-Message.To-fight-against-inappropriate-contents-D'| translate}}</span>
      </div>

      <!-- Card Body -->
      <div class="card-body">
        <div class="container">
          <!-- <div class="row mx-0 my-2" *ngFor="let d of categorieData[categorieSelected - 1 ].descriptions">
            <li class="list-group-item">{{d | translate}}</li>
          </div> -->


          <div class="row mx-0 my-2">
            <div *ngFor="let d of categorieSelected">
              <li *ngFor="let d of categorieData[d-1].descriptions" class="list-group-item m-2">{{d | translate}}</li>
            </div>
          </div>

        </div>
      </div>

      <!-- Card Footer -->
      <div class="card-footer">
        <div class="row d-flex justify-content-end">
          <button class="btn btn-secondary mx-2" (click)="changePage(1)" type="button">
            <span>{{'CORE.Back'|translate}}</span>
          </button>
          <button class="btn btn-primary mx-2" (click)="sendReport()" type="button">
            <span>{{'CORE.Confirm'|translate}}</span>
          </button>
        </div>
      </div>

    </div>

    <!-- Page 3 -->
    <div *ngSwitchCase="3">

      <!-- Card Header -->
      <div class="card-header">
        <span>{{'CORE.Confirmation'| translate}}</span>
      </div>

      <!-- Card Body -->
      <div class="card-body">
        <div class="container">
          <div class="row mx-auto text-center">
            <span>{{'REPORT.Report-Modal-Message.Confirmation-message'|translate}}</span>
          </div>
        </div>
      </div>

      <!-- Card Footer -->
      <div class="card-footer">
        <div class="row">
          <div class="ml-auto">
            <button class="btn btn-primary" (click)="closeModal()" type="button">
              <span>{{'CORE.close'|translate}}</span>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>