.container-validation {

  @import 'src/assets/scss/button.scss';

  .modal-content {
    border-radius: 15px;
    overflow: hidden;
  }

  .card-body {
    background-color: white;
    max-height: 22rem;
    overflow-y: scroll
  }

  .btn-light {
    border-color: #aeaeae;
  }

  textarea {
    resize: none;
    font-size: 1.06rem;
  }

}

.btn-categorie {
  outline: 0;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  background-color: #f0f0f0a1;
}

button:focus {
  background-color: transparent;
  border: 0;
}