@import 'src/assets/scss/component/login-register.scss';
@import 'src/app/sign/sign.component.scss';

:host {
  width: 100%;
}

.container-card {
  border-radius: 20px;
  padding: 1.5rem;
}

.btn-log-in {
  padding: 0.5rem;
  border-radius: 20px;
  color: white;
  background: linear-gradient(45deg, #59e3ff, #008dde, #5b53e6);
  box-shadow: 0px 1px 10px 1px rgb(0 0 0 / 16%);
  font-size: 20px;
  outline: none;
  border: none;
  width: 20em;
}