<!-- Component Body -->
<div class="row h-100">
  <div class="m-auto col-11 col-sm-9 col-md-5 ">
    <div class="row mx-0">
      <!-- State of the response -->
      <div class="px-0 card mx-auto w-100">
        <!-- Account activated -->
        <div *ngIf="profileReceived == 'profileReceived'">
          <div class="card-body">
            <span class="title row mx-0">{{'CORE.Welcome'| translate }}</span>
            <span class="row mx-0">{{'VALID-MESSAGE.Yr-account-is-activated'| translate}}</span>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="ml-auto mr-4">
                <button class="btn-log-in py-2" (click)="logIn()">
                  <i class="fa fa-bolt px-2"></i>
                  <span class="pr-2"> {{'LOGIN-REGISTRER.Log-In' | translate }} </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Loading Request -->
        <div *ngIf="profileReceived == 'pending'" class="my-auto">
          <div class="h-100" id="preloader">
            <div id="loader"></div>
          </div>
        </div>
        <!-- Error Response  -->
        <div *ngIf="profileReceived == 'profileFailed'">
          <div class="card-body">
            <span class="title row mx-0 mb-2">{{'ERROR-MESSAGE.A-err-has-occurred'| translate }}</span>
            <span
              class="row mx-0">{{'ERROR-MESSAGE.An-error-h-occurred-Yr-profile-must-already-be-activated,-or-this-profile-does-nt-exist'| translate }}</span>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="ml-auto mr-4">
                <button class="btn-log-in py-2" (click)="navigateToSign()">
                  <i class="fa fa-bolt px-2"></i>
                  <span class="pr-2"> {{'LOGIN-REGISTRER.Register' | translate }} </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
