.main-messenger {
  height: 100%;
  overflow-y: scroll;
}

.conversation {
  border-left: 1px solid #e7e7e7;
  overflow: hidden;
  height: 100%;
  z-index: 1
}

.list-user {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}