.main-messenger {
  height: 90%;
  overflow-y: auto;
}

.conversation {
  width: 65%;
  border-left: 1px solid #e7e7e7;
  overflow: hidden;
  height: 100%;
  z-index: 1
}

.list-user {
  width: 35%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}