@import 'src/assets/scss/form.scss';


/* panel */

::ng-deep .main-info {
  .mat-datepicker-toggle {
    position: absolute;
    bottom: -10px;
  }
}

.date-form {
  overflow: hidden;
}

.panel-header {
  padding-top: 80px;
  padding-bottom: 80px;
  background-size: 105%;
  position: relative;
  overflow: hidden;
}

/* main */

.main-content {
  padding: 0 30px 30px;
  min-height: calc(100vh - 123px);
  margin-top: -30px;
}

.card {
  border: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 25px;
  overflow: hidden;
}

.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}

.card .card-body {
  padding: 15px 15px 10px 15px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.title {
  font-weight: 700;
  font-size: 1.2rem;
}

.pseudo {
  color: #777;
}

/* card user */

.card-user .card-body {
  min-height: 130px;
  z-index: 1;
}

.card .card-body {
  padding: 15px 15px 10px 15px;
}

.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -77px;
}

.card-user .avatar {
  width: 124px;
  height: 124px;
  border: 1px solid #FFFFFF;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card .image {
  overflow: hidden;
  position: relative;
}

a {
  color: #f96332;
}

.description {
  font-size: 1.14em;
  color: #9A9A9A;
  font-weight: 300;
}

.card label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9A9A9A;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.card-user hr {
  margin: 5px 15px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-user .button-container {
  margin-bottom: 6px;
  text-align: center;
}


.btn-neutral {
  background-color: #FFFFFF;
  color: #f96332;
}


.btn-footer {
  button {
    border-radius: 5px;
    font-size: 1.2rem;
    border: 0;
  }
}

.error-message {
  font-size: 0.8rem;
  position: relative;
  top: -16px;
}
